{% load staticfiles i18n thumbnail %}
<div class="table-responsive">
    <!-- DATA TABLE -->
    <table id="datatable1" class="table table-striped table-hover">
       <thead>
          <tr>
              <th class="sort-alpha">&nbsp;</th>
              <th class="sort-alpha">{% trans 'Title' %}</th>
              <th class="sort-numeric">{% trans 'Due Date/Time' %}</th>
              <th>&nbsp;</th>
          </tr>
       </thead>
       <tbody>
          <!-- TABLE ROWS -->
          {% for task in tasks.all %}
          <tr>
             <td>
                 <div class="media">
                     {% thumbnail task.assigned_by.image.imagefile "64x64" format='JPEG' background="#ffffff" as im %}
                         <img src="{{ im.url }}" alt="{{ task.assignee.name }} Avatar" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-circle" />
                     {% empty %}
                         <img src="{% static 'app/img/dummy64x64.png' %}" alt="{{ task.assignee.name }} Avatar" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-circle" />
                     {% endthumbnail %}
                 </div>
             </td>
             <td>{{ task.name }}</td>
             <td>{{ task.due }}</td>
             <td>
                 {% if request.user == task.owner %}
                 <a onclick="ajax_delete({{ task.id }});" class="btn btn-xs btn-danger" id="id_delete_{{ task.id }}">
                     {% trans 'Delete' %} <i class="fa fa-remove"></i>
                 </a>
                 <a href="{% url 'tenant_task_details' task.id %}" class="btn btn-xs btn-warning">
                     {% trans 'Edit' %} <i class="fa fa-edit"></i>
                 </a>
                 {% endif %}
                 {% comment %}
                 <a href="{% url 'tenant_calendar_details_info' task.id %}" class="btn btn-xs btn-info">{% trans 'View' %}&nbsp;<i class="fa fa-info-circle"></i></a>
                 {% endcomment %}
             </td>
          </tr>
          {% endfor %}
          <!-- end TABLE ROWS -->

       </tbody>
    </table>
    <!-- end DATA TABLE -->

</div>
