{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}

{% compress js inline %}
    {% include 'tenant_task/master/js.html' %}
{% endcompress %}

<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <div class="pull-right">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-link">
            <em class="fa fa-ellipsis-v fa-lg"></em>
            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInLeft">
                <li>
                    <a onclick="ajax_create_task({{ TASK_BASIC_TYPE }});">
                        <em class="fa fa-fw fa-child mr"></em>
                        <span>{% trans 'Create Basic Task' %}</span>
                    </a>
                    <a onclick="ajax_create_task({{ TASK_CALENDAR_TYPE }});">
                        <em class="fa fa-fw fa-calendar mr"></em>
                        <span>{% trans 'Create Calendar Task' %}</span>
                    </a>
                    <a onclick="ajax_create_task({{ TASK_DOCGEN_TYPE }});">
                        <em class="fa fa-fw fa-file-pdf-o mr"></em>
                        <span>{% trans 'Document Generation Task' %}</span>
                    </a>
                    <a onclick="ajax_create_task({{ TASK_LEARNING_TYPE }});">
                        <em class="fa fa-fw fa-graduation-cap mr"></em>
                        <span>{% trans 'Learning Task' %}</span>
                    </a>
                    <a onclick="ajax_create_task({{ TASK_WEBFORM_TYPE }});">
                        <em class="fa fa-fw fa-edit mr"></em>
                        <span>{% trans 'Web Form Task' %}</span>
                    </a>
                    <a onclick="ajax_create_task({{ TASK_UPLOAD_TYPE }});">
                        <em class="fa fa-fw fa-paperclip mr"></em>
                        <span>{% trans 'Download &amp; Upload Task' %}</span>
                    </a>
                    <a onclick="ajax_create_task({{ TASK_RESOURCE_TYPE }});">
                        <em class="fa fa-fw fa-external-link mr"></em>
                        <span>{% trans 'Resource Task' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h3>{% trans 'Task' %}
        <small>{% trans 'A list of tasks that involes you.' %}</small>
    </h3>
    <!-- START panel-->
    <div class="panel panel-default">
        <!-- <div class="panel-heading">Demo Table #1</div> -->
        <div role="tabpanel" class="panel panel-transparent">
            <!-- Nav tabs-->
            <ul role="tablist" class="nav nav-tabs nav-justified">
                <li role="presentation" class="active">
                    <a href="#pending_tasks" aria-controls="pending_tasks" role="tab" data-toggle="tab" class="bb0">
                    <em class="fa fa-clock-o fa-fw"></em>{% trans 'Pending Tasks' %}</a>
                </li>
                <li role="presentation">
                    <a href="#incomplete_tasks" aria-controls="incomplete_tasks" role="tab" data-toggle="tab" class="bb0">
                    <em class="fa fa-remove fa-fw"></em>{% trans 'Incomplete Tasks' %}</a>
                </li>
                <li role="presentation">
                    <a href="#completed_tasks" aria-controls="completed_tasks" role="tab" data-toggle="tab" class="bb0">
                    <em class="fa fa-check fa-fw"></em>{% trans 'Completed Tasks' %}</a>
                </li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content p0 bg-white">
                <div id="pending_tasks" role="tabpanel" class="tab-pane active">
                    <!-- START list group-->
                    {% include 'tenant_task/master/table_view.html' with tasks=pending_tasks %}
                    <!-- END list group-->
                </div>
                <div id="incomplete_tasks" role="tabpanel" class="tab-pane">
                    <!-- START table responsive-->
                    {% include 'tenant_task/master/table_view.html' with tasks=incomplete_tasks %}
                    <!-- END table responsive-->
                </div>
                <div id="completed_tasks" role="tabpanel" class="tab-pane">
                    <!-- START table responsive-->
                    {% include 'tenant_task/master/table_view.html' with tasks=completed_tasks %}
                    <!-- END table responsive-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end PAGE CONTENT -->

{% endblock content %}
