{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}

{% compress js inline %}
    {% include 'tenant_task/master/js.html' %}
{% endcompress %}

<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <!-- SIDEBUTTON -->
    <div class="pull-right">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-link">
            <em class="fa fa-plus fa-lg"></em>&nbsp;<b>{% trans 'New Task' %}</b>
            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInLeft">
                <li>
                    <a onclick="ajax_create_task({{ constants.TASK_BY_CUSTOM_TYPE }});">
                        <em class="fa fa-fw fa-user mr"></em>
                        <span>{% trans 'New Task by Individual' %}</span>
                    </a>
                    <a onclick="ajax_create_task({{ constants.TASK_BY_TAG_TYPE }});">
                        <em class="fa fa-fw fa-users mr"></em>
                        <span>{% trans 'New Task by Tag' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end SIDEBUTTON -->

    <!-- TITLE & BREADCRUMBS -->
    <h3>
        <em class="fa fa-fw ffa icon-notebook mr"></em>{% trans 'Tasks' %}
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a>
            </li>
            <li class="active">{% trans 'Tasks' %}</li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE & BREADCRUMBS -->

    <!-- START panel-->
    <div class="panel panel-default">
        <!-- <div class="panel-heading">Demo Table #1</div> -->
        <div role="tabpanel" class="panel panel-transparent">
            <!-- Nav tabs-->
            <ul role="tablist" class="nav nav-tabs nav-justified">
                <li role="presentation" {% if sub_page == 'open' %}class="active"{% endif %}>
                    <a href="{% url 'tenant_task_master_open' %}" aria-controls="open_tasks" class="bb0">
                    <em class="fa fa-clock-o fa-fw"></em>{% trans 'Open Tasks' %}</a>
                </li>
                <li role="presentation" {% if sub_page == 'complete' %}class="active"{% endif %}>
                    <a href="{% url 'tenant_task_master_closed' %}" aria-controls="completed_tasks" class="bb0">
                    <em class="fa fa-check fa-fw"></em>{% trans 'Completed Tasks' %}</a>
                </li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content p0 bg-white">
                <div id="open_tasks" role="tabpanel" class="tab-pane active">
                    <!-- START list group-->
                    <div style="padding: 25px;">
                        {% include 'tenant_task/master/table_view.html' with tasks=tasks %}
                    </div>
                    <!-- END list group-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end PAGE CONTENT -->

{% endblock content %}
