{% load i18n %}
<script>
    $(document).ready(function () {
        // Keypress for enter.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress
    }); // end DOCUMENT START

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true); // Disable button.
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false); // Enable button.
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_round_two_step_one' %}";
    }

    function ajax_save_and_continue() {
        var identities = []; // initialize empty array
        $(".source:checked").each(function(){
            identities.push($(this).val());
        });
        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_intake(
            {{ intake.id }},
            function(intake) {
                intake['identities'] = identities;
                set_tenant_intake(
                    intake,
                    function(json_result) {
                        window.location = "{% url 'tenant_intake_entr_round_two_step_three' %}";
                    },
                    function(error_json_result) {
                        enable_btn();
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Intake.
            },
            function(error_json_result) {
                enable_btn();
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        ); // end Get Intake.
    }
</script>
