{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/round_2/2/js.html' with intake=intake %}
    {% endcompress %}
<div class="content-wrapper">
        <h3 class="blk-h3">{% trans 'Entrepreneur Intake Form - Round Two' %}</h3>
                    <!-- OPTIONS -->
                    <div class="form-group" id="id_how_can_we_help_div">
                        <h2 class="text-center pv">
                            <label for="signupInputText1">
                                <label for="id_how_can_we_help">{% trans 'Do you currently receive any of the following government benefits? (select all that apply)' %}</label>
                            </label>
                        </h2>
                        <div class="col-sm-6 col-centered">
                        {% for identity in identities.all %}
                        <div class="checkbox c-checkbox">
                            <label>
                                <input value="{{ identity.id }}"
                                {% if identity in intake.identities.all %}
                                     checked="checked"
                                {% endif %}
                                       class="source"
                                          id="id_identity_{{ identity.id }}"
                                        type="checkbox" />
                                        <span class="fa fa-check"></span>
                                        {{ identity.name }}
                            </label>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    <!-- end OPTIONS -->

            <div class="actions text-center clearfix">
                    <button id="id_back_btn" type="button" class="btn btn-block btn-default mt-lg mb-lg btn-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                    <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>

</div>
{% endblock content %}
