{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_resource/details/info/js.html' with inforesource=inforesource constants=constants %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- TITLE -->
    <h3>
        <!-- TEXT -->
        {% if type_of == constants.INFO_RESOURCE_INTERAL_URL_TYPE %}
            <em class="fa fa-fw fa-link mr"></em>{% trans 'New Internal Resource' %}
        {% elif type_of == constants.INFO_RESOURCE_EXTERNAL_URL_TYPE %}
            <em class="fa fa-fw fa-external-link mr"></em>{% trans 'New External Resource' %}
        {% elif type_of == constants.INFO_RESOURCE_EMBEDDED_YOUTUBE_VIDEO_TYPE %}
            <em class="fa fa-fw fa-youtube mr"></em>{% trans 'New Embedded YouTube Video Resource' %}
        {% elif type_of == constants.INFO_RESOURCE_INTERNAL_VIDEO_TYPE %}
            <em class="fa fa-fw fa-video-camera mr"></em>{% trans 'New Video Resource' %}
        {% elif type_of == constants.INFO_RESOURCE_INTERNAL_FILE_TYPE %}
            <em class="fa fa-fw fa-download mr"></em>{% trans 'New File Download Resource' %}
        {% endif %}
        <!-- end TEXT -->

        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a>
            </li>
            <li>
                <a href="{% url 'tenant_resource_category_master' %}">{% trans 'Resource' %}</a>
            </li>
            <li class="active">
                {% trans 'View Resource' %}
            </li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE -->
    <!-- CONTENT -->
    <div class="table-grid table-grid-desktop">
        <!-- ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- FORM -->
                        <form method="get" action="/" class="form-horizontal">
                            <fieldset>
                                <legend>{% trans 'Details' %}</legend>
                                <!-- NAME -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Name' %}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control" id="id_name" placeholder="{% trans 'Ex.: Task' %}" value="{{ inforesource.name|safe }}" readonly="true" />
                                    </div>
                                </div>
                                <!-- end NAME -->
                                <br /><br />
                                <!-- DESCRIPTION -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Description' %}</label>
                                    <div class="col-sm-10">
                                        <textarea id="id_description" class="form-control" name="textarea" rows="10" placeholder="{% trans 'Please write some details about this resource.' %}" readonly="true">{{ inforesource.description|safe }}</textarea>
                                    </div>
                                </div>
                                <!-- end DESCRIPTION -->
                                <br /><br />
                                <!-- URL -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'URL' %}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control" id="id_url" placeholder="{% trans 'Ex.: http://smegurus.com/task/1/' %}" value="{{ inforesource.url|safe }}" readonly="true" />
                                    </div>
                                </div>
                                <!-- end URL -->
                                <br /><br />
                                <!-- FILE UPLOAD -->
                                {% if inforesource.type_of == constants.INFO_RESOURCE_INTERNAL_FILE_TYPE %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{% trans 'File' %}</label>
                                        <div class="col-sm-10">
                                            {% if inforesource.upload %}
                                                <p>{% trans 'File' %}: <a href="{{ inforesource.upload.get_s3_url }}" target="_blank">{{ inforesource.upload }}</a></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br /><br />
                                {% endif %}
                                <!-- end FILE UPLOAD -->
                                <!-- VIDEO UPLOAD -->
                                {% if inforesource.type_of == constants.INFO_RESOURCE_INTERNAL_VIDEO_TYPE %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'File' %}</label>
                                    <div class="col-sm-10">
                                        <video width="480" height="320" controls="controls">
                                            <source src="{{ inforesource.upload.get_s3_url }}" type="video/mp4">
                                        </video>
                                    </div>
                                    <br /><br />
                                </div>
                                {% endif %}
                                <!-- end VIDEO UPLOAD -->
                                <!-- YOUTUBE -->
                                {% if inforesource.type_of == constants.INFO_RESOURCE_EMBEDDED_YOUTUBE_VIDEO_TYPE %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'YouTube Video' %}</label>
                                    <div class="col-sm-10">
                                        <iframe width="560" height="315" src="{{ inforesource.url }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <br /><br />
                                </div>
                                {% endif %}
                                <!-- end YOUTUBE -->

                            </fieldset>
                            <!-- SUBMISSION -->
                            <div class="pull-right">
                                <button onclick="ajax_cancel();" type="button" class="btn btn-default btn-lg" id="id_accept_btn">{% trans 'Ok' %}</button>
                            </div>
                            <!-- end SUBMISSION -->
                        </form>
                        <!-- end FORM -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end ROW -->
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
