{% load i18n %}

        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Upcoming Events</div>
            </div>
            <!-- Default external events list-->
                <div class="panel-body">
                    <div class="events-v2">
                        <div class="bg-green-v2">Lunch</div>
                        <div class="bg-red-v2">Go home</div>
                        <div class="bg-yellow-v2">Watch TV</div>
                        <div class="bg-info">Do homework</div>
                        <div class="bg-warning">Work on UI design</div>
                        <div class="bg-gray-dark-v2">Sleep tight</div>
                    </div>
                </div>
        </div>
        <!-- END panel-->
