{% load i18n %}
<div class="panel widget">
    <div class="row row-table">
        <div class="col-xs-4 text-center bg-green-v2 pv-lg">
            <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
            <div data-now="" data-format="MMMM" class="text-sm"></div>
            <br>
            <div data-now="" data-format="D" class="h2 mt0"></div>
        </div>
        <div class="col-xs-8 pv-lg">
            <div data-now="" data-format="dddd" class="text-uppercase"></div>
            <br>
            <div data-now="" data-format="h:mm" class="h2 mt0"></div>
            <div data-now="" data-format="a" class="text-muted text-sm"></div>
        </div>
    </div>
</div>
