{% load i18n %}
<div class="panel panel-default">
    <div class="panel-body">
        <a href="#" class="text-muted pull-right">
            <em class="fa fa-arrow-right"></em>
        </a>
        <div class="panel-title">Progress</div>
        <canvas data-classyloader="" data-percentage="{{ progress_percent }}" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="#8bc34a" data-remaining-line-color="rgba(200,200,200,0.4)" data-line-width="10"
                data-rounded-line="true" class="center-block"></canvas>
        <div data-sparkline="" data-bar-color="#8bc34a" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7" class="text-center"></div>
    </div>
    <div class="panel-footer">
        <p class="text-muted">
            <!-- <em class="fa fa-upload fa-fw"></em>
            <span>Goals Achieved This Month</span>
            <span class="text-dark">10</span> -->
        </p>
    </div>
</div>
