{% load i18n staticfiles thumbnail compress foundation_tenant_tags %}
<!-- JS -->
{% compress js inline %}
    <script>
    $(document).ready(function () {
        // Detect table click and the row index clicked then run the code.
        $(document).on("click", '#id_message_table tr', function(){
            var sender_id = $(this).attr("id");
            window.location = sender_id;
        });
    });
    </script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<div class="panel panel-default">
<div class="panel-heading" style="padding: 12px 15px;">
    <div class="panel-title">{% trans 'Messages' %}</div>
</div>
    <div data-height="478" data-scrollable="" class="panel-body">
        <!-- p.lead.text-centerNo mails here-->
        <table class="table table-hover mb-mails" id="id_message_table">
        <tbody>
            {% for message in messages.all %}
            <tr id="{% if message.sender == request.tenant_me %}
                        {% url 'tenant_conversation' message.recipient.id %}
                    {% else %}
                        {% url 'tenant_conversation' message.sender.id %}
                    {% endif %}">
                {% comment %}
                <td>
                    <div class="checkbox c-checkbox">
                        <label>
                        <input type="checkbox">
                        <span class="fa fa-check"></span>
                        </label>
                    </div>
                </td>
                {% endcomment %}

                <td>
                    {% thumbnail message.sender.image.imagefile "64x64" format='JPEG' background="#ffffff" as im %}
                        <img src="{{ im.url }}" alt="{% trans 'Mail Avatar' %}" width="{{ im.width }}" height="{{ im.height }}" class="mb-mail-avatar pull-left">
                    {% empty %}
                        <img src="{% static 'app/img/dummy64x64.png' %}" alt="{{ intake.me.name }} Avatar" width="{{ im.width }}" height="{{ im.height }}" class="mb-mail-avatar pull-left">
                    {% endthumbnail %}
                    <div class="mb-mail-date pull-right">
                        {{ message.date_received|pretty_formatted_date }}
                    </div>
                    <div class="mb-mail-meta">
                        <div class="pull-left">
                            <!-- <div class="mb-mail-subject">Admin web application</div> -->
                            <div class="mb-mail-from">
                                {{ message.sender.owner.first_name }} {{ message.sender.owner.last_name }}
                            </div>
                        </div>
                        <div class="mb-mail-preview">{{ message.description|truncatechars:64 }}</div>
                    </div>
                </td>

            </tr>
            {% empty %}
            <tr>
                <p>{% trans 'No messages.' %}</p>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<!-- end HTML -->
