{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
<!-- PAGE JS -->
<input id="id_user" type="hidden" value="{{ recipient.id }}" />
{% compress js inline %}
    {% include 'tenant_message/composer/js.html' %}
{% endcompress %}
<!-- end PAGE JS -->

<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- TITLE & BREADCRUMBS -->
    <h3>
        <em class="fa fa-fw ffa icon-envelope mr"></em>{% trans 'Inbox' %}
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Composer' %}</a></li>
            <li class="active">{% trans 'Composer' %}</li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE & BREADCRUMBS -->

<!-- CONTENT -->
<div class="table-grid table-grid-desktop">
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="get" action="/" class="form-horizontal">
            <fieldset>
                <legend>New Message</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">User</label>
                    <div class="col-sm-10">
                        <input id="id_readonly_text"
                             type="text"
                      placeholder=""
                            value="{{ recipient.name }}" class="form-control" disabled />
                        <!-- <span class="help-block m-b-none">{% trans 'Select a user you want to message.' %}</span> -->
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="input-id-1" class="col-sm-2 control-label">{% trans 'Message' %}</label>
                    <div class="col-sm-10">
                        <textarea id="id_description" type="text" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button id="id_cancel_btn" onclick="ajax_cancel();" type="button" class="btn btn-default">{% trans 'Cancel' %}</button>
                        <button id="id_post_btn" onclick="ajax_create_message();" type="button" class="btn btn-primary">{% trans 'Send' %}</button>
                    </div>
                </div>
            </fieldset>
        </div>
        </dvi>
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
