{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
{% compress js inline %}
    {% comment %}
        {% include "foundation_public/autocomplete_js.html" %}
    {% endcomment %}
    {% include 'tenant_customer/update/js.html' %}
{% endcompress %}
<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <h3>{% trans 'New Client' %}</h3>
    <div class="panel panel-default">
        <!-- <div class="panel-heading">Entrepreneur Intake Form</div> -->
        <div class="panel-body">
            <form method="get" action="/" class="form-horizontal">

                <fieldset>

                    <!-- PROFILE -->
                    <legend>
                        <em class="fa icon-user"></em>
                        {% trans 'Profile' %}
                    </legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'First Name' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_first_name" value="{{ me.given_name }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Last Name' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_last_name" value="{{ me.family_name }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'URL' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_url" value="{{ me.url }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Description' %}</label>
                        <div class="col-sm-10">
                            <textarea id="id_description" class="form-control" name="textarea" rows="6">{{ me.description }}</textarea>
                            <span class="help-block m-b-none">{% trans 'Give a quick summary of this entrepreneur.' %}</span>
                        </div>
                    </div>
                    <!-- end PROFILE -->

                    <br />
                    <br />

                    <!-- CONTACT INFORMATION -->
                    <legend>
                        <em class="fa icon-book-open"></em>
                        {% trans 'Contact Information' %}
                    </legend>
                    <div id="id_email_div" class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Email' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_email" value="{{ me.email }}" />
                            <span id="id_email_span" class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Telephone' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_telephone" value="{{ me.telephone }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <!-- end CONTACT INFORMATION -->

                    <br />
                    <br />

                    <!-- ADDRESS -->
                    <legend>
                        <em class="fa icon-location-pin"></em> {% trans 'Address' %}
                    </legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Country' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_country" value="{{ me.address.country }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Province' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_region" value="{{ me.address.region }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'City' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_locality" value="{{ me.address.locality }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Post Office Box' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_post_office_box_number" value="{{ me.address.post_office_box_number }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Postal Code' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_postal_code" value="{{ me.address.postal_code }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Street Address' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_street_address" value="{{ me.address.street_address }}" />
                            <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                        </div>
                    </div>
                    <!-- end ADDRESS -->

                    <br />
                    <br />

                    <!-- INTAKE -->
                    <legend>
                        <em class="fa fa-random"></em>
                        {% trans 'Intake' %}
                    </legend>
                    {% for field in intake_form %}
                        <div class="form-group" id="{{ field.id_for_label }}_div">
                            <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ field }}
                                {{ field.errors }}<br/>
                            </div>
                        </div>
                    {% endfor %}
                    {{ intake_form.non_field_errors }}
                    <br />
                    <!-- end INTAKE -->

                    <br />
                    <br />

                    <!-- ADDRESS -->
                    <legend>
                        <em class="fa fa-comment-o"></em> {% trans 'Review' %}
                    </legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Comment' %}</label>
                        <div class="col-sm-10">
                            <textarea id="id_review" class="form-control" name="textarea" rows="6">{{ intake_form.instance.comment }}</textarea>
                            <span class="help-block m-b-none">This is a private comment to associate with this intake. The Entrepreneur will not be able to read this comment. </span>
                        </div>
                    </div>
                    <br />

                </fieldset>

                <!-- SUBMIT -->
                <div style="float: right;">
                    <button id="id_submit_btn" onclick="ajax_unprotected_submit();" type="button" class="btn btn-primary btn-lg">{% trans 'Submit' %}</button>
                </div>
                <!-- end SUBMIT -->
            </form>

        </div>
    </div>
</div>
<!-- end PAGE CONTENT -->
{% endblock content %}
