{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}

<!-- PAGE JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // Nothing.
    }); // end Document Start

    function ajax_workspace(success_callback, failure_callback) {
        // Get our variables.
        var name = $('#id_name').val();

        // Defensive Code.
        if (name <= 0) {
            alert("{% trans 'Please enter the task name.' %}");
            return;
        }

        // Set our object variables.
        var workspace = {
            'name': name,
        };

        $('#id_submit_btn').prop("disabled", true); // Disable the button.

        set_tenant_workspace(
            workspace,
            function(json_result) {
                $('#id_submit_btn').prop("disabled", false); // Enable the button.
                success_callback(json_result);
            },
            function(error_json_result) {
                $('#id_submit_btn').prop("disabled", false); // Enable the button.
                failure_callback(error_json_result);
            }
        ); // end Set Task.
    }

    function ajax_create_workspace() {
        ajax_workspace(
            function(json_result) {
                var workspace_id = parseInt(json_result['id']);
                var url = "{% url 'tenant_workspace_master' 'placeholder' %}";
                var url = url.replace("placeholder", workspace_id);
                window.location  = url;
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        );
    }
</script>
{% endcompress %}
<!-- end PAGE JS -->

<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- TITLE & BREADCRUMBS -->
    <h3>
        <em class="fa fa-fw ffa fa-plus mr"></em>{% trans 'Add Workspace' %}
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a>
            </li>
            <li class="active">{% trans 'Add Workspace' %}</li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE & BREADCRUMBS -->
    <!-- CONTENT -->
    <!-- JUMBOTRON -->
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>{% trans 'Add Workspace' %}</h1>
                <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.' %}</p>
                <!--<p><a role="button" class="btn btn-primary btn-lg">Learn more</a></p>-->
            </div>
        </div>
    </div>
    <!-- end JUMBOTRON -->
    <!-- FORM -->
    <!-- START panel-->
    <div class="panel panel-default">
       <div class="panel-heading">{% trans 'Workspace' %}</div>
       <div class="panel-body">
          <form class="form-horizontal">
             <!-- FIELDS -->
             <fieldset>
                <div class="form-group">
                   <label class="col-sm-2 control-label">{% trans 'Company Name' %}</label>
                   <div class="col-sm-10">
                      <input id="id_name" type="text" class="form-control" />
                      <span class="help-block m-b-none">{% trans 'Please write the company name.' %}</span>
                   </div>
                </div>
             </fieldset>
             <!-- end FIELDS -->
             <!-- SUBMIT BUTTON -->
             <div class="pull-right">
                 <button id="id_submit_btn" type="button" class="btn btn-sm btn-default" onclick="ajax_create_workspace();">{% trans 'Submit' %}</button>
             </div>
             <!-- end SUBMIT BUTTON -->
         </form>
     </div>
 </div>
    <!-- end FORM -->
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->

{% endblock content %}
