{% load i18n %}
<script type="text/javascript">
    $(document).ready(function () {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            displayEventTime: false, // hide start time.
            eventClick: function(calEvent, jsEvent, view) {
                // Go to the details page.
                var url = "{% url 'tenant_calendar_details' 'placeholder' %}";
                var details_url = url.replace("placeholder", calEvent.uid);
                window.location = details_url;
            }, // end EVENT CLICK
            eventSources: [
            {
                // Importing event data: https://fullcalendar.io/docs/event_data/Event_Source_Object/
                events: [
                    {% for item in calendar_items %}
                        {
                            uid: {{ item.id }},
                            title: '{{ item.name }}',
                            start: new Date({{ item.start.year }}, {{ item.start.month }}-1, {{ item.start.day }}),
                            backgroundColor: '{{ item.colour }}',
                            borderColor: '{{ item.colour }}'
                        },
                    {% endfor %}
                ]
            }]
        }) // end FULLCALENDAR
    });

    function ajax_delete(id) {
        $('#id_delete_'+id).prop("disabled", true);
        delete_tenant_calendarevent(
            id,
            function(success) {
                location.reload(true);
            },
            function(failure) {
                $('#id_reject_btn').prop("id_reject_btn", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        );
    }

    function ajax_load_create(type_of) {
        window.location = "{% url 'tenant_calendar_create' %}?type_of="+type_of;
    }
</script>
