{% load i18n %}
<script type="text/javascript">
    $(document).ready(function () {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            displayEventTime: false, // hide start time.
            eventClick: function(calEvent, jsEvent, view) {
                // Go to the details page.
                var url = "{% url 'tenant_calendar_details' 'placeholder' %}";
                var details_url = url.replace("placeholder", calEvent.uid);
                window.location = details_url;
            }, // end EVENT CLICK
            eventSources: [
            {
                // Importing event data: https://fullcalendar.io/docs/event_data/Event_Source_Object/
                events: [
                    {% for item in calendar_items %}
                        {
                            uid: {{ item.id }},
                            title: '{{ item.name }}',
                            start: new Date({{ item.start.year }}, {{ item.start.month }}-1, {{ item.start.day }}),
                            backgroundColor: '{{ item.colour }}',
                            borderColor: '{{ item.colour }}'
                        },
                    {% endfor %}
                ]
            }]
        }) // end FULLCALENDAR
    });
</script>
