{% load i18n %}
<script>
$(document).ready(function () {
    // Nothing.
}); // end Ready

function disable_btn() {
    $('#id_unlock_btn').val("{% trans 'Please Wait...' %}");
    $('#id_unlock_btn').prop("disabled", true);
}

function enable_btn() {
    $('#id_unlock_btn').prop("disabled", false);
    $('#id_unlock_btn').val("{% trans 'Update' %}");
}

function ajax_unlock() {
    disable_btn();
    var password = $('#id_password').val();
    unlock_tenant_me(
        {{ request.tenant_me.id }},
        password,
        function(json_result) {
            enable_btn();
            window.location = "{% url 'tenant_dashboard' %}";
        },
        function(error_json_result) {
            enable_btn(); // Allow the user to press the button again.
            var string = JSON.stringify( error_json_result );
            console.log(string);
            if (string.indexOf('Failed authenticating') > -1) {
                alert("{% trans 'Wrong password. Please try again.' %}");
            } else {
                alert(string);
            }
        }
    );
}

</script>
