{% load i18n %}
<script>
    $(document).ready(function () {
        $('#searchResourcesModal').appendTo("body")

        // Keypress for enter.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress

        // DATETIMEPICKER
        // -----------------------------------

        $('#datetimepicker1').datetimepicker({
        //   defaultDate: '{{ calendar_event.start }}',
          icons: {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down',
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-crosshairs',
              clear: 'fa fa-trash'
            }
        });

        $('#datetimepicker2').datetimepicker({
        //   defaultDate: '{{ calendar_event.finish }}',
          icons: {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down',
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-crosshairs',
              clear: 'fa fa-trash'
            }
        });
    }); // end DOCUMENT START

    // DATA TABLE
    (function(window, document, $, undefined){

      $(function(){

        //
        // Zero configuration
        //

        $('#datatable1').dataTable({
            'paging':   true,  // Table pagination
            'ordering': true,  // Column ordering
            'info':     true,  // Bottom left status text
            // Text translation options
            // Note the required keywords between underscores (e.g _MENU_)
            oLanguage: {
                sSearch:      'Search all columns:',
                sLengthMenu:  '_MENU_ records per page',
                info:         'Showing page _PAGE_ of _PAGES_',
                zeroRecords:  'Nothing found - sorry',
                infoEmpty:    'No records available',
                infoFiltered: '(filtered from _MAX_ total records)'
            }
        });
      });

    })(window, document, window.jQuery);
    // end DATA TABLE

    function deselect_resource(resource_id) {
        $('#id_resources_table tr[id='+resource_id+']').remove(); // Removes the row at the id.
    }

    function select_resource(resource_id) {
        get_tenant_inforesource(
            resource_id,
            function(resource) {
                console.log(resource);

                // Create our resource icon.
                var icon = "<em class=\"fa fa-fw " + resource['category_icon'] + " mr\">";

                // Create our resource category name.
                var category_name = resource['category_name'];

                // Create our resource name.
                var name = resource['name'];

                // Create our remove button.
                var js = "deselect_resource("+resource_id+");";
                var deselect_btn = "";
                deselect_btn += "<button onclick=\"" + js + "\" type=\"button\" class=\"btn btn-labeled btn-danger\">";
                deselect_btn += "<em class=\"fa fa-fw fa-minus mr\"></em>{% trans 'Deselect' %}";
                deselect_btn += "</button>";

                // Create our HTML row.
                var html_row = "<tr id=\"" + resource_id + "\">";
                html_row += "<td>"+icon+"</td>";
                html_row += "<td>"+category_name+"</td>";
                html_row += "<td>"+name+"</td>";
                html_row += "<td>" + deselect_btn + "</td>";
                html_row += "</tr>";

                // ADD HTML ROW TO OUR PAGE.
                $("#id_resources_table > tbody").append(html_row);

                // Hide this modal.
                $('#searchResourcesModal').modal('toggle');
            },
            function(json_error_result) {

            }
        ); // end GET RESOURCE.
    }

    function disable_btn() {
        $('#id_accept_btn').prop("disabled", true);
    }

    function enable_btn() {
        $('#id_accept_btn').prop("disabled", false);
    }

    function print_error_handler(error_json_result) {
        var string = JSON.stringify( error_json_result );
        console.log(string);
        alert(string);
    }

    function ajax_task(success_callback, failure_callback) {
        // Get our variables.
        var name = $('#id_name').val();
        var description = $('#id_description').val();
        var finish = $('#id_finish').val();
        var unprotected_finish_date = new Date(finish);
        var is_due = $('input[id=is_due]').is(':checked');
        var django_due_date = date_to_django_datetime(unprotected_finish_date);
        var assignees = $('#select2-1').val()

        // Defensive Code.
        if (name <= 0) {
            alert("{% trans 'Please enter the task name.' %}");
            return;
        }
        if (description <= 0) {
            alert("{% trans 'Please enter a description.' %}");
            return;
        }
        if (is_due) {
            if ( django_due_date.indexOf('NaN') !== -1 ) {
                alert("{% trans 'Please enter a due date.' %}");
                return;
            }
        } else {
            django_due_date = '';
        }

        // Set our object variables.
        var task = {
            'type_of': {{ type_of }},
            'name': name,
            'description': description,
            'is_due': is_due,
            'due': django_due_date,
            'uploads': [],
            'resources': []
        };

        var upload_id = $('#id_hidden_file_id').val();
        if (upload_id) {
            task['uploads'].push(parseInt(upload_id)); // Add our file upload.
        }

        // Iterate through the table array and add our resource.
        $('#id_resources_table tr').each(function () {
            if (this.id > 0) {
                var resource_id = parseInt(this.id);
                task['resources'].push(resource_id)
            }
        });

        // Attach our pending to or object.
        {% if type_of == constants.TASK_BY_TAG_TYPE %}
            if (assignees) {
                task['tags'] = assignees;
            }
        {% else %}
            if (assignees) {
                task['opening'] = assignees;
            }
        {% endif %}

        disable_btn(); // Disable the button.

        set_tenant_tasks(
            task,
            function(json_result) {
                success_callback(json_result);
            },
            function(error_json_result) {
                enable_btn(); // Enable the button.
                failure_callback(error_json_result);
            }
        ); // end Set Task.
    }

    /**
     *  Function will asynchronously upload the file.
     */
    function ajax_upload_file() {
        if ($('#id_file').val() == "") {
            alert(_("Please select a file to upload"));
            // $.notify("Please select an image to upload", "danger");
            return false;
        }

        // Extract the information.
        var file = document.getElementById('id_file').files[0];
        var upload_id = $('#id_hidden_upload_id').val();
        console.log("upload_id: "+upload_id);

        // Insert or Update.
        set_tenant_fileupload(upload_id, file, function(file_upload) {

            // UPDATE THE UI.
            $('#id_add_file_btn').prop('disabled', false); // enable the add button.
            $('#id_hidden_file_label').hide();
            $('#id_hidden_files_list').show();

            // SAVE TEMPORARY LINK TO FILE.
            $('#id_hidden_file_id').val(file_upload['id']);

            // Render link to file.
            $("#id_hidden_file_url").attr("href", file_upload['datafile']);
        }); // end UPLOAD
    }

    function ajax_cancel(type_of) {
        window.location = "{% url 'tenant_task_master_open' %}";
    }

    function ajax_create() {
        ajax_task(
            function(success_result) {
                window.location = "{% url 'tenant_task_master_open' %}";
            },
            function(failure_result) {
                print_error_handler(failure_result);
            }
        ); // end FUNC
    }
</script>
