{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}

<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_task/create/js.html' with task=task %}
{% endcompress %}
<!-- end PAGE JS -->

<!-- PAGE HTML -->
<div class="content-wrapper">
   <!-- TITLE -->
   <h3>
       <em class="fa fa-fw ffa fa-plus mr"></em>{% trans 'Create Task' %}
       <!-- BREADCRUMBS -->
       <ol class="breadcrumb">
           <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a></li>
           <li><a href="{% url 'tenant_task_master_open' %}">{% trans 'Tasks' %}</a></li>
           <li class="active">{% trans 'Create Task' %}</li>
       </ol>
       <!-- end BREADCRUMBS -->
   </h3>
   <!-- end TITLE -->

   <div class="table-grid table-grid-desktop">
       <div class="panel panel-default">
          <!-- <div class="panel-heading">Form elements</div> -->
          <div class="panel-body">
             <form method="get" action="/" class="form-horizontal">
                <fieldset>
                   <legend>{% trans 'Details' %}</legend>
                   <!-- NAME -->
                   <div class="form-group">
                      <label class="col-sm-2 control-label">{% trans 'Name' %}</label>

                      <div class="col-sm-10">
                         <input type="text" class="form-control form-control" id="id_name" value="{{ calendar_event.name }}">
                      </div>

                   </div>
                    <!-- end NAME -->

                     <br /><br />

                     <!-- HAS DUE DATE -->
                     <div class="form-group">
                           <label class="col-sm-2 control-label">{% trans 'Has due date' %}</label>
                           <div class="col-sm-10">
                              <div class="checkbox">
                                 <label>
                                    <input id="is_due" type="checkbox" checked="checked" />
                                  </label>
                              </div>
                           </div>
                     </div>
                      <!-- end HAS DUE DATE -->

                     <br /><br />

                     <!-- DUE DATE -->
                     <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Due Date &amp; Time' %}</label>

                        <div class="col-sm-10">
                            <div id="datetimepicker2" class="input-group date">
                                  <input type="text" class="form-control" id="id_finish">
                                  <span class="input-group-addon">
                                     <span class="fa fa-calendar"></span>
                                  </span>
                           </div>
                        </div>

                     </div>
                      <!-- end DUE DATE -->

                      <br /><br />

                      <!-- DESCRIPTION -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Description' %}</label>

                         <div class="col-sm-10">
                            <textarea id="id_description" class="form-control" name="textarea" rows="10" placeholder="{% trans 'Please write some details about this event.' %}">{{ calendar_event.description }}</textarea>
                         </div>

                      </div>
                      <!-- end DESCRIPTION -->

                      <br /><br />

                      <!-- RESOURCE -->
                      <div class="form-group">
                           <label class="col-sm-2 control-label">{% trans 'Resources' %}</label>
                           <div class="col-sm-10">

                               <!-- RESOURCE TABLE CONTENT -->
                               <div class="panel-body">
                                  <div class="table-responsive">
                                     <table class="table table-striped" id="id_resources_table">
                                        <thead>
                                           <tr>
                                              <th style="width:1%">&nbsp;</th>
                                              <th>{% trans 'Category' %}</th>
                                              <th>{% trans 'Name' %}</th>
                                              <th>
                                                  <!-- ADD RESOURCE BUTTON -->
                                                  <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#searchResourcesModal">
                                                      <em class="fa fa-fw fa-plus mr"></em>{% trans 'Add Resource' %}
                                                  </button>
                                                  <!-- end ADD RESOURCE BUTTON -->
                                              </th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                           <!-- empty table -->
                                        </tbody>
                                     </table>
                                  </div>
                               </div>
                               <!-- end RESOURCE TABLE CONTENT -->
                           </div>
                       </div>
                       <!-- end RESOURCE -->

                      <br /><br />

                      <!-- FILE UPLOADS -->
                      <div class="form-group">
                           <!-- TEMP -->
                           <input id="id_hidden_file_id" type="hidden" />
                           <!-- end TEMP -->

                           <label class="col-sm-2 control-label">{% trans 'File input' %}</label>
                           <div class="col-sm-10">
                             <!-- FILE INPUT -->
                             <label class="form-control btn btn-success mt10 curp" id="id_hidden_file_label">
                             <em class="fa fa-upload"></em>&nbsp;&nbsp; {% trans 'Upload a File...' %}
                             <input onchange="ajax_upload_file();"
                                          id="id_file"
                                        type="file"
                                       class="form-control mb10 hide" />
                             </label>
                             <!-- end FILE INPUT -->

                             <!-- FILE LIST -->
                             <p id="id_hidden_files_list" style="display: none;">
                                 <a id="id_hidden_file_url" target="_blank">File Uploaded</a>
                             </p>
                             <!-- end FILE LIST -->


                          </div>
                      </div>
                      <!-- end FILE UPLOADS -->

                      <br /><br />

                      <!-- ASSIGNEES -->
                      {% if type_of == constants.TASK_BY_CUSTOM_TYPE %}
                      <!-- BY CUSTOM -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Assignees' %}</label>

                         <div class="col-sm-10">
                             <select id="select2-1" multiple="multiple" class="form-control">
                                 {% for me in all_profiles %}
                                     <option value="{{ me.id }}" {% if me.id == default_me %}selected=""{% endif %}>{{ me.name }}</option>
                                 {% endfor %}
                             </select>
                         </div>

                      </div>
                      <!-- end BY CUSTOM -->
                      {% else %}
                      <!-- BY TAG -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Assignees by Tags' %}</label>

                         <div class="col-sm-10">
                             <select id="select2-1" multiple="multiple" class="form-control">
                                 {% for tag in tags %}
                                     <option value="{{ tag.id }}">{{ tag.name }}</option>
                                 {% endfor %}
                             </select>
                         </div>

                      </div>
                      <!-- end BY TAG -->
                      {% endif %}
                      <!-- end ASSIGNEES -->
                </fieldset>

                <!-- SUBMISSION -->
                <div class="pull-left">
                    <button onclick="ajax_cancel();" type="button" class="btn btn-danger btn-lg" id="id_reject_btn">{% trans 'Cancel' %}</button>
                </div>
                <div class="pull-right">

                    <button onclick="ajax_create();" type="button" class="btn btn-primary btn-lg" id="id_accept_btn">{% trans 'Create' %}</button>
                </div>
                <!-- end SUBMISSION -->
            </form>
        </div>
    </div>



  </div>
</div>
<!-- end PAGE HTML -->


<!-- MODALS -->
<!-- SEARCH RESOURCES MODAL -->
<div class="modal fade" id="searchResourcesModal" tabindex="-1" role="dialog" aria-labelledby="searchResourcesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchResourcesModalLabel">{% trans 'Find Resource' %}</h4>
      </div>
      <div class="modal-body">
          <!-- DATA TABLE -->
          <table id="datatable1" class="table table-striped table-hover">
             <thead>
                <tr>
                    <th style="width:1%">&nbsp;</th>
                    <th class="sort-alpha">{% trans 'Title' %}</th>
                    <th>&nbsp;</th>
                </tr>
             </thead>
             <tbody>
                <!-- TABLE ROWS -->
                {% for resource in inforesources.all %}
                <tr>
                   <td><em class="fa fa-fw {{ resource.category.icon }} mr"></em></td>
                   <td>{{ resource.name }}</td>
                   <td>
                       <div class="pull-right">
                           <button id="id_select_{{ resource.id }}_btn" onclick="select_resource({{ resource.id }});" type="button" class="btn btn-labeled btn-primary">{% trans 'Select' %}</button>
                       </div>
                   </td>
                </tr>
                {% endfor %}
                <!-- end TABLE ROWS -->

             </tbody>
          </table>
          <!-- end DATA TABLE -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
      </div>
    </div>
  </div>
</div>
<!-- SEARCH RESOURCES MODAL -->
<!-- end MODALS -->
{% endblock content %}
