{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });

        // Initial setup.
        {% if intake.how_did_you_hear != 3 %}
            $('#id_how_did_you_hear_other_div').hide();
        {% endif %}

        // Page functions.
        $("#id_how_did_you_hear").change(function () {
            var end = this.value;
            var firstDropVal = $('#id_how_did_you_hear').val();
            console.log(firstDropVal);

            if (firstDropVal == 3) {
                $('#id_how_did_you_hear_other_div').show();
            } else {
                $('#id_how_did_you_hear_other_div').hide();
            }

        });
    });

    function disable_btn() {
        $('#id_continue_btn').attr("disabled", "disabled");
    }

    function enable_btn() {
        $('#id_continue_btn').removeAttr("disabled");
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_round_one_step_one' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_intake(
            {{ intake.id }},
            function(intake) {
                intake['how_did_you_hear'] = $('#id_how_did_you_hear').val();
                intake['how_did_you_hear_other'] = $('#id_how_did_you_hear_other').val();
                set_tenant_intake(
                    intake,
                    function(json_result) {
                        enable_btn();
                        var string = JSON.stringify( json_result );
                        console.log(string);
                        window.location = "{% url 'tenant_intake_entr_round_one_step_three' %}";
                    },
                    function(error_json_result) {
                        enable_btn();
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Intake.
            },
            function(error_json_result) {
                enable_btn();
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        ); // end Get Intake.
    }

</script>
