{% load staticfiles i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });

        // DEVELOPER NOTES:
        // Automatically update Organization that we are setup.
        //
        get_public_organization(  // Fetch our organization.
            {{ request.tenant.id }},
            function(organization) {
                organization['is_setup'] = true;
                set_public_organization(  // Save our organization.
                    organization,
                    function(error) {
                        console.log(error);
                    },
                    function(json_result) {
                        console.log(json_result);
                    },
                    function(json_error_result) {
                        console.log(json_error_result);
                        alert(json_error_result);
                    }
                ); // end Get Organization
            },
            function(error_result) {
                console.log(error_result);
                alert(json_error_result);
            }
        );  // end Set Organization
    });

    function ajax_dashboard() {
        // Turn on the 'loading' animation.
        var lb = new $.LoadingBox({
            loadingImageSrc: "{% static 'app/img/ajax-loading.gif' %}",
        });

        // Run the expensive process.
        tenant_finalize(
            function(json_result) {

                setTimeout(function() {
                    lb.close(); // Turn off the 'loading' animatin.
                    window.location = "{% url 'tenant_dashboard' %}";
                }, 2000);

            }
        ); // end FINALIZE
    }

    function ajax_back() {
        window.location = "{% url 'foundation_auth_config_org_step_ten' %}";
    }

</script>
