{% load i18n %}
<script>
    $(document).ready(function () {
        // Keypress for enter.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress

        // DATETIMEPICKER
        // -----------------------------------

        $('#datetimepicker1').datetimepicker({
        //   defaultDate: '{{ calendar_event.start }}',
          icons: {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down',
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-crosshairs',
              clear: 'fa fa-trash'
            }
        });

        $('#datetimepicker2').datetimepicker({
        //   defaultDate: '{{ calendar_event.finish }}',
          icons: {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down',
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-crosshairs',
              clear: 'fa fa-trash'
            }
        });

        {% if calendar_event.start %}
            $('#id_start').val('{{ calendar_event.start|date:"m/d/Y f:i A" }}');
        {% endif %}
        {% if calendar_event.finish %}
            $('#id_finish').val('{{ calendar_event.finish|date:"m/d/Y f:i A" }}');
        {% endif %}
    }); // end DOCUMENT START

    function ajax_delete(id) {
        $('#id_reject_btn').prop("disabled", true);
        delete_tenant_calendarevent(
            id,
            function(success) {
                window.location = "{% url 'tenant_calendar_master' %}";
            },
            function(failure) {
                $('#id_reject_btn').prop("id_reject_btn", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        );
    }

    function ajax_update() {
        // Get our variables.
        var name = $('#id_name').val();
        var description = $('#id_description').val();
        var start = $('#id_start').val();
        var unprotected_start_date = new Date(start);
        var django_start_date = date_to_django_datetime(unprotected_start_date);
        var finish = $('#id_finish').val();
        var unprotected_finish_date = new Date(finish);
        var django_finish_date = date_to_django_datetime(unprotected_finish_date);
        var participants = $('#select2-1').val()

        // Defensive Code.
        if (name <= 0) {
            alert("{% trans 'Please enter the event name.' %}");
            return;
        }
        if (description <= 0) {
            alert("{% trans 'Please enter a description.' %}");
            return;
        }
        if ( django_start_date.indexOf('NaN') !== -1 ) {
            alert("{% trans 'Please enter a start date.' %}");
            return;
        }
        if ( django_finish_date.indexOf('NaN') !== -1 ) {
            alert("{% trans 'Please enter a finish date.' %}");
            return;
        }

        // Update model.
        get_tenant_calendarevent(
            {{ calendar_event.id }},
            function(calender_event) {
                calender_event['name'] = name;
                calender_event['description'] = description;
                calender_event['start'] = django_start_date;
                calender_event['finish'] = django_finish_date;
                calender_event['participants'] = $('#select2-1').val()
                set_tenant_calendarevent(
                    calender_event,
                    function(json_result) {
                        window.location = "{% url 'tenant_calendar_master' %}";
                    },
                    function(error_json_result) {
                        console.log(error_json_result);
                    }
                ); // end SET CALENDAR EVENT.
            },
            function(error_result) {
                console.log(error_result);
            }
        ); // end GET CALENDAR EVENT.
    }
</script>
