{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}

<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_calendar/details/js.html' with calendar_event=calendar_event %}
{% endcompress %}
<!-- end PAGE JS -->

<!-- PAGE HTML -->
<div class="content-wrapper">
   <h3>{% trans 'Event' %}</h3>
   <div class="table-grid table-grid-desktop">


       <div class="panel panel-default">
          <!-- <div class="panel-heading">Form elements</div> -->
          <div class="panel-body">
             <form method="get" action="/" class="form-horizontal">
                <fieldset>
                   <legend>{% trans 'Details' %}</legend>
                   <!-- NAME -->
                   <div class="form-group">
                      <label class="col-sm-2 control-label">Name</label>

                      <div class="col-sm-10">
                         <input type="text" class="form-control form-control" id="id_name" value="{{ calendar_event.name }}">
                      </div>

                   </div>
                    <!-- end NAME -->

                    <br /><br />

                    <!-- START DATE -->
                    <div class="form-group">
                       <label class="col-sm-2 control-label">{% trans 'Start Date &amp; Time' %}</label>

                       <div class="col-sm-10">
                           <div id="datetimepicker1" class="input-group date">
                                 <input type="text" class="form-control" id="id_start" value="{{ calendar_event.start }}">
                                 <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                 </span>
                          </div>
                       </div>

                    </div>
                     <!-- end START DATE -->

                     <br /><br />

                     <!-- FINISH DATE -->
                     <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Finish Date &amp; Time' %}</label>

                        <div class="col-sm-10">
                            <div id="datetimepicker2" class="input-group date">
                                  <input type="text" class="form-control" id="id_finish" value="{{ calendar_event.finish }}">
                                  <span class="input-group-addon">
                                     <span class="fa fa-calendar"></span>
                                  </span>
                           </div>
                        </div>

                     </div>
                      <!-- end FINISH DATE -->

                      <br /><br />

                      <!-- DESCRIPTION -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Description' %}</label>

                         <div class="col-sm-10">
                            <textarea id="id_description" class="form-control" name="textarea" rows="10" placeholder="{% trans 'Please write some details about this event.' %}">{{ calendar_event.description }}</textarea>
                         </div>

                      </div>
                      <!-- end DESCRIPTION -->


                </fieldset>
                <!-- SUBMISSION -->
                <div class="pull-left">
                    <button onclick="ajax_reject();" type="button" class="btn btn-danger btn-lg" id="id_reject_btn">{% trans 'Delete' %}</button>
                </div>
                <div class="pull-right">

                    <button onclick="ajax_update();" type="button" class="btn btn-primary btn-lg" id="id_accept_btn">{% trans 'Update' %}</button>
                </div>
                <!-- end SUBMISSION -->
            </form>
        </div>
    </div>



  </div>
</div>
<!-- end PAGE HTML -->
{% endblock content %}
