{% load staticfiles i18n thumbnail %}
<div class="table-responsive">
    <!-- DATA TABLE -->
    <table id="datatable1" class="table table-striped table-hover">
       <thead>
          <tr>
              <th class="sort-alpha">&nbsp;</th>
              <th class="sort-alpha">{% trans 'Full Name' %}</th>
              <th class="sort-numeric">{% trans 'Date Joined' %}</th>
              <th>&nbsp;</th>
          </tr>
       </thead>
       <tbody>
          <!-- TABLE ROWS -->
          {% for me in visitors.all %}
          <tr>
             <td>
                 <div class="media">
                     {% thumbnail me.image.imagefile "64x64" format='JPEG' background="#ffffff" as im %}
                         <img src="{{ im.url }}" alt="{{ me.name }} Avatar" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-circle" />
                     {% empty %}
                         <img src="{% static 'app/img/dummy64x64.png' %}" alt="{{ me.assignee.name }} Avatar" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-circle" />
                     {% endthumbnail %}
                 </div>
             </td>
             <td>{{ me.name }}</td>
             <td>{{ me.created }}</td>
             <td>
                 <a href="{% url 'tenant_customer_visitor_detail' me.id %}" class="btn btn-xs btn-info">{% trans 'View' %}&nbsp;<i class="fa fa-info-circle"></i></a>
             </td>
          </tr>
          {% endfor %}
          <!-- end TABLE ROWS -->

       </tbody>
    </table>
    <!-- end DATA TABLE -->

</div>
