{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_customer/visitor/master/js.html' %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- TITLE & BREADCRUMBS -->
    <h3>
        <em class="fa fa-fw ffa icon-docs mr"></em>{% trans 'Reviews' %}
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a>
            </li>
            <li class="active">{% trans 'Reviews' %}</li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE & BREADCRUMBS -->

    <!-- VISITORS -->
    <div class="row">
        {% if visitors.count > 0 %}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- PANEL BODY -->
                <div class="panel-body">
                    {% include 'tenant_customer/visitor/master/table_view.html' %}
                </div>
                <!-- end PANEL BODY -->
            </div>
        </div>
        {% else %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="pull-right text-muted">
                    <em class="fa"></em>
                    </a>
                </div>
                <div class="panel-body text-center">
                    <div class="mb-lg">
                        <em class="fa fa-exclamation-triangle fa-5x text-muted"></em>
                    </div>
                    <h4>{% trans 'No Visitors' %}</h4>
                    <p></p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="text-center">
                        <p>{% trans 'Are you having any problems?' %} <a href="{% url 'tenant_help_master' %}">{% trans 'Let us know!' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end CLIENT -->
    </div>
    <!-- end VISITORS -->
</div>
<!-- end PAGE HTML -->

{% endblock content %}
