{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
<!-- PAGE JS -->
<script>
    $(document).ready(function () {
        // Keypress for enter.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress
    }); // end DOCUMENT START

    function ajax_continue() {
        window.location = "{{ dashboard_url }}";
    }
</script>
<!-- end PAGE JS -->
<!-- PAGE HTML -->
    <div class="content-wrapper">
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center pv">{% trans 'Thank you!' %}</h2>
    </div>

    <!-- PAGE CONTENT -->
    <div class="panel-body">
        <p class="text-center pv">{% blocktrans with url=dashboard_url %}Thank you for completing the signup process! Please click the button below to continue to your new SME Gurus <a href="{{ dashboard_url }}">Dashboard</a>!{% endblocktrans %}</p>

        <p class="text-center pv" style="width: 280px;margin: auto;">
            <button id="id_continue_btn" type="button" class="btn btn-block btn-success" onclick="ajax_continue();" role="menuitem">{% trans 'Continue' %}</button>
        </p>

        <p class="text-center pv">{% trans 'And don\'t forget to follow us!' %}</p>
    </div>
    <!-- end PAGE CONTENT -->

    <div class="panel-footer">
        <p class="text-center pv">
            {% if request.tenant.url %}
                <a href="{{ request.tenant.url }}">
                    <em class="icon fa fa-external-link"></em>
                </a>
            {% endif %}
            {% if request.tenant.twitter_url %}
                <a href="{{ request.tenant.twitter_url }}">
                    <em class="icon-social-twitter"></em>
                </a>
            {% endif %}
            {% if request.tenant.twitter_url %}
                <a href="{{ request.tenant.facebook_url }}">
                    <em class="icon-social-facebook"></em>
                </a>
            {% endif %}
        </p>
    </div>
</div>
<!-- end PAGE HTML -->
{% endblock content %}
