{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    <div class="content-wrapper">
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center pv">{% trans 'Thank you!' %}</h2>
    </div>

    <!-- PAGE CONTENT -->
    <div class="panel-body">
        <p class="text-center pv">{% blocktrans with url=dashboard_url %}Thank you for completing the signup process! Please click the button below to continue to your new SME Gurus <a href="{{ url }}">Dashboard</a>!{% endblocktrans %}</p>

        <p class="text-center pv">{% trans 'And don\'t forget to follow us!' %}</p>
    </div>
    <!-- end PAGE CONTENT -->

    <div class="panel-footer">
        <p class="text-center pv">
            {% if request.tenant.url %}
                <a href="{{ request.tenant.url }}">
                    <em class="icon fa fa-external-link"></em>
                </a>
            {% endif %}
            {% if request.tenant.twitter_url %}
                <a href="{{ request.tenant.twitter_url }}">
                    <em class="icon-social-twitter"></em>
                </a>
            {% endif %}
            {% if request.tenant.twitter_url %}
                <a href="{{ request.tenant.facebook_url }}">
                    <em class="icon-social-facebook"></em>
                </a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock content %}
