{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
<!-- PAGE JS -->
    {% compress js inline %}
        {% include 'foundation_public/loadingbox_js.html' %}
        {% include 'tenant_configuration/organization/7/js.html' %}
    {% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
                    <h2 class="text-center pv">{% trans 'Additional Info' %}</h2>
                    <p class="text-center pv">{% trans 'Help us out by answering a few questions.' %}</p>

                    {% for field in form %}
                        {% if field.id_for_label in accepted_fields %}
                        <fieldset class="blue-lbl">
                            <div class="form-group" id="{{ field.id_for_label }}_div">
                                <div class="col-sm-7 col-centered">
                                    {{ field.label_tag }} {{ field }}
                                    {{ field.errors }}
                                    {% comment %}
                                    <label class="col-sm-12 control-label">{{ field.label_tag }}</label>
                                    <div class="col-sm-12">
                                        {{ field }}
                                        {{ field.errors }}<br/>
                                    </div>
                                    {% endcomment %}
                                </div>
                            </div>
                        </fieldset>
                        {% endif %}
                    {% endfor %}
                    {{ form.non_field_errors }}

            <div class="actions text-center clearfix">
                        <button id="id_back_btn" type="button" class="btn btn-block btn-default mt-lg mb-lg btn-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                        <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>
</div>
<!-- end PAGE HTML -->
{% endblock content %}
