{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
<!-- PAGE JS -->
    {% compress js inline %}
        {% include 'foundation_public/loadingbox_js.html' %}
        {% include 'tenant_configuration/organization/7/js.html' %}
    {% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
<div class="panel panel-default">
    <!-- <div class="panel-heading">{% trans 'Entrepreneur Intake Form' %}</div> -->
    <div class="panel-body">
        <div id="example-vertical" role="application" class="wizard clearfix vertical">

            <!-- PAGE SIDEBAR -->
            {% include 'tenant_configuration/organization/sidebar_view.html' with page=7 %}
            <!-- end PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="content clearfix" style="height: 475px; display: inline; "> <!-- TODO: IMPLEMENT DYNAMIC HEIGHT ADJUSTMENT -->
                <h4 id="example-vertical-h-0" tabindex="-1" class="title current">Logo</h4>
                <section id="example-vertical-p-0" role="tabpanel" aria-labelledby="example-vertical-h-0" class="body current" aria-hidden="false" style="left: 0px; display: block;">
                    <h2 class="text-center pv">{% trans 'Metrics' %}</h2>
                    <p class="text-center pv">{% trans 'Help us out by answering a few questions.' %}</p>

                    {% for field in form %}
                        {% if field.id_for_label in accepted_fields %}
                            <div class="form-group" id="{{ field.id_for_label }}_div">
                                {{ field.label_tag }} {{ field }}
                                {{ field.errors }}<br/>
                                {% comment %}
                                <label class="col-sm-4 control-label">{{ field.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                    {{ field.errors }}<br/>
                                </div>
                                {% endcomment %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {{ form.non_field_errors }}

                    <br/>

                </section>
            </div>
            <!-- end PAGE CONTENT -->

            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li class="disabled" aria-disabled="true">
                        <button id="id_back_btn" type="button" class="btn btn-block btn-default mt-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                    </li>
                    <li aria-hidden="false" aria-disabled="false" class="" style="display: block;">
                        <button id="id_continue_btn" type="button" class="btn btn-block btn-primary mt-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end PAGE HTML -->
{% endblock content %}
