{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress foundation_tenant_tags tenant_dashboard_tags %}
{% block content %}
<!-- PAGE HTML -->
<div class="content-wrapper">
<!-- NOTIFICATION widgets box-->
{% render_notification_widget request.tenant_me notification %}
<!-- end NOTIFICATION widgets box-->
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <!-- WIDGET-->
        {% render_pending_tasks_count_widget request.tenant_me %}
        <!-- end WIDGET -->
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- WIDGET-->
        {% render_unread_messages_count_widget request.tenant_me %}
        <!-- end WIDGET -->
    </div>
    <div class="col-lg-3 col-sm-6">
        <!-- WIDGET-->
        {% render_entrepreneurs_aggregate_widget request.tenant_me %}
        <!-- end WIDGET -->
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- WIDGET-->
        {% render_custom_datetime_widget request.tenant.time_zone %}
        <!-- end WIDGET -->
    </div>
</div>
<!-- END widgets box-->
<div class="row">
    <div class="col-lg-9">
        <!-- START panel-->
        {% render_tags_widget request.tenant_me %}
        <!-- END panel-->
    </div>
    <div class="col-lg-3">
        <!-- START loader widget-->
        {% render_progress_widget request.tenant_me %}
        <!-- END loader widget-->
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <!-- START loader widget-->
        {% render_unread_messages_widget request.tenant_me %}
        <!-- END loader widget-->
    </div>
    <div class="col-lg-3">
        {% render_custom_calendar_widget request.tenant_me %}
    </div>
</div>

</div>
<!-- end PAGE HTML -->

{% endblock content %}
