{% load staticfiles i18n compress thumbnail foundation_tenant_tags %}
<!-- SIDEBAR JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        $('#id_row_3').hide();
        $('#id_row_4').hide();
        $('#id_row_5').hide();
        $('#id_row_6').hide();
    });

    function ajax_complete_task() {
        $('#id_row_1').hide();
        $('#id_row_2').hide();
        $('#id_row_6').show();
        $('#id_complete_btn').prop("disabled", true);
        tenant_task_complete_task(
            {{ task.id }},
            function(json_result) {
                window.location = "{% url 'tenant_reception_tasks_master' %}";
            },
            function(error_json_result) {
                $('#id_complete_btn').prop("disabled", false);
                print_error_handler(error_json_result);
            }
        ); // end COMPLETE TASK
    }

    function ajax_incomplete_task() {
        $('#id_row_1').hide();
        $('#id_row_2').hide();
        $('#id_incomplete_btn').prop("disabled", true);
        $('#id_row_3').show();
        $('#id_row_4').show();
        $('#id_row_5').show();
    }

    function ajax_submit_why_not_complete() {
        $('#id_row_3').hide();
        $('#id_row_4').hide();
        $('#id_row_5').hide();
        $('#id_row_6').show();
    }
</script>
{% endcompress %}
<!-- end SIDEBAR JS -->
<!-- SIDEBAR TEXT -->
<div class="panel b">
    <!-- BODY OF TASK SIDEBAR -->
    <table class="table bb">
        <tbody>
            <!-- CALENDAR -->
            <tr id="id_row_1">
                <td>
                    <strong>{% trans 'Will you be attending this event?' %}</strong>
                </td>
                <td></td>
            </tr>
            <tr id="id_row_2">
                <td>
                    <div class="pull-left">
                        <button id="id_complete_btn" onclick="ajax_complete_task();" type="button" class="btn btn-success btn-oval">
                            <em class="fa fa-check"></em>
                            <span>{% trans 'Attending' %}</span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button id="id_not_attending_btn" onclick="ajax_incomplete_task();" type="button" class="btn btn-danger btn-oval">
                            <em class="fa fa-close"></em>
                            <span>{% trans 'Not Attending' %}</span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr id="id_row_3">
                <td>
                    <strong>{% trans 'Why are you not attending this event?' %}</strong>
                </td>
                <td></td>
            </tr>
            <tr id="id_row_4">
                <td>
                    <textarea id="id_description" class="form-control" name="textarea" rows="10" placeholder="Why are you not attending?"></textarea>
                </td>
            </tr>
            <tr id="id_row_5">
                <td>
                    <div class="pull-right">
                        <button id="id_not_attending_btn" onclick="ajax_submit_why_not_complete();" type="button" class="btn btn-primary btn-oval">
                            <em class="fa fa-close"></em>
                            <span>{% trans 'Submit' %}</span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr id="id_row_6">
                <td>
                    {% trans 'Task Closed' %}
                </td>
            </tr>
            <!-- end CALENDAR -->
        </tbody>
    </table>
</div>
<!-- end SIDEBAR TEXT -->
