{% load i18n %}
<script>
    function print_error_handler(error_json_result) {
        var string = JSON.stringify( error_json_result );
        console.log(string);
        alert(string);
    }

    function post_comment_handler() {
        $('#id_comment_btn').prop("disabled", true);
        $('#id_comment').prop("disabled", true);
        tenant_task_post_comment(
            {{ task.id }},
            $("#id_comment").val(),
            function(json_result) {
                location.reload(true);

                //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
            },
            function(error_json_result) {
                $('#id_comment_btn').prop("disabled", false);
                $('#id_comment').prop("disabled", true);
                print_error_handler(error_json_result);
            }
        ); // end POST COMMENT
    }

    $(document).ready(function () {
        $("#id_comment").keypress(function(e) {  // POST COMMENT KEYPRESS HANDLER
            if (e.which == 13) {
                post_comment_handler();
            }
        });  // end POST COMMENT KEYPRESS HANDLER


        $( "#id_comment_btn" ).click(function(e) {  // CLICK POST COMMENT BUTTON HANDLER
            post_comment_handler();
        }); // end CLICK POST COMMENT BUTTON HANDLER

        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
        })
    }); // end Document Start

    function ajax_complete_task() {
        $('#id_complete_btn').prop("disabled", true);
        tenant_task_complete_task(
            {{ task.id }},
            function(json_result) {
                window.location = "{% url 'tenant_reception_tasks_master' %}";
            },
            function(error_json_result) {
                $('#id_complete_btn').prop("disabled", false);
                print_error_handler(error_json_result);
            }
        ); // end COMPLETE TASK
    }

    function ajax_incomplete_task() {
        $('#id_incomplete_btn').prop("disabled", true);
        tenant_task_incomplete_task(
            {{ task.id }},
            function(json_result) {
                window.location = "{% url 'tenant_reception_tasks_master' %}";
            },
            function(error_json_result) {
                $('#id_incomplete_btn').prop("disabled", false);
                print_error_handler(error_json_result);
            }
        ); // end INCOMPLETE TASK
    }
</script>
