{% load staticfiles i18n compress thumbnail %}
{% comment %}
    INFO_RESOURCE_INTERAL_URL_TYPE = 1
    INFO_RESOURCE_EXTERNAL_URL_TYPE = 2
    INFO_RESOURCE_EMBEDDED_YOUTUBE_VIDEO_TYPE = 3
    INFO_RESOURCE_INTERNAL_VIDEO_TYPE = 4
    INFO_RESOURCE_INTERNAL_FILE_TYPE = 5
{% endcomment %}
<div id="panelDemo8" class="panel panel-info">
    <div class="panel-heading">{% trans 'Resource' %}</div>
    <div class="panel-body">
        <h1>{{ task.resource.name|safe }}</h1>
        <p>{{ task.resource.description|safe }}</p>
        <br />
        {% if task.resource.type_of == constants.INFO_RESOURCE_EMBEDDED_YOUTUBE_VIDEO_TYPE %}
            <iframe width="560" height="315" src="{{ task.resource.url }}" frameborder="0" allowfullscreen></iframe>
        {% elif task.resource.type_of == constants.INFO_RESOURCE_INTERAL_URL_TYPE %}
            <p>
                <em class="fa fa-fw fa-link mr"></em>
                <a href="{{ task.resource.url }}">{% trans 'Link' %}</a>
            </p>
        {% elif task.resource.type_of == constants.INFO_RESOURCE_EXTERNAL_URL_TYPE %}
            <p>
                <em class="fa fa-fw fa-external-link mr"></em>
                <a href="{{ task.resource.url }}" target="_blank">{% trans 'External Link' %}</a>
            </p>
        {% elif task.resource.type_of == constants.INFO_RESOURCE_INTERNAL_FILE_TYPE %}
            <p>
                <em class="fa fa-fw fa-download mr"></em>
                <a href="{{ task.resource.upload.get_s3_url }}" target="_blank">{% trans 'Downloadable Link' %}</a>
            </p>
        {% elif task.resource.type_of == constants.INFO_RESOURCE_INTERNAL_VIDEO_TYPE %}
            <p>
                <video width="480" height="320" controls="controls">
                    <source src="{{ task.resource.upload.get_s3_url }}" type="video/mp4">
                </video>
            </p>
        {% else %}
            <p>
                <i class="fa fa-mail-reply"></i>TODO: Please implement
            </p>
        {% endif %}
    </div>
    <div class="panel-footer">
        <p><b>{% trans 'Last Updated on' %}</b> {{ task.resource.last_modified }} {% trans 'by' %} <i>{{ task.resource.owner.first_name }} {{ task.resource.owner.last_name }}</i></p>

    </div>
</div>
