{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress thumbnail foundation_tenant_tags %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_reception/task/details/js.html' with task=task %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'public_index' %}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception' %}">{% trans 'Reception' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception_tasks_master' %}">{% trans 'Tasks' %}</a>
        </li>
        <li class="active">{% trans 'Task #' %}{{ task.id }}</li>
    </ol>
    <!-- end BREADCRUMBS -->
    <!-- CONTENT -->
    <div class="row">
        <!-- BODY CONTENT -->
        <div class="col-lg-8">
            <!-- Main panel-->
            <div class="panel b">
                <div class="panel-heading">
                    <!-- STATUS -->
                    <div class="pull-right mt">
                        {% if task.status == constants.OPEN_TASK_STATUS %}
                            <div class="inline wd-xxs label label-success">{% trans 'open' %}</div>
                        {% elif task.status == constants.CLOSED_TASK_STATUS %}
                            <div class="inline wd-xxs label label-danger">{% trans 'closed' %}</div>
                        {% endif %}
                    </div>
                    <!-- end STATUS -->

                    <!-- TITLE -->
                    <h4 class="mv">
                        <span id="id_task_title_span">
                            {% if task.name %}
                                {{ task.name|safe }}
                            {% else %}
                                {% trans 'Task #' %}{{ task.id }}
                            {% endif %}
                        </span>
                    </h4>
                    <!-- end TITLE -->
                </div>
                <div class="panel-body">

                    <!-- EDITOR CONTENT -->
                    <div id="editor" contenteditable="false" style="overflow:scroll; height:250px;max-height:250px" class="form-control wysiwyg mt-lg">
                        {% if task.description %}
                            {{ task.description|escape|safe }}
                        {% endif %}
                    </div>
                    <!-- end EDITOR CONTENT -->

                    <br />

                    <!-- TASK CONTROL -->
                    <div class="pull-right">
                        {% if request.tenant_me in task.closures.all %}
                            <button id="id_reopen_btn" onclick="ajax_reopen_task();" type="button" class="btn btn-labeled btn-warning">
                                <span class="btn-label"><i class="fa fa-warning"></i>
                                </span>{% trans 'Re-open Task' %}
                            </button>
                        {% else %}
                            <button id="id_close_btn" onclick="ajax_complete_task();" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label"><i class="fa fa-check"></i>
                                </span>{% trans 'Close Task' %}
                            </button>
                        {% endif %}
                    </div>
                    <!-- end TASK CONTROL -->

                </div>

            </div>
            <!-- end Main panel-->

            <!-- RESOURCE PANEL-->
            <div id="panelDemo8" class="panel panel-info">
                <div class="panel-heading">{% trans 'Resource(s)' %}</div>
                <div class="panel-body">
                    <!-- START table-responsive-->
                    <div class="table-responsive">
                       <table class="table table-striped">
                          {% comment %}
                          <thead>
                             <tr>
                                <th>&nbsp;</th>
                                <th>{% trans 'Name' %}</th>
                                <th>&nbsp;</th>
                             </tr>
                          </thead>
                          {% endcomment %}
                          <tbody>
                              {% for resource in task.resources.all %}
                                  <tr>
                                      <td style="width:1%"><em class="fa fa-fw {{ resource.category.icon }} mr"></td>
                                      <td>{{ resource.name }}</td>
                                      <td class="pull-right">
                                          <a href="{% url 'tenant_reception_resource_details' resource.category.id resource.id %}">
                                              <button type="button" class="btn btn-labeled btn-info">
                                                  <span class="btn-label"><i class="fa fa-link"></i>
                                                  </span>{% trans 'View' %}
                                              </button>
                                          </a>
                                      </td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                       </table>
                    </div>
                    <!-- END table-responsive-->
                </div>

            </div>
            <!-- end RESOURCE PANEL -->

            <!-- Team messages-->
            <div class="panel b">
                <div class="panel-heading">
                    <div class="pull-right label label-info">{{ task.comment_posts.count }}</div>
                    <div class="panel-title">{% trans 'Messages' %}</div>
                </div>
                <!-- START list group-->
                <div data-height="180" data-scrollable="" class="list-group">
                    <!-- START list group item-->
                    {% for comment_post in task.comment_posts.all %}
                    <a href="#messages" class="list-group-item">
                        <div class="media-box">
                            <div class="pull-left">
                                {% thumbnail comment_post.me.image.imagefile "64x64" format='JPEG' background="#ffffff" as im %}
                                    <img src="{{ im.url }}" alt="{% trans 'Image' %}" width="{{ im.width }}" height="{{ im.height }}" class="media-box-object img-circle thumb32" />
                                {% empty %}
                                    <img src="{% static 'app/img/dummy64x64.png' %}" alt="{% trans 'Image' %}" width="{{ im.width }}" height="{{ im.height }}" class="media-box-object img-circle thumb32" />
                                {% endthumbnail %}
                            </div>
                            <div class="media-box-body clearfix">
                                <small class="pull-right">{{ comment_post.created }}</small>
                                <strong class="media-box-heading text-primary"><span class="text-left"></span>{{ comment_post.me.name|escape|safe }}</strong>
                                <p class="mb-sm">
                                    <small>{{ comment_post.description|escape|safe }}</small>
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <!-- END list group item-->

                </div>
                <!-- END list group-->
                <!-- START panel footer-->
                <div class="panel-footer clearfix">
                    <div class="input-group">
                        <input id="id_comment" type="text" placeholder="{% trans 'Type message ..' %}" class="form-control input-sm" />
                        <span class="input-group-btn">
                        <button id="id_comment_btn" onclick="" type="button" class="btn btn-default btn-sm">
                            <i class="fa fa-mail-reply"></i>
                        </button>
                        </span>
                    </div>
                </div>
                <!-- END panel-footer-->
            </div>
            <!-- End Team messages-->
        </div>
        <!-- end BODY CONTENT -->

        <!-- SIDEBAR CONTENT -->
        <div class="col-lg-4">
            <!-- Aside panel-->
            <div class="panel b">
                <!-- BODY OF TASK SIDEBAR -->
                <table class="table bb">
                    <tbody>
                        <tr>
                            <td>
                                <strong>{% trans 'Start date' %}</strong>
                            </td>
                            <td>
                                {% if task.start %}{{ task.start|date:"Y-m-d" }}{% else %}-{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{% trans 'Due date' %}</strong>
                            </td>
                            <td>
                                {% if task.due %}{{ task.due|date:"Y-m-d" }}{% else %}-{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{% trans 'Assigned by' %}</strong>
                            </td>
                            <td>{{ task.assigned_by.name|safe }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{% trans 'Assignee' %}</strong>
                            </td>
                            <td>
                                {{ task.assignee.name|safe }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{% trans 'Members' %}</strong>
                            </td>
                            <td>
                                {% for member in task.participants.all %}
                                    <p>{{ member.name|safe }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{% trans 'Tags' %}</strong>
                            </td>
                            <td>
                                {% for tag in task.tags.all %}
                                    <div class="badge p-sm bg-info">{{ tag.name|safe }}</div>
                                {% empty %}
                                -
                                {% endfor %}
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- end BODY OF TASK SIDEBAR -->

                <p class="text-right">
                    <a href="" class="btn btn-link">{% trans 'Open help ticket' %}</a>
                </p>
            </div>

        </div>
        <!-- end SIDEBAR CONTENT -->
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE CONTENT -->
{% endblock content %}
