{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/4/js.html' %}
    {% endcompress %}
    <div class="content-wrapper">
<div class="panel panel-default">
    <div class="panel-heading">{% trans 'Entrepreneur Intake Form' %}</div>
    <div class="panel-body">
        <div id="example-vertical" role="application" class="wizard clearfix vertical">
            <!-- PAGE SIDEBAR -->
            {% include 'tenant_intake/entrepreneur/sidebar_view.html' with page=4 %}
            <!-- end PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="content clearfix">
                <h4 id="example-vertical-h-0" tabindex="-1" class="title current">Keyboard</h4>
                <section id="example-vertical-p-0" role="tabpanel" aria-labelledby="example-vertical-h-0" class="body current" aria-hidden="false" style="left: 0px; display: block;">
                    <fieldset id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body current" aria-hidden="false">
                        {% for field in form %}
                            {% if field.id_for_label == 'id_how_to_contact'  %}
                                <div class="form-group has-feedback">
                                    <label for="signupInputText1" class="text-muted">{{ field.label_tag }}</label>
                                     {{ field }}
                                    {{ field.errors }}<br/>
                                    <br/>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </fieldset>
                </section>
            </div>
            <!-- end PAGE CONTENT -->

            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li class="disabled" aria-disabled="true">
                        <a id="id_skip_btn" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</a>
                    </li>
                    <li aria-hidden="false" aria-disabled="false" class="" style="display: block;">
                        <a onclick="ajax_save_and_continue();" role="menuitem" id="id_continue_btn">{% trans 'Next' %}</a>
                    </li>
                    <!-- <li aria-hidden="true" style="display: none;">
                        <a href="#finish" role="menuitem">Finish</a>
                        </li> -->
                </ul>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}
