{% load i18n %}
<script>
    $(document).ready(function () {
        // Keypress for enter.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress

        // Source from: http://stackoverflow.com/a/7120932
        $( "#id_date_of_birth" ).datepicker({
            dateFormat: "yy-mm-dd",
            minDate: new Date(1910,0,1),
            maxDate: new Date(2010,0,1),
            yearRange: '1910:2010' ,
            changeYear: true,
            changeMonth: true
        }); // end SUPPORT END OF DATE.
    }); // end DOCUMENT START

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save & Continue' %}");
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_round_two_step_two' %}";
    }

    function ajax_save_and_continue() {
        var identities = []; // initialize empty array
        $(".source:checked").each(function(){
            identities.push($(this).val());
        });
        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_intake(
            {{ intake.id }},
            function(intake) {
                intake['identities'] = identities;
                set_tenant_intake(
                    intake,
                    function(json_result) {
                        enable_btn();
                        var string = JSON.stringify( json_result );
                        console.log(string);
                        window.location = "{% url 'tenant_intake_entr_round_two_step_three' %}";
                    },
                    function(error_json_result) {
                        enable_btn();
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Intake.
            },
            function(error_json_result) {
                enable_btn();
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        ); // end Get Intake.
    }
</script>
