{% extends 'foundation_config/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/3_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'Great! You\'re Almost There!' %}</h2>
    <p class="text-center pv">{% trans '' %}</p>

    <br/>

    <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
        {% for field in form %}
            {% if field.id_for_label == 'id_do_you_own_a_biz' or field.id_for_label == 'id_do_you_own_a_biz_other' %}
                <div class="form-group has-feedback">
                    <label for="signupInputText1" class="text-muted">{{ field.label_tag }}</label>
                     {{ field }}
                    {{ field.errors }}<br/>
                    <br/>
                </div>
            {% endif %}
        {% endfor %}
        {{ form.non_field_errors }}
        
        <button onclick="ajax_save_and_continue();"
                     id="id_continue_btn"
                   type="button"
                  class="btn btn-block btn-primary mt-lg">{% trans 'Save &amp; Continue' %}</button>
    </form>

    <a onclick="ajax_back();"
            id="id_skip_btn"
         class="btn btn-block btn-default">{% trans 'Back' %}</a>

{% endblock content %}
