{% load i18n %}
<script>
    $(document).ready(function () {

    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save &amp; Continue' %}");
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_step_three' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_intake(
            {{ intake.id }},
            function(intake) {
                intake['how_to_contact'] = $('#id_how_to_contact').val();
                set_tenant_intake(
                    intake,
                    function(json_result) {
                        enable_btn();
                        var string = JSON.stringify( json_result );
                        console.log(string);
                        window.location = "{% url 'tenant_intake_entr_step_five' %}";
                    },
                    function(error_json_result) {
                        enable_btn();
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Intake.
            },
            function(error_json_result) {
                enable_btn();
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        ); // end Get Intake.
    }

</script>
