{% load i18n %}
<script>
    $(document).ready(function () {
        {% if request.tenant_me.address.address_country.id == 1 %}
            $("#id_how_to_contact_telephone").inputmask("(999) 999-9999");
        {% endif %}

        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress

        $("#id_address_country").change(function () {
            var end = this.value;
            var country_id = $('#id_address_country').val();

            get_tenant_postaladdress(
                {{ request.tenant_me.address.id }},
                function(postaladdress) {
                    postaladdress['address_country'] = $('#id_address_country').val()
                    set_tenant_postaladdress(
                        postaladdress,
                        function(result) {
                            location.reload(true);
                        },
                        function(error_result) {
                            console.log(error_result);
                            // Convert the error json into string.
                            var string = JSON.stringify( error_result );
                            alert("Unknown Error: "+string);
                        }
                    ); // end Set Tenant Postal Address

                },
                function(error_result) {
                    console.log(error_result);
                    // Convert the error json into string.
                    var string = JSON.stringify( error_result );
                    alert("Unknown Error: "+string);
                }
            ); // end Get Public Postal
        }); // end Change Country
    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save &amp; Continue' %}");
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_step_four' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_intake(
            {{ intake.id }},
            function(intake) {
                intake['how_to_contact_telephone'] = $('#id_how_to_contact_telephone').val();
                intake['how_to_contact_times'] = $('#id_how_to_contact_times').val();
                set_tenant_intake(
                    intake,
                    function(json_result) {
                        enable_btn();
                        var string = JSON.stringify( json_result );
                        console.log(string);
                        window.location = "{% url 'tenant_intake_entr_step_six' %}";
                    },
                    function(error_json_result) {
                        enable_btn();
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Intake.
            },
            function(error_json_result) {
                enable_btn();
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        ); // end Get Intake.
    }

</script>
