{% extends 'foundation_config/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/6_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'Thank you!' %}</h2>
    <p class="text-center pv">{% trans 'An advisor should contact you within 2 business days. If you don\'t hear from us, please feel free to give us a call at (123)555-5555 or Email us: info@smallbizcentre.com.' %}</p>
    <p class="text-center pv">{% trans 'And don\'t forget to follow us!' %}</p>

    <br/>

    <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
        
    </form>


{% endblock content %}
