{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
<!-- PAGE JS -->
    {% compress js inline %}
        {% include 'tenant_profile/org/settings/profile/js.html' %}
    {% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->

<div class="content-wrapper">
    <div class="container-md">
        <div class="row">
            <div class="col-md-3">
                {% include 'tenant_profile/org/settings/sidebar_panel.html' with page_num=1 %}
            </div>
            <div class="col-md-9">
                <div class="tab-content p0 b0">
                    <div id="tabSetting1" class="tab-pane active">
                        <div class="panel b">
                            <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Profile' %}</div>
                            <div class="panel-body">
                                <!-- PROFILE -->
                                <form action="">
                                    <div class="form-group col-md-7 col-centered text-center">
                                        <label>{% trans 'Logo' %}</label>
                                        <div class="clearfix"></div>
                                        <!-- Upload ID -->
                                        <input type="hidden" id="id_hidden_upload_id" value="{{ request.tenant_org.image.id }}"/>
                                        <input type="hidden" id="id_hidden_url" value="{% if request.tenant_org.image %}{% if request.tenant_org.image.imagefile %}{{ request.tenant_org.image.imagefile.url }}{% endif %}{% endif %}"/>
                                        <!-- /.Upload ID -->
                                        <!-- Image Placeholder -->
                                        {% thumbnail request.tenant_org.image.imagefile "200x200" format='JPEG' background="#ffffff" as im %}
                                            <img src="{{ im.url }}"
                                                  id="id_image_placeholder"
                                                style="height:200px;width:200px;"
                                                  alt="{{ request.tenant_org.name }} {% trans 'Picture' %}"
                                               width="{{ im.width }}"
                                              height="{{ im.height }}"
                                               class="img-thumbnail center-block mb0 add-cover-image" />
                                        {% empty %}
                                            <img src="{% static 'app/img/dummy64x64.png' %}"
                                                  id="id_image_placeholder"
                                               style="height:200px;width:200px;"
                                                 alt="{{ request.tenant_org.name }} {% trans 'Picture' %}"
                                               width="{{ im.width }}"
                                              height="{{ im.height }}"
                                               class="img-thumbnail center-block mb0 add-cover-image" />
                                        {% endthumbnail %}
                                        <!-- /.Image Placeholder -->
                                        <br/>
                                        <!-- Image Upload Button -->
                                        <label class="form-control input-lg btn btn-success btn-lg mb" style="height: auto;" >
                                            <em class="fa fa-upload"></em>&nbsp;&nbsp; {% trans 'Upload' %}
                                            <input id="id_image"
                                             onchange="ajax_upload_image();"
                                                 type="file"
                                                class="form-control mb10 hide"
                                                 name="product-image" />
                                        </label>
                                        <!-- /.Image Upload Button -->
                                        <br/>
                                        <div class="clearfix"></div>
                                    </div>
                                   
                                    <div class="form-group col-md-7 col-centered">
                                        <label class="mt">{% trans 'URL' %}</label>
                                        <input id="id_url" type="text" class="form-control input-lg" value="{{ request.tenant_org.url }}">
                                    </div>
                                    <div class="form-group col-md-7 col-centered">
                                        <label class="mt">{% trans 'Telephone' %}</label>
                                        <input id="id_telephone" type="text" class="form-control input-lg" value="{{ request.tenant_org.telephone|escape|safe }}" />
                                    </div>
                                    <div class="form-group col-md-7 col-centered">
                                        <label class="mt">{% trans 'Email' %}</label>
                                        <input id="id_email" type="text" class="form-control input-lg" value="" />
                                    </div>
                                    <div class="form-group col-md-7 col-centered">
                                        <label class="mt">{% trans 'Facebook' %}</label>
                                        <input id="id_facebook" type="text" class="form-control input-lg" value="" />
                                    </div>
                                    <div class="form-group col-md-7 col-centered">
                                        <label class="mt">{% trans 'Twitter' %}</label>
                                        <input id="id_twitter" type="text" class="form-control input-lg mb" value="" />
                                    </div>
                                    
                                    <div class="form-group col-sm-12" style="text-align: center;">
                                    <button id="id_profile_btn"
                                       onclick="ajax_profile();"
                                          type="button"
                                         class="btn btn-info btn-lg mt">{% trans 'Update Settings' %}</button>
                                    </div>
                                         
                                    <!-- <p>
                                        <small class="text-muted">{% trans '* Your telephone and address are private, and can only be viewed by your host organization and advisors.' %}</small>
                                    </p> -->
                                    
                                </form>
                                <!-- end PROFILE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end PAGE HTML -->
{% endblock content %}