{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });
    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').attr("disabled", "disabled");
    }

    function enable_btn() {
        $('#id_continue_btn').removeAttr("disabled");
    }

    function ajax_cancel_and_continue() {
        window.location = "{% url 'foundation_auth_config_org_step_two' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.
        get_public_organization(
            {{ request.tenant.id }},
            function(org) {
                var logo = parseInt( $('#id_hidden_upload_id').val() ); // Update our organization.
                if (logo > 0) {
                   org['logo'] = logo;
                }
                set_public_organization(
                    org,
                    function(error) {
                        enable_btn();
                        console.log(error);
                    },
                    function(json_result) {
                        enable_btn();
                        console.log(json_result);
                        window.location = "{% url 'foundation_auth_config_org_step_two' %}";
                    },
                    function(error_result) {
                        enable_btn();
                        var string = JSON.stringify( error_result );
                        console.log(error_result);
                        alert(string);
                    }
                ); // end Set TenantMe
            },
            function(error_result) {
                enable_btn();
                var string = JSON.stringify( error_result );
                console.log(error_result);
                alert(string);
            }
        ); // end Get TenantMe
    }

    /**
     *  Function will asynchronously upload the cover image.
     */
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
            alert(_("Please select an image to upload"));
            // $.notify("Please select an image to upload", "danger");
            return false;
        }

        // Extract the information.
        var image = document.getElementById('id_image').files[0];
        var upload_id = $('#id_hidden_upload_id').val();
        console.log("upload_id: "+upload_id);

        // Insert or Update.
        set_public_imageupload(upload_id, image, function(json_result) {
            console.log(json_result);
            $('#id_hidden_url').attr('src', json_result['imagefile']);
            $('#id_hidden_upload_id').val(json_result['id']);
            $('#id_image_placeholder').attr('src', json_result['imagefile']);
        });
    }

</script>
