{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
    <!-- PAGE JS -->
    {% compress js inline %}
        {% include 'tenant_configuration/organization/1/js.html' %}
    {% endcompress %}
    <!-- end PAGE JS -->
    <!-- PAGE HTML -->
    <div class="content-wrapper">
                    <h2 class="text-center pv">
                        {% trans 'Location' %}
                    </h2>
                    <p class="text-center pv">{% trans 'Please enter your Organizations location.' %}</p>
                            
                    <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                        <!-- COUNTRY -->
                        <fieldset class="blue-lbl">
                            <div class="form-group">
                                <div class="col-sm-7 col-centered">
                                    <label for="signupInputText1">{% trans 'Country' %}</label>
                                    <select id="id_country" class="form-control input-lg">
                                        {% if not request.tenant.address.country %}
                                            <option value="">{% trans 'Please select your country' %}</option>
                                        {% endif %}
                                        {% for country in countries.all %}
                                            <option value="{{ country.id }}" {% if request.tenant.address.country == country %}selected="selected"{% endif %}>{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <!-- end COUNTRY -->
                        <!-- PROVINCE -->
                        <fieldset class="blue-lbl">
                            <div class="form-group">
                                <div class="col-sm-7 col-centered">
                                    <label for="signupInputText1">{% trans 'Province/State' %}</label>
                                    <select id="id_region" class="form-control input-lg" {% if not request.tenant.address.region %}disabled{% endif %}>
                                        {% for province in provinces.all %}
                                            <option value="{{ province.id }}" {% if province == request.tenant.address.region %}selected="selected"{% endif %}>{{ province.name }}</option>
                                        {% empty %}
                                            <option value="" selected="selected">{% trans 'Please select a province/state' %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <!-- end PROVINCE -->
                        <!-- CITY -->
                         <fieldset class="blue-lbl">
                            <div class="form-group" id="id_locality_div">
                                <div class="col-sm-7 col-centered">
                                    <label for="id_locality">{% trans 'City' %}</label>
                                    <input class="form-control input-lg" id="id_locality" maxlength="127" name="locality" placeholder="{% trans 'Enter the city.' %}" type="text" value="{{ request.tenant.address.locality }}">
                                </div>
                            </div>
                        </fieldset>
                        <!-- end CITY -->

                        {% for field in form %}
                            {% if field.id_for_label in accepted_fields %}
                            <fieldset class="blue-lbl">
                                <div class="form-group" id="{{ field.id_for_label }}_div">
                                     <div class="col-sm-7 col-centered">
                                        {{ field.label_tag }} {{ field }}
                                        {{ field.errors }}
                                        {% comment %}
                                        <label class="col-sm-12 control-label">{{ field.label_tag }}</label>
                                        <div class="col-sm-12">
                                            {{ field }}
                                            {{ field.errors }}<br/>
                                        </div>
                                        {% endcomment %}
                                    </div>
                                </div>
                            </fieldset>
                            {% endif %}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </form>
            
            <div class="actions text-center clearfix">
                   <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>

    </div>
<!-- end PAGE HTML -->
{% endblock content %}
