{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
    <!-- PAGE JS -->
    {% compress js inline %}
        {% include 'tenant_configuration/organization/1/js.html' %}
    {% endcompress %}
    <!-- end PAGE JS -->
    <!-- PAGE HTML -->
    <div class="content-wrapper">
<div class="panel panel-default">
    <!-- <div class="panel-heading">{% trans 'Entrepreneur Intake Form' %}</div> -->
    <div class="panel-body">
        <div id="example-vertical" role="application" class="wizard clearfix vertical">

            <!-- PAGE SIDEBAR -->
            {% include 'tenant_configuration/organization/sidebar_view.html' with page=1 %}
            <!-- end PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="content clearfix" style="height: 1500px; display: inline; "> <!-- TODO: IMPLEMENT DYNAMIC HEIGHT ADJUSTMENT -->
                <h4 id="example-vertical-h-0" tabindex="-1" class="title current">Logo</h4>
                <section id="example-vertical-p-0" role="tabpanel" aria-labelledby="example-vertical-h-0" class="body current" aria-hidden="false" style="left: 0px; display: block;">
                    <h2 class="text-center pv">{% trans 'Location' %}</h2>
                    <p class="text-center pv">{% trans 'Please enter your Organizations location.' %}</p>

                    <br/>

                    <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                        <!-- COUNTRY -->
                        <div class="form-group has-feedback">
                            <label for="signupInputText1" class="text-muted">{% trans 'Country' %}</label>
                            <select id="id_country" class="form-control">
                                {% for country in countries.all %}
                                    <option value="{{ country.id }}" {% if address.country == country %}selected="selected"{% endif %}>{{ country.name }}</option>
                                {% empty %}
                                    <option value="">{% trans 'Please select your country' %}</option>
                                {% endfor %}
                            </select>
                            <span class="fa fa-map-marker form-control-feedback text-muted"></span>
                        </div>
                        <!-- end COUNTRY -->
                        <!-- PROVINCE -->
                        <div class="form-group has-feedback">
                            <label for="signupInputText1" class="text-muted">{% trans 'Province/State' %}</label>
                            <select id="id_region" class="form-control" {% if not address.region %}disabled{% endif %}>
                                {% for province in provinces.all %}
                                    <option value="{{ province.id }}" {% if province == address.region %}selected="selected"{% endif %}>{{ province.name }}</option>
                                {% empty %}
                                    <option value="" selected="selected">{% trans 'Please select a province/state' %}</option>
                                {% endfor %}
                            </select>
                            <span class="fa fa-map-marker form-control-feedback text-muted"></span>
                        </div>
                        <!-- end PROVINCE -->
                        <!-- CITY -->
                        <div class="form-group" id="id_locality_div">
                            <label for="id_locality">{% trans 'City' %}</label>
                            <input class="form-control" id="id_locality" maxlength="127" name="locality" placeholder="{% trans 'Enter the city.' %}" type="text" value="{{ address.locality }}">
                            <br>

                        </div>
                        <!-- end CITY -->

                        {% for field in form %}
                            {% if field.id_for_label in accepted_fields %}
                                <div class="form-group" id="{{ field.id_for_label }}_div">
                                    {{ field.label_tag }} {{ field }}
                                    {{ field.errors }}<br/>
                                    {% comment %}
                                    <label class="col-sm-4 control-label">{{ field.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {{ field }}
                                        {{ field.errors }}<br/>
                                    </div>
                                    {% endcomment %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </form>
                </section>
            </div>
            <!-- end PAGE CONTENT -->

            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li aria-hidden="false" aria-disabled="false" class="" style="display: block;">
                        <button id="id_continue_btn" type="button" class="btn btn-block btn-primary mt-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end PAGE HTML -->
{% endblock content %}
