{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });

        // Customize the call to tagsInput to match your code.
        // Include all the parameters you are calling, and any other code
        // necessary to demonstrate the problem you are having.
        // The docs are here: http://xoxco.com/projects/code/tagsinput
        //
        // If you can't recreate the problem here, check your original code for issues.

        $('#tags').tagsInput({
            // my parameters here
        });
    });

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save & Continue' %}");
    }

    function ajax_back() {
        window.location = "{% url 'foundation_auth_config_org_step_one' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.

        // Get all the Tag Items in the #tags input and iterate through
        // all the items and save them to our database.
        var tag_items = $('#tags').val();
        var arr = tag_items.split(',');
        arr.forEach(function(value, index) {
            set_tenant_tag(
                {
                     'name': value,
                },
                function(json_result) {
                    console.log(json_result);
                },
                function(json_error_result) {
                    console.log(json_error_result);
                }
            );
        });

        setTimeout(function() {
            enable_btn();
            window.location = "{% url 'foundation_auth_config_org_step_three' %}";
        }, 1000);
    }

</script>
