{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
    <!-- PAGE JS -->
    {% compress js inline %}
        {% include 'tenant_configuration/organization/5/js.html' %}
    {% endcompress %}
    <!-- PAGE JS -->
    <!-- PAGE HTML -->
    <div class="content-wrapper">
                <h2 class="text-center pv">{% trans 'Timezone' %}</h2>
                <p class="text-center pv">{% trans 'Please pick a standard timezone that your organization will run under.' %}</p>
                    <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                        <fieldset class="blue-lbl">
                            <div class="form-group">
                                <div class="col-sm-7 col-centered">
                              
                                    <label for="timezone">{% trans 'Time zone:' %}</label>
            
                                    <!-- TIMEZONES -->
                                    <select id="id_timezone" name="timezone" class="form-control input-lg">
                                        {% for tz in timezones %}
                                            <option value="{{ tz }}"{% if tz == request.tenant.time_zone %} selected="selected"{% endif %}>{{ tz }}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- end TIMEZONES -->
                                 </div>
                            </div>
                        </fieldset>
                    </form>

            <div class="actions text-center clearfix">
                    <button id="id_back_btn" type="button" class="btn btn-block btn-default mt-lg btn-lg mb-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                    <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>
    </div>
<!-- end PAGE HTML -->
{% endblock content %}
