{% load i18n %}
<script>
    $(document).ready(function () {
        // ALGORITHM
        // If someone clicks on the "Other" option then show the government
        // benefit "Other" options.
        $('#id_other_government_benefit_div').hide();
        {% for benefit in intake.government_benefits.all %}
            {% if benefit.id == 6 %}
                $('#id_other_government_benefit_div').show();
            {% endif %}
        {% endfor %}

        // Keypress for enter.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress

        // Detect the "Other" question.
        $("#id_benefit_6").change(function () {
            // This code detects whether the checkbox is clicked or not.
            var is_other = $('input[id=id_benefit_6]').is(':checked');
            if (is_other) {
                $('#id_other_government_benefit_div').show();
            } else {
                $('#id_other_government_benefit_div').hide();
            }
        }); // end Other Click
    });

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true); // Disable button.
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false); // Enable button.
    }

    function ajax_save_and_continue() {
        var government_benefits = []; // initialize empty array
        $(".source:checked").each(function(){
            government_benefits.push($(this).val());
        });
        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_intake(
            {{ intake.id }},
            function(intake) {
                intake['government_benefits'] = government_benefits;
                intake['other_government_benefit'] = $('#id_other_government_benefit').val();
                set_tenant_intake(
                    intake,
                    function(json_result) {
                        window.location = "{% url 'tenant_intake_entr_round_two_step_two' %}";
                    },
                    function(error_json_result) {
                        enable_btn();
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Intake.
            },
            function(error_json_result) {
                enable_btn();
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        ); // end Get Intake.
    }
</script>
