{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/round_2/1/js.html' with intake=intake %}
    {% endcompress %}
    <!-- end PAGE JS -->
    <!-- PAGE CONTENT -->
    <div class="content-wrapper">
        <h3 class="blk-h3">{% trans 'Entrepreneur Intake Form - Round Two' %}</h3>
    
                    <!-- OPTIONS -->
                    <div class="form-group" id="id_how_can_we_help_div">
                        <h2 class="text-center pv">
                            <label for="signupInputText1" style="font-weight: 400;">
                                <label for="id_how_can_we_help" style="font-weight: 400;">{% trans 'Do you currently receive any of the following government benefits? (select all that apply)' %}</label>
                            </label>
                        </h2>
                        
                        <div class="col-sm-6 col-centered">
                        {% for benefit in benefits.all %}
                        <div class="checkbox c-checkbox">
                            <label>
                            <input value="{{ benefit.id }}"
                            {% if benefit in intake.government_benefits.all %}
                                 checked="checked"
                            {% endif %}
                                   class="source"
                                      id="id_benefit_{{ benefit.id }}"
                                    type="checkbox" />
                                    <span class="fa fa-check"></span>
                                    {{ benefit.name }}
                            </label>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    <!-- end OPTIONS -->

                    <!-- OTHER -->
                    <div id="id_other_government_benefit_div" class="form-group">
                            <h2 class="text-center pv">
                                <label for="signupInputText1" style="font-weight: 400;">
                                    <label for="id_other_government_benefit" style="font-weight: 400;">
                                        {% trans 'Other Government Benefit' %}:
                                    </label>
                                </label>
                            </h2>
                            <div class="col-sm-6 col-centered">
                            <input class="form-control input-lg"
                                      id="id_other_government_benefit"
                               maxlength="127"
                                    type="text"
                                   value="{{ intake.other_government_benefit }}" />
                            <br>
                            </div>
                    </div>
                    <!-- end OTHER -->

            <div class="actions text-center clearfix">
                        <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg mt-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>
    </div>

{% endblock content %}
