{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });
    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save &amp; Continue' %}");
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_round_one_step_four' %}";
    }

    function ajax_save_and_continue() {
        window.location = "{% url 'tenant_intake_entr_round_two_step_one' %}";
    }

</script>
