{% load i18n %}
<script>
    $(document).ready(function () {
        // Lock the Next button until the email has been properly set.
        {% if not me.email %}
            $('#id_submit_btn').prop("disabled", true);
        {% endif %}

        // Call function when any keys are pressed for the 'email' field
        // and verify dynamically if the email is good.
        $( "#id_email" ).keypress(function() {
            var email = $( "#id_email" ).val();

            // Check to see if the email has been validated or else indicate
            // that the text is bad.
            if (is_email_valid(email)) {
                public_is_email_unique(
                    email,
                    function(is_unique) {
                        if (is_unique || email == "{{ me.email }}") {
                            $('#id_email_div').attr('class','form-group has-success');
                            $("#id_email_span").text('');
                            $('#id_submit_btn').prop("disabled", false);
                        } else {
                            $('#id_email_div').attr('class','form-group has-warning');
                            $("#id_email_span").text('Email is not unique! Please choose a different email.');
                            $('#id_submit_btn').prop("disabled", true);
                        }
                    }
                ); // end Is Email Uniue
            } else {
                $('#id_email_div').attr('class','form-group has-error');
                $("#id_email_span").text('Please enter a properly formatted email.');
                $('#id_submit_btn').prop("disabled", true);
            }
        }); // end Email Keypress

        $("#id_country").change(function () {
            var end = this.value;
            var country_id = $('#id_country').val();
            var criteria = Array();
            criteria.push({
                'country': country_id,
            });
            filter_provinceoptions(
                criteria,
                function(json_result) {
                    $('#id_region').prop("disabled", false);
                    html = "<option value=\"0\">Please select a province.</option>";
                    $(json_result).each(function(iter,val2){
                        $(val2['results']).each(function(index, column){
                            html += "<option value=\"" + column['id']+ "\">" + column['name'] + "</option>";
                        });
                    }); // end Iterate Provinces
                    $('#id_region').html('');       // Clear selection
                    $(html).appendTo('#id_region'); // Load new selection
                }
            ); // end Filter Provinces
        }); // end Change Country
    }); // end Document Start

    function ajax_unprotected_submit() {
        var email = $( "#id_email" ).val();

        // Check to see if the email has been validated or else indicate
        // that the text is bad.
        if (is_email_valid(email)) {
            public_is_email_unique(
                email,
                function(is_unique) {
                    if (is_unique || email == "{{ me.email }}") {
                        ajax_tenant_me_submit();
                    }
                }
            ); // end Is Email Uniue
        } else {
            $('#id_email_div').attr('class','form-group has-error');
            $("#id_email_span").text('Please enter a properly formatted email.');
            $('#id_submit_btn').prop("disabled", true);
        }
    }

    function ajax_finalize_submit() {
        var comment = $.trim($('#id_review').val());
        tenant_intake_judge(
            {{ intake_form.instance.id }},
            {{ contants.APPROVED_STATUS }},
            comment,
            true,
            function() {
                window.location = "{% url 'tenant_customer_entrepreneur_master' %}"; // Return to the client's list page.
            },
            function() {
                $('#id_submit_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Tenant Intake Review
    }

    function ajax_intake_submit() {
        get_tenant_intake(
            {{ intake_form.instance.id }},
            function(intake) {
                intake['how_can_we_help'] = $('#id_how_can_we_help').val();
                intake['how_can_we_help_other'] = $('#id_how_can_we_help_other').val();
                intake['how_can_we_help_tag'] = $('#id_how_can_we_help_tag').val();
                intake['how_did_you_hear'] = $('#id_how_did_you_hear').val();
                intake['how_did_you_hear_other'] = $('#id_how_did_you_hear_other').val();
                intake['do_you_own_a_biz'] = $('#id_do_you_own_a_biz').val();
                intake['do_you_own_a_biz_other'] = $('#id_do_you_own_a_biz_other').val();
                intake['has_telephone'] = $('#id_has_telephone').val();
                intake['telephone'] = $('#id_telephone').val();
                intake['telephone_time'] = $('#id_telephone_time').val();
                set_tenant_intake(
                    intake,
                    function(json_result) {
                        ajax_finalize_submit(); // Finialize submission.
                    },
                    function(error_json_result) {
                        $('#id_submit_btn').prop("disabled", false);
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Intake.
            },
            function(error_json_result) {
                $('#id_submit_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        ); // end Get Intake.
    }

    function ajax_contant_point_submit() {
        get_tenant_contactpoint(
            {{ me.contact_point.id }},
            function(contact_point) {
                contact_point['how_can_we_help'] = $('#id_how_can_we_help').val();
                contact_point['how_can_we_help_other'] = $('#id_how_can_we_help_other').val();
                contact_point['how_can_we_help_tag'] = $('#id_how_can_we_help_tag').val();
                contact_point['how_did_you_hear'] = $('#id_how_did_you_hear').val();
                contact_point['how_did_you_hear_other'] = $('#id_how_did_you_hear_other').val();
                contact_point['do_you_own_a_biz'] = $('#id_do_you_own_a_biz').val();
                contact_point['do_you_own_a_biz_other'] = $('#id_do_you_own_a_biz_other').val();
                contact_point['has_telephone'] = $('#id_has_telephone').val();
                contact_point['telephone'] = $('#id_telephone').val();
                contact_point['telephone_time'] = $('#id_telephone_time').val();
                set_tenant_contactpoint(
                    contact_point,
                    function(json_result) {
                        ajax_intake_submit();
                    },
                    function(error_json_result) {
                        $('#id_submit_btn').prop("disabled", false);
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end Set Postal Address
            },
            function(error_json_result) {
                $('#id_submit_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Get Postal Address
    }

    function ajax_postal_address_submit() {
        get_tenant_postaladdress(
            {{ me.address.id }},
            function(address) {
                address['country'] = $('#id_country').val();
                address['region'] = $('#id_region').val();
                address['locality'] = $('#id_locality').val();
                address['post_office_box_number'] = $('#id_post_office_box_number').val();
                address['postal_code'] = $('#id_postal_code').val();
                address['street_address'] = $('#id_street_address').val();
                set_tenant_postaladdress(
                    address,
                    function(json_result) {
                        ajax_contant_point_submit(); // Update CONTACT POINT.
                    },
                    function(error_json_result) {
                        $('#id_submit_btn').prop("disabled", false);
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end Set Postal Address
            },
            function(error_json_result) {
                $('#id_submit_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Get Postal Address
    }

    function ajax_tenant_me_submit() {
        $('#id_submit_btn').prop("disabled", true);

        // Defensive Code: If the user doesn't include 'http' then automatically
        //                 include it into the URL. Also handle situations where
        //                 Twitter username is entered and replace it with the
        //                 full Twitter URL.
        var website_url = $('#id_url').val();
        if (website_url.indexOf("http") < 0) {
            website_url = 'http://' + website_url;
        }
        if (website_url.length < 8) {
            website_url = "";
        }

        get_tenant_me(
            {{ me.id }},
            function(me) {
                me['given_name'] = $('#id_first_name').val();
                me['family_name'] = $('#id_last_name').val();
                me['email'] = $('#id_email').val();
                me['telephone'] = $('#id_telephone').val();
                me['url'] = website_url;
                me['description'] = $('#id_description').val();
                set_tenant_me(
                    me,
                    function(json_result) {
                        ajax_postal_address_submit(); // Update TENANT ME.
                    },
                    function(error_json_result) {
                        $('#id_submit_btn').prop("disabled", false);
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET TenantMe
            },
            function(error_json_result) {
                $('#id_submit_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET TenantMe
    }
</script>
