{% load i18n %}
<script>
    $(document).ready(function () {
        // Do nothing.
    });

    function ajax_archive(id) {
        window.location = "{% url 'tenant_archive_conversation' sender_id %}";
    }

    function ajax_cancel() {
        window.location = "{% url 'tenant_message_inbox' %}";
    }

    function disable_btn() {
        $('#id_post_btn').attr("disabled","disabled");
    }

    function enable_btn() {
        $('#id_post_btn').prop("disabled", false);
    }

    function ajax_create_message() {
        var recipient =  {{ sender_id }};
        var text =  $('#id_description').val();
        var message = {
            'recipient': recipient,
            'description': text,
        };

        if (text <= 0) {
            alert("{% trans 'Please enter a message text before sending.' %}");
            return;
        }

        disable_btn(); // Disable button.

        // Send the message.
        set_tenant_message(
            message,
            function(json_result) {
                alert("{% trans 'Message sent.' %}");
                enable_btn();
                window.location = "{% url 'tenant_message_inbox' %}";
            },
            function(error_json_result) {
                enable_btn();
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        );
    }
</script>
