{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
<!-- Page content-->
<div class="content-wrapper">
    <!-- CONVERSATION LOG -->
    <div class="panel panel-default">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
            <div data-height="450" data-scrollable="" class="panel-body" style="overflow: hidden; width: auto; height: auto;">
                <div class="conversation-wrapper">
                    <div class="conversation-content">
                        <div class="conversation-inner">
                            {% for message in messages.all %}

                            {% if message.recipient == request.tenant_me %}
                                <div class="conversation-item item-left clearfix" id="{{ message.id }}">
                            {% else %}
                                <div class="conversation-item item-right clearfix" id="{{ message.id }}">
                            {% endif %}

                                <div class="conversation-user">
                                    {% if message.sender.image != None and message.sender.image != '' %}
                                        <img src="{{ message.sender.image.imagefile.url }}"
                                            alt="{% trans 'Mail Avatar' %}"
                                          class="img-circle thumb64" />
                                    {% else %}
                                        <img src="{% static 'app/img/dummy.png' %}"
                                             alt="{% trans 'Mail Avatar' %}"
                                           class="img-circle thumb64" />
                                    {% endif %}
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        {{ message.sender.owner.first_name }} {{ message.sender.owner.last_name }}
                                    </div>
                                    <div class="time">
                                        {% if message.date_read %}
                                            <em>{{ message.date_read }}</em>
                                        {% else %}
                                            <em>Not Read</em>
                                        {% endif %}
                                    </div>
                                    <div class="text">
                                        <p>{{ message.description }}</p>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                        </div>
                    </div>
                </div>
            </div>
            <div class="slimScrollBar" style="background-color: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 450px; background-position: initial initial; background-repeat: initial initial;"></div>
            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
            <br/>
        </div>
    </div>
    <!-- end CONVERSATION LOG -->

</div>
{% endblock content %}
