{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}

{% compress js inline %}
    <script>
    $(document).ready(function () {
        // Detect table click and the row index clicked then run the code.
        $(document).on("click", '#id_table tr', function(){
            var sender_id = $(this).attr("id");
            window.location = sender_id;
        });
    });
    </script>
{% endcompress %}

<!-- Page content-->
<div class="content-wrapper">
    <h3>{% trans 'Archive' %}</h3>
    <div class="table-grid table-grid-desktop">

        <div class="col">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- p.lead.text-centerNo mails here-->
                    <table id="id_table" class="table table-hover mb-mails">
                        <tbody>
                            <!-- ngRepeat: mail in mails | filter:folder-->
                            {% for message in messages.all %}
                            <tr id="{% if message.sender == request.tenant_me %}
                                        {% url 'tenant_archive_details' message.recipient.id %}
                                    {% else %}
                                        {% url 'tenant_archive_details' message.sender.id %}
                                    {% endif %}">
                                {% comment %}
                                <td>
                                    <div class="checkbox c-checkbox">
                                        <label>
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                {% endcomment %}

                                <td>
                                    {% if message.sender.image != None and message.sender.image != '' %}
                                        <img src="{{ message.sender.image.imagefile.url }}"
                                            alt="{% trans 'Mail Avatar' %}"
                                          class="mb-mail-avatar pull-left" />
                                    {% else %}
                                        <img src="{% static 'app/img/dummy.png' %}"
                                             alt="{% trans 'Mail Avatar' %}"
                                           class="mb-mail-avatar pull-left" />
                                    {% endif %}
                                    <div class="mb-mail-date pull-right">
                                        {{ message.date_received }}
                                    </div>
                                    <div class="mb-mail-meta">
                                        <div class="pull-left">
                                            <!-- <div class="mb-mail-subject">Admin web application</div> -->
                                            <div class="mb-mail-from">
                                                {{ message.sender.owner.first_name }} {{ message.sender.owner.last_name }}
                                            </div>
                                        </div>
                                        <div class="mb-mail-preview">{{ message.description|truncatechars:64 }}</div>
                                    </div>
                                </td>

                            </tr>
                            {% empty %}
                            <tr>
                                <p>{% trans 'No archived messages.' %}</p>
                            </tr>
                            {% endfor %}
                            <!-- end ngRepeat: mail in mails | filter:folder-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
