{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_resource/client/category/master/js.html' %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
<!-- TITLE & BREADCRUMBS -->
<h3>
    <em class="fa fa-fw ffa icon-notebook mr"></em>{% trans 'Resources' %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
          <a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a>
        </li>
        <li>
            {% if not request.tenant_me.is_entrepreneur %}
                <a href="{% url 'tenant_resource_staff_launchpad_master' %}">{% trans 'Resource (Staff)' %}</a>
            {% else %}
                <a href="{% url 'tenant_resource_client_category_master' %}">{% trans 'Resource' %}</a>
            {% endif %}
        </li>
        <li class="active">{% trans 'Category' %}&nbsp;{% if not request.tenant_me.is_entrepreneur %}(Entrepeneur){% endif %}</li>
    </ol>
    <!-- end BREADCRUMBS -->
</h3>
<!-- end TITLE & BREADCRUMBS -->
<!-- CONTENT -->
<div class="container container-md">
    <div class="row">
        {% for category in categories.all %}
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="{% url 'tenant_resource_client_details' category.id %}" class="link-unstyled" style="color:{{ category.colour }};">
                        <em class="fa fa-5x {{ category.icon }} mb-lg"></em>
                        <br>
                            <span class="h4" style="color:black;">{{ category.name }}</span>
                        <br>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
