{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress tenant_workspace_tags tenant_reception_tags %}
{% block content %}

<!-- PAGE JS -->
{% compress js inline %}
<script>
    function ajax_submit() {
        $("#id_submit_btn").attr('disabled','disabled'); // Disable button.
        tenant_module_finish(
            {{ module.id }},
            function(json_result) {
                $("#id_submit_btn").removeAttr('disabled'); // Enable button.
                alert("{% trans 'You have submitted your work! Please wait for your advisor to review it.' %}")
                window.location = "{% url 'tenant_reception' %}";
            },
            function(error_json_result) {
                $("#id_submit_btn").removeAttr('disabled'); // Enable button.
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end FINISH
    }
</script>
{% endcompress %}
<!-- end PAGE JS -->

<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li><a href="{% url 'tenant_reception' %}">{% trans 'Reception' %}</a></li>
        <li><a href="{% url 'tenant_reception_workspace_start_master' workspace.id %}">{% trans 'Learning' %}</a></li>
        <li class="active">{% trans 'Module' %}&nbsp;-&nbsp;{{ module.title }}</li>
    </ol>
    <!-- end BREADCRUMBS -->

    <!-- CONTENT -->
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>{% trans 'You are done!' %}</h1>
                <p>{% trans 'You are ready to submit, click submit to generate a document and have an advisor review your work.' %}</p>
                <p>
                    <a role="button" class="btn btn-default btn-lg" href="{% url 'tenant_reception_workspace_detail' workspace_id node_current_position %}">
                        {% trans 'Back' %}
                    </a>
                    <a id="id_submit_btn" role="button" class="btn btn-success btn-lg" onclick="ajax_submit();">
                        {% trans 'Submit' %}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- end CONTENT -->

</div>
<!-- end PAGE CONTENT -->

{% endblock content %}
