{% load staticfiles i18n thumbnail %}
<div class="table-responsive">
    <!-- DATA TABLE -->
    <table id="datatable1" class="table table-striped table-hover">
       <thead>
          <tr>
              <th class="sort-alpha">{% trans 'Title' %}</th>
              <th class="sort-alpha">{% trans 'Workspace' %}</th>
              <th class="sort-alpha">{% trans 'Owner(s)' %}</th>
              <th>&nbsp;</th>
          </tr>
       </thead>
       <tbody>
          <!-- TABLE ROWS -->
          {% for document in documents.all %}
          <tr>
             <td>{{ document.name }}</td>
             <td>{{ document.workspace|escape|safe }}</td>
             <td>
                 {% for me in document.workspace.mes.all %}
                     {{ me.owner.first_name }}&nbsp;{{ me.owner.last_name }}{% if not forloop.last %}&nbsp;&#44;{% endif %}
                 {% endfor %}
             </td>
             <td>
                 <a href="{% url 'tenant_review_detail' document.id %}" class="btn btn-xs btn-info">{% trans 'View' %}&nbsp;<i class="fa fa-info-circle"></i></a>
             </td>
          </tr>
          {% endfor %}
          <!-- end TABLE ROWS -->

       </tbody>
    </table>
    <!-- end DATA TABLE -->

</div>
