{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });
    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').attr("disabled", "disabled");
    }

    function enable_btn() {
        $('#id_continue_btn').removeAttr("disabled");
    }

    function ajax_back() {
        window.location = "{% url 'foundation_auth_config_org_step_five' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.

        var has_mentors = $("input:radio[name=has_mentors]:checked").val()
        get_public_organization(  // Fetch our organization.
            {{ request.tenant.id }},
            function(organization) {
                organization['has_mentors'] = has_mentors;
                set_public_organization(  // Save our organization.
                    organization,
                    function(error) {
                        enable_btn();
                        console.log(error);
                    },
                    function(json_result) {
                        enable_btn();
                        console.log(json_result);
                        window.location = "{% url 'foundation_auth_config_org_step_seven' %}";
                    },
                    function(json_error_result) {
                        enable_btn();
                        console.log(json_error_result);
                        alert(json_error_result);
                    }
                ); // end Get Organization
            },
            function(error_result) {
                enable_btn();
                console.log(error_result);
                alert(json_error_result);
            }
        );  // end Set Organization
    }

</script>
