{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
<!-- PAGE JS -->
    {% compress js inline %}
        {% include 'tenant_configuration/organization/6/js.html' %}
    {% endcompress %}
    <!-- end PAGE JS -->
    <!-- PAGE HTML -->
    <div class="content-wrapper">
            <h2 class="text-center pv">{% trans 'Great! You\'re Almost There!' %}</h2>
            <p class="text-center pv">{% trans 'We just need a few more details to finish setting up your profile. We need you to do this to get started, but don\'t worry, you can always change these settings later. Let\'s get started!' %}</p>
            <p class="text-center pv">{% trans 'First, let\'s upload your profile picture. This will help you to brand and customize SME Gurus for your clients. If you don\'t have your profile picture handy, you can skip this step, but we highly recommended that you add one now.' %}</p>

                <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                    <fieldset class="blue-lbl">
                              
                        <!-- Upload ID -->
                        <input type="hidden" id="id_hidden_upload_id" value="{{ request.tenant_me.image.id }}"/>
                        <input type="hidden" id="id_hidden_url" value="{% if request.tenant_me.image %}{% if request.tenant_me.image.imagefile %}{{ request.tenant_me.image.imagefile.url }}{% endif %}{% endif %}"/>
                        <!-- /.Upload ID -->

                        <!-- Image Placeholder -->
                        {% thumbnail request.tenant_me.image.imagefile "200x200" format='JPEG' background="#ffffff" as im %}
                        <img id="id_image_placeholder"
                            src="{{ im.url }}"
                          style="height:200px;width:200px;"
                            alt="{{ request.tenant.name }}'s Profile Picture"
                          class="img-thumbnail center-block mb0 add-cover-image"
                           name="product-image" />
                         {% empty %}
                         <img id="id_image_placeholder"
                             src="{% static 'app/img/dummy200x200.png' %}"
                           style="height:200px;width:200px;"
                             alt="{{ request.tenant.name }}'s Profile Picture"
                           class="img-thumbnail center-block mb0 add-cover-image"
                            name="product-image" />
                         {% endthumbnail %}
                        <!-- /.Image Placeholder -->

                        <br/>

                        <!-- Image Upload Button -->
                        <label class="form-control btn btn-success btn-lg" style="height: auto;">
                            <em class="fa fa-upload"></em>&nbsp;&nbsp; {% trans 'Upload Profile Picture...' %}
                            <input onchange="ajax_upload_image();"
                                         id="id_image"
                                       type="file"
                                      class="form-control mb10 hide"
                                       name="product-image" />
                        </label>
                        <!-- /.Image Upload Button -->
                    </fieldset>
                </form>

            <div class="actions text-center clearfix">
                    <button id="id_back_btn" type="button" class="btn btn-block btn-default mb-lg btn-lg mt-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                    <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>
    </div>
<!-- end PAGE HTML -->
{% endblock content %}
