{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress tenant_workspace_tags %}
{% block content %}
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- TITLE & BREADCRUMBS -->
    <h3>
        <em class="fa fa-fw ffa fa-cube mr"></em>{% trans 'Question' %} #{{ node.order_num }}
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'tenant_workspace_master' workspace.id %}">{{ workspace }}</a></li>
            <li><a href="{% url 'tenant_workspace_module_start_master' workspace.id module.id %}">{{ module }}</a></li>
            <li class="active">{% trans 'Question' %} #{{ node.order_num }}</li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE & BREADCRUMBS -->
    <!-- CONTENT -->
    <div class="container-fluid">
        <div class="panel panel-default">

           <div class="panel-body">
              <img src="{% static 'app/img/contact_icon.png' %}" alt="q2 help button" style="cursor:pointer;margin-left:10px;width:25px;height:25px;" class="pull-right" onclick="show_contact({{ question.id }});" />
              <img src="{% static 'app/img/question_icon.png' %}" alt="q2 help button" style="cursor:pointer;margin-left:10px;width:25px;height:25px;" class="pull-right" onclick="show_help({{ question.id }});" />
              <form id="questionForm" method="get" action="/" class="form-horizontal">
                 <!-- QUESTION CONTENT -->
                 {% if question.template_id == 1 %}
                     {% render_question_001 workspace module node question answer %}
                 {% elif question.template_id == 2 %}
                     {% render_question_002 workspace module node question answer %}
                 {% elif question.template_id == 3 %}
                     {% render_question_003 workspace module node question answer %}
                 {% elif question.template_id == 4 %}
                     {% render_question_004 workspace module node question answer %}
                 {% elif question.template_id == 5 %}
                     {% render_question_005 workspace module node question answer %}
                 {% endif %}
                 <!-- end QUESTION CONTENT -->

                 <!-- PREVIOUS BUTTON -->
                 <div class="pull-left">
                     <a href="{% reverse_previous_node workspace module node %}">
                         <button type="button" class="btn btn-default btn-lg">{% trans 'Back' %}</button>
                     </a>
                 </div>
                 <!-- end PREVIOUS BUTTON -->

                 <!-- NEXT BUTTON -->
                 <div class="pull-right">
                     <a onclick="question_answer_protected_next('{% reverse_next_node workspace module node %}');">
                         <button type="button" class="btn btn-primary btn-lg">{% trans 'Next' %}</button>
                     </a>
                 </div>
                 <!-- end NEXT BUTTON -->
             </form>
         </div>
         <div class="panel-footer">
         </div>
     </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
