{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress tenant_workspace_tags question046_tag question049_tag %}
{% block content %}
{% compress js inline %}
<!-- PAGE JS -->
<script>
    $(document).ready(function () {
        // BUGFIX: This code makes modals work.
        $('#helpModal').appendTo("body"); // REQUIRED.
        $('#contactAdvisorModal').appendTo("body"); // REQUIRED.
    }); // end DOCUMENT START

    /**
     * Function will send a message to the assigned advisor for this user.
     */
    function ajax_send_message() {
        var recipient = "{{ request.tenant_me.managed_by.id }}";
        var text = $('#id_message_description').val();
        var message = {
            'recipient': recipient,
            'description': text,
        };
        $('#id_send_message_btn').prop("disabled", true);
        set_tenant_message(
            message,
            function(json_result) {
                $('#id_send_message_btn').prop("disabled", false);
                location.reload(true);
            },
            function(error_json_result) {
                $('#id_send_message_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                alert(string);
            }
        );
    }
</script>
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- TITLE & BREADCRUMBS -->
    <h3>
        <em class="fa fa-fw ffa fa-cube mr"></em>{% trans 'Question' %} #{{ node.order_num }}
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'tenant_workspace_master' workspace.id %}">{{ workspace }}</a></li>
            <li><a href="{% url 'tenant_workspace_module_start_master' workspace.id module.id %}">{{ module }}</a></li>
            <li class="active">{% trans 'Question' %} #{{ node.order_num }}</li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE & BREADCRUMBS -->
    <!-- CONTENT -->
    <div class="container-fluid">
        <div class="panel panel-default">

           <div class="panel-body">
              <i class="fa fa-commenting" aria-hidden="true" alt="q2 help button" style="cursor:pointer;margin-left:10px;width:25px;height:25px;color:#f26523;float:right;font-size:26px;" class="pull-right" onclick="$('#contactAdvisorModal').modal('toggle'); $('#contactAdvisorModal').modal('show');"></i>
              <i class="fa fa-question-circle" aria-hidden="true" alt="q2 help button" style="cursor:pointer;margin-left:10px;width:25px;height:25px;color:#f26523;float:right;font-size:26px;" class="pull-right" onclick="$('#helpModal').modal('toggle'); $('#helpModal').modal('show');"></i>
              <form id="questionForm" method="get" action="/" class="form-horizontal">
                 <!-- QUESTION CONTENT -->
                 {% if question.type_id == 1 %}
                     {% render_question_type_001 workspace module node question answer %}
                 {% elif question.type_id == 2 %}
                     {% render_question_type_002 workspace module node question answer %}
                 {% elif question.type_id == 3 %}
                     {% render_question_type_003 workspace module node question answer %}
                 {% elif question.type_id == 4 %}
                     {% render_question_type_004 workspace module node question answer %}
                 {% elif question.type_id == 5 %}
                     {% render_question_type_005 workspace module node question answer %}
                 {% elif question.type_id == 6 %}
                     {% render_question_type_006 workspace module node question answer %}
                 {% elif question.type_id == 7 %}
                     {% render_question_type_007 workspace module node question answer %}
                 {% elif question.type_id == 8 %}
                     {% render_question_type_008 workspace module node question answer %}
                 {% elif question.type_id == 9 %}
                     {% render_question_type_009 workspace module node question answer %}
                 {% elif question.type_id == 10 %}
                     {% render_question_type_010 workspace module node question answer %}
                 {% elif question.type_id == 11 %}
                     {% render_question_type_011 workspace module node question answer %}
                 {% elif question.type_id == 12 %}
                     {% render_question_type_012 workspace module node question answer %}
                 {% elif question.type_id == 13 %}
                     {% render_question_type_013 workspace module node question answer %}
                 {% elif question.type_id == 14 %}
                     {% render_question_type_014 workspace module node question answer %}
                 {% elif question.type_id == 15 %}
                     {% render_question_type_015 workspace module node question answer %}
                 {% elif question.type_id == 16 %}
                     {% render_question_type_016 workspace module node question answer %}
                 {% elif question.type_id == 17 %}
                     {% render_question_type_017 workspace module node question answer %}
                 {% elif question.type_id == 18 %}
                     {% render_question_type_018 workspace module node question answer %}
                 {% elif question.type_id == 19 %}
                     {% render_question_type_019 workspace module node question answer %}
                 {% elif question.type_id == 20 %}
                     {% render_question_type_020 workspace module node question answer %}
                 {% elif question.type_id == 21 %}
                     {% render_question_type_021 workspace module node question answer %}
                 {% elif question.type_id == 22 %}
                     {% render_question_type_022 workspace module node question answer %}
                 {% elif question.type_id == 23 %}
                     {% render_question_type_023 workspace module node question answer %}
                 {% elif question.type_id == 24 %}
                     {% render_question_type_024 workspace module node question answer %}
                 {% elif question.type_id == 25 %}
                     {% render_question_type_025 workspace module node question answer %}
                 {% elif question.type_id == 26 %}
                     {% render_question_type_026 workspace module node question answer %}
                 {% elif question.type_id == 27 %}
                     {% render_question_type_027 workspace module node question answer %}
                 {% elif question.type_id == 28 %}
                     {% render_question_type_028 workspace module node question answer %}
                 {% elif question.type_id == 29 %}
                     {% render_question_type_029 workspace module node question answer %}
                 {% elif question.type_id == 30 %}
                     {% render_question_type_030 workspace module node question answer %}
                 {% elif question.type_id == 31 %}
                     {% render_question_type_031 workspace module node question answer %}
                 {% elif question.type_id == 32 %}
                     {% render_question_type_032 workspace module node question answer %}
                 {% elif question.type_id == 33 %}
                     {% render_question_type_033 workspace module node question answer %}
                 {% elif question.type_id == 34 %}
                     {% render_question_type_034 workspace module node question answer %}
                 {% elif question.type_id == 35 %}
                     {% render_question_type_035 workspace module node question answer %}
                 {% elif question.type_id == 36 %}
                     {% render_question_type_036 workspace module node question answer %}
                 {% elif question.type_id == 37 %}
                     {% render_question_type_037 workspace module node question answer %}
                 {% elif question.type_id == 38 %}
                     {% render_question_type_038 workspace module node question answer %}
                 {% elif question.type_id == 39 %}
                     {% render_question_type_039 workspace module node question answer %}
                 {% elif question.type_id == 40 %}
                     {% render_question_type_040 workspace module node question answer %}
                 {% elif question.type_id == 41 %}
                     {% render_question_type_041 workspace module node question answer %}
                 {% elif question.type_id == 42 %}
                     {% render_question_type_042 workspace module node question answer %}
                 {% elif question.type_id == 43 %}
                     {% render_question_type_043 workspace module node question answer %}
                 {% elif question.type_id == 44 %}
                     {% render_question_type_044 workspace module node question answer %}
                 {% elif question.type_id == 45 %}
                     {% render_question_type_045 workspace module node question answer %}
                 {% elif question.type_id == 46 %}
                     {% render_question_type_046 workspace module node question answer %}
                 {% elif question.type_id == 47 %}
                     {% render_question_type_047 workspace module node question answer %}
                 {% elif question.type_id == 48 %}
                     {% render_question_type_048 workspace module node question answer %}
                 {% elif question.type_id == 49 %}
                     {% render_question_type_049 workspace module node question answer %}
                 {% elif question.type_id == 50 %}
                     {% render_question_type_050 workspace module node question answer %}
                 {% endif %}
                 <!-- end QUESTION CONTENT -->

                 <!-- PREVIOUS BUTTON -->
                 <div class="pull-left">
                     <a href="{% reverse_previous_node workspace module node %}">
                         <button type="button" class="btn btn-back btn-lg">{% trans 'Back' %}</button>
                     </a>
                 </div>
                 <!-- end PREVIOUS BUTTON -->

                 <!-- NEXT BUTTON -->
                 <div class="pull-right">
                     <a onclick="question_answer_protected_next('{% reverse_next_node workspace module node %}');">
                         <button type="button" class="btn btn-next btn-lg">{% trans 'Next' %}</button>
                     </a>
                 </div>
                 <!-- end NEXT BUTTON -->
             </form>
         </div>
         <div class="panel-footer">
         </div>
     </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
<!-- HELP MODAL -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="helpModalLabel">{% trans 'Help' %}</h4>
      </div>
      <div class="modal-body">
          <p>{{ question.help|escape|safe }}</p>
      </div>
      <div class="modal-footer">
        <!-- BACK BUTTON -->
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <!-- end BACK BUTTON -->
      </div>
  </div>
  </div>
</div>
<!-- end HELP MODAL -->
<!-- CONTACT MODAL -->
<div class="modal fade" id="contactAdvisorModal" tabindex="-1" role="dialog" aria-labelledby="contactAdvisorLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="contactAdvisorLabel">{% trans 'Contact Advisor' %}</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="sender-email" class="control-label">{% trans 'Advisor:' %}</label>
              <input id="id_advisor_email"
                   type="text"
           data-content="Must be a valid e-mail address (user@gmail.com)"
           data-trigger="manual"
         data-placement="top"
            placeholder="email@you.com"
                  class="form-control email"
                  value="{{ request.tenant_me.managed_by.owner.get_full_name }}"
               disabled="true" />
          </div>
          <div class="form-group">
              <label for="message-text" class="control-label">{% trans 'Message' %} <span class="text-count">(2055) </span>:</label>
              <textarea class="form-control"
                           id="id_message_description"
                  placeholder="Your message here.."
               data-placement="top"
                 data-trigger="manual"
                         rows="9"></textarea>
          </div>
      <div class="modal-footer">
        <!-- BACK BUTTON -->
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <!-- end BACK BUTTON -->
        <!-- SEND BUTTON -->
        <button type="button" class="btn btn-success pull-right" id="id_send_message_btn" onclick="ajax_send_message();" data-dismiss="modal">{% trans 'Send message!' %}</button>
        <!-- end SEND BUTTON -->
      </div>
  </div>
  </div>
</div>
<!-- end CONTACT MODAL -->
{% endblock content %}
