{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress tenant_workspace_tags %}
{% block content %}
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- TITLE & BREADCRUMBS -->
    <h3>
        <em class="fa fa-fw ffa fa-cube mr"></em>{{ module }}
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
            <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'tenant_workspace_master' workspace.id %}">{{ workspace.name }}</a></li>
            <li><a href="{% url 'tenant_workspace_module_start_master' workspace.id module.id %}">{{ module }}</a></li>
            <li class="active">Slide #{{ slide.page_num }}</li>
        </ol>
        <!-- end BREADCRUMBS -->
    </h3>
    <!-- end TITLE & BREADCRUMBS -->
    <!-- CONTENT -->
    <div class="container-fluid">
        <!-- START row-->
        <div class="row">
            <div class="col-lg-12">
                <!-- START panel-->
                <div id="panelDemo7" class="panel panel-default">
                    <div class="panel-heading">{{ slide.title }}</div>
                    <div class="panel-body">
                        <!-- VIDEO PLAYER -->
                        {% if slide.video_url %}
                        <div class="col-lg-12">
                            <div class="col-lg-6 col-centered">
                                <video src="{{ slide.video_url }}" controls>
                                    {% trans 'Your browser does not support the <code>video</code> element.' %}
                                </video>
                                <br /> <br />
                            </div>
                        </div>
                        {% endif %}
                        <!-- end VIDEO PLAYER -->
                        <!-- BODY TEXT -->
                        {{ slide.description|escape|safe }}
                        <!-- end BODY TEXT -->
                        <br /><br /><br />
                        <!-- PREVIOUS BUTTON -->
                        <div class="pull-left">
                            <a id="id_previous_node_a" href="{% reverse_previous_node workspace module node %}">
                                <button id="id_previous_node_btn" type="button" class="btn btn-back btn-lg">
                                    {% trans 'Back' %}
                                </button>
                            </a>
                        </div>
                        <!-- end PREVIOUS BUTTON -->
                        <!-- NEXT BUTTON -->
                        <div class="pull-right">
                            <a id="id_next_node_a" href="{% reverse_next_node workspace module node %}">
                                <button id="id_next_node_btn" type="button" class="btn btn-next btn-lg">
                                    {% trans 'Next' %}
                                </button>
                            </a>
                        </div>
                        <!-- end NEXT BUTTON -->
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
