{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_configuration/organization/4/js.html' %}
    {% endcompress %}
    <div class="content-wrapper">
<div class="panel panel-default">
    <!-- <div class="panel-heading">{% trans 'Entrepreneur Intake Form' %}</div> -->
    <div class="panel-body">
        <div id="example-vertical" role="application" class="wizard clearfix vertical">

            <!-- PAGE SIDEBAR -->
            {% include 'tenant_configuration/organization/sidebar_view.html' with page=4 %}
            <!-- end PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="content clearfix" style="height: 475px; display: inline; "> <!-- TODO: IMPLEMENT DYNAMIC HEIGHT ADJUSTMENT -->
                <h4 id="example-vertical-h-0" tabindex="-1" class="title current">Logo</h4>
                <section id="example-vertical-p-0" role="tabpanel" aria-labelledby="example-vertical-h-0" class="body current" aria-hidden="false" style="left: 0px; display: block;">
                    <h2 class="text-center pv">{% trans 'Learning Preferences' %}</h2>
                    <p class="text-center pv">{% trans 'Now we need to setup how your entrepreneurs will receive instruction. You can choose from the following:' %}</p>

                    <br/>

                    <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                        <input type="radio" name="learning_preference" value="2" {% if request.tenant.learning_preference == 2 %}checked{% endif %}>
                        {% trans '<b>Blended:</b> Your entrepreneurs will go through our custom education modules and then complete an exercise to generate key documents such as their Business Model Canvas. This is the option that the majority of our clients use, and remember, you can always blend this will real world instruction.' %}
                        <br>
                        <br/>

                        <input type="radio" name="learning_preference" value="1" {% if request.tenant.learning_preference == 1 %}checked{% endif %}>
                        {% trans '<b>Traditional (not recommended):</b> If you want to rely solely on classroom instruction, then select this option and your clients will only go through activities to generate key documents' %}

                        <br>
                        <br/>

                    </form>
                </section>
            </div>
            <!-- end PAGE CONTENT -->

            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li class="disabled" aria-disabled="true">
                        <a id="id_skip_btn" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</a>
                    </li>
                    <li aria-hidden="false" aria-disabled="false" class="" style="display: block;">
                        <a onclick="ajax_save_and_continue();" role="menuitem" id="id_continue_btn">{% trans 'Next' %}</a>
                    </li>
                    <!-- <li aria-hidden="true" style="display: none;">
                        <a href="#finish" role="menuitem">Finish</a>
                        </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
