{% load i18n %}
<script>
    $(document).ready(function () {
        // Detect if "entrepreneur" is selected and if was hide or show the "entrepreneur access" question.
        $("#id_is_for_entrepreneur").change(function() {
            if(this.checked) {
                $('#id_entrepreneur_access_div').show();
            } else {
                $('#id_entrepreneur_access_div').hide();
            }
        });

        $("#id_category").change(function() {
            if(this.value == {{ constants.INFO_RESOURCE_CATEGORY_WEBLINK_ID }}) {
                $('#id_upload_div').hide();
            } else {
                $('#id_upload_div').show();
            }
        });
    }); // end DOCUMENT START

    /**
     *  Function will asynchronously upload the file.
     */
    function ajax_upload_file() {
        // Extract the information.
        var file = document.getElementById('id_file').files[0];
        var upload_id = $('#id_hidden_upload_id').val();
        $("#id_upload_btn_label").prop("disabled",true); // Disable button.

        // Insert or Update.
        set_tenant_fileupload(upload_id, file, function(json_result) {
            $("id_accept_btn").removeAttr("disabled"); // Enable button.

            // Create the "download" button.
            var download_url = json_result['datafile'];
            var download_btn = "";
            download_btn += "<a href=\"" + download_url + "\" target=\"_blank\">";
            download_btn += "<button type=\"button\" class=\"btn btn-labeled btn-default\">";
            download_btn += "<em class=\"fa fa-fw fa-download mr\"></em>{% trans 'Download' %}";
            download_btn += "</button>";
            download_btn += "</a>";

            // Get ID
            var id = json_result['id'];

            // Get filename.
            var temp_array = download_url.split("/upload/");
            var filename = temp_array[1];

            // Create the table row.
            var html_row = "<tr id=\"" + id + "\"><td>"+filename+"</td><td>"+download_btn+"</td></tr>";
            $("#id_uploads_table > tbody").append(html_row);
        });
    }

    function ajax_cancel() {
        window.location = "{% url 'tenant_resource_staff_details' resource.category.id %}";
    }

    function ajax_update() {
        // Get our variables.
        var category_id = $('#id_category').val();
        var name = $('#id_name').val();
        var description = $('#id_description').val();
        var website_url = $('#id_url').val();
        var upload_id = $('#id_hidden_upload_id').val();
        upload_id = parseInt(upload_id);
        var is_for_entrepreneur = $("#id_is_for_entrepreneur").is(':checked');
        var is_for_staff = $("#id_is_for_staff").is(':checked');
        var stage_num = $('input[name=stage_num]:checked').val();
        var tags = $('#select2-1').val()

        // Defensive Code.
        if (name <= 0) {
            alert("{% trans 'Please enter the resource name.' %}");
            return;
        }
        if (description <= 0) {
            alert("{% trans 'Please enter a description.' %}");
            return;
        }
        if (category_id == {{ constants.INFO_RESOURCE_CATEGORY_VIDEO_ID}} ||
            category_id == {{ constants.INFO_RESOURCE_CATEGORY_WEBLINK_ID}}) {
            if (website_url <= 0) {
                alert("{% trans 'Please enter a url.' %}");
                return;
            }
        }

        // Defensive Code: If the user doesn't include 'http' then automatically
        //                 include it into the URL. Also handle situations where
        //                 Twitter username is entered and replace it with the
        //                 full Twitter URL.
        if (website_url.indexOf("http") < 0) {
            website_url = 'http://' + website_url;

            // If ONLY http protocol added, then make URL be blank.
            if (website_url == "http://") {
                website_url = "";
            }
        }

        $("#id_accept_btn").prop("disabled",true);

        // GET RESOURCE
        get_tenant_inforesource(
            {{ resource.id }},
            function(resource) {

                // UPDATE RESOURCE
                resource['category'] = parseInt(category_id);
                resource['name'] = name;
                resource['description'] = description;
                resource['url'] = website_url;
                resource['is_for_entrepreneur'] = is_for_entrepreneur;
                resource['is_for_staff'] = is_for_staff;
                resource['stage_num'] = parseInt(stage_num);
                resource['tags'] = tags;

                // Iterate through the table array and add our files.
                $('#id_uploads_table tr').each(function () {
                    if (this.id > 0) {
                        var upload_ip = parseInt(this.id);
                        resource['uploads'].push(upload_ip)
                    }
                });

                // SET RESOURCE
                set_tenant_inforesource(
                    resource,
                    function(json_result) {
                        window.location = "{% url 'tenant_resource_staff_details' resource.category.id %}";
                    },
                    function(error_json_result) {
                        $("id_accept_btn").removeAttr("disabled");
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        if (string.indexOf('valid URL') > -1) {
                            alert("{% trans 'Please enter a valid URL.' %}");
                        } else if (string.indexOf('he URL is not embedded') > -1) {
                            alert("{% trans 'Please enter the embedded YouTube URL.' %}");
                        } else if (string.indexOf('The URL needs to have our domain') > -1) {
                            alert("{% trans 'Please enter a URL using only smegurus.com in it. This is because you have chosen a INTERNAL resource type.' %}");
                        } else {
                            alert(string);
                        }
                    }
                ); // end SET.
            },
            function(error_json_result) {
                $("id_accept_btn").removeAttr("disabled");
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET
    }
</script>
