{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}

<!-- PAGE JS -->
<script>
    $(document).ready(function () {
        $('#workspaceModal').appendTo("body");
    })

    function ajax_workspace(success_callback, failure_callback) {
        // Get our variables.
        var name = $('#id_name').val();

        // Defensive Code.
        if (name <= 0) {
            alert("{% trans 'Please enter the task name.' %}");
            return;
        }

        // Set our object variables.
        var workspace = {
            'name': name,
        };

        $('#id_submit_btn').prop("disabled", true); // Disable the button.

        set_tenant_workspace(
            workspace,
            function(json_result) {
                $('#id_submit_btn').prop("disabled", false); // Enable the button.
                success_callback(json_result);
            },
            function(error_json_result) {
                $('#id_submit_btn').prop("disabled", false); // Enable the button.
                failure_callback(error_json_result);
            }
        ); // end Set Task.
    }

    function ajax_create_workspace() {
        ajax_workspace(
            function(json_result) {
                var workspace_id = parseInt(json_result['id']);
                var url = "{% url 'tenant_reception_workspace_start_master' 'placeholder' %}";
                window.location = url.replace("placeholder", workspace_id);
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        );
    }
</script>
<!-- end PAGE JS -->

<!-- PAGE CONTENT -->
<div class="content-wrapper">
    
    <div class="row">
        <div class="col-lg-12">
            <!-- JUMBOTRON -->
            <div class="jumbotron">
                <h1>{% trans 'Reception' %}</h1>
                <p>{% trans 'Welcome to our reception! You are welcome to ask us questions and look at our available resources.' %}</p>
            </div>
            <!-- end JUMBOTRON -->
        </div>
    </div>
    <!-- ROW -->
    <div class="row">
        <!-- LEARNING -->
        {% if request.tenant_me.stage_num > 0 %}
        <div class="col-md-4" {% if not workspace %}data-toggle="modal" data-target="#workspaceModal"{% endif %}>
            <div class="panel b">
                <div class="panel-body text-center">
                    <a {% if workspace %}href="{% url 'tenant_reception_workspace_start_master' workspace.id %}"{% endif %} class="link-unstyled" style="color:#e0c01f;cursor: pointer;">
                        <em class="fa fa-5x fa-graduation-cap mb-lg"></em>
                        <br>
                        <span class="h4" style="color:black;">{% trans 'Learning' %}</span>
                        <br>
                        <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end LEARNING -->
        <!-- QUESTION -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="{% url 'tenant_reception_message_master' %}" class="link-unstyled" style="color:#f26523;">
                    <em class="fa fa-5x fa-question-circle-o mb-lg"></em>
                    <br>
                    <span class="h4" style="color:black;">{% trans 'I want to ask a question' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end QUESTION -->
        <!-- RESOURCES -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="{% url 'tenant_reception_resource_category_master' %}" class="link-unstyled" style="color:#1e73be;">
                    <em class="fa fa-5x fa-cloud-download mb-lg"></em>
                    <br>
                    <span class="h4" style="color:black;">{% trans 'I want to access resources' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end RESOURCES -->
        <!-- TASKS -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="{% url 'tenant_reception_tasks_master' %}" class="link-unstyled" style="color:#ce0000;">
                    <em class="fa fa-5x fa-check-square-o mb-lg"></em>
                    <br>
                    <span class="h4" style="color:black;">{% trans 'Tasks' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end TASKS -->
        <!-- CALENDAR -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="{% url 'tenant_reception_calendar_master' %}" class="link-unstyled" style="color:#1b6015;">
                    <em class="fa fa-5x fa-calendar mb-lg"></em>
                    <br>
                    <span class="h4" style="color:black;">{% trans 'Calendar' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end CALENDAR -->
    </div>
    <!-- end ROW -->
</div>
<!-- end PAGE CONTENT -->
<!-- CREATE MODAL -->
<div class="modal fade" id="workspaceModal" tabindex="-1" role="dialog" aria-labelledby="workspaceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="workspaceModalLabel">{% trans 'Let\'s create your first workspace!' %}</h1>
      </div>
      <div class="modal-body">
          <!-- FORM -->
          <form class="form-horizontal">
             <!-- FIELDS -->
             <fieldset>
               <p>In order to get started, we need you to create a workspace on the next screen. All you need to do is give your idea a name. If you don't have a company name, you can just use something like "Jim's Company" or "Jim's Business Idea".</p>
               <br />
                <div class="form-group">
                   <label class="col-sm-2 control-label">{% trans 'Name' %}</label>
                   <div class="col-sm-10">
                      <input id="id_name" type="text" class="form-control" />
                      <span class="help-block m-b-none">{% trans 'Please write the idea name.' %}</span>
                   </div>
                </div>
             </fieldset>
             <!-- end FIELDS -->
         </form>
         <!-- end FORM -->
      </div>
      <div class="modal-footer">
        <!-- BACK BUTTON -->
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <!-- end BACK BUTTON -->
        <!-- SUBMIT BUTTON -->
        <div class="pull-right">
            <button id="id_submit_btn" type="button" class="btn btn-sm btn-default" onclick="ajax_create_workspace();">{% trans 'Submit' %}</button>
        </div>
        <!-- end SUBMIT BUTTON -->
      </div>
    </div>
  </div>
</div>
<!-- CREATE MODAL -->
{% endblock content %}
