{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'public_index' %}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Reception' %}</li>
    </ol>
    <!-- end BREADCRUMBS -->
    <div class="row">
        <div class="col-lg-12">
            <!-- JUMBOTRON -->
            <div class="jumbotron">
                <h1>{% trans 'Reception' %}</h1>
                <p>{% trans 'Welcome to our reception! You are welcome to ask us questions and look at our available resources.' %}</p>
            </div>
            <!-- end JUMBOTRON -->
        </div>
    </div>
    <!-- ROW -->
    <div class="row">
        <!-- QUESTION -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="#" class="link-unstyled text-primary">
                    <em class="fa fa-5x fa-question-circle-o mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'I want to ask a question' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end QUESTION -->
        <!-- RESOURCES -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="{% url 'tenant_reception_resource_category_master' %}" class="link-unstyled text-info">
                    <em class="fa fa-5x fa-cloud-download mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'I want to access resources' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end RESOURCES -->
        <!-- TASKS -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="{% url 'tenant_reception_tasks_master' %}" class="link-unstyled text-purple">
                    <em class="fa fa-5x fa-check-square-o mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'Tasks' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end TASKS -->
        <!-- TEMPLATES -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="#" class="link-unstyled text-warning">
                    <em class="fa fa-5x fa-briefcase mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'Templates' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end TEMPLATES -->
        <!-- FORMS -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="#" class="link-unstyled text-danger">
                    <em class="fa fa-5x fa-book mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'Forms' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end FORMS -->
        <!-- LEARNING -->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="#" class="link-unstyled text-success">
                    <em class="fa fa-5x fa-graduation-cap mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'Learning Materials' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %} →</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- end LEARNING -->
        <!-- CALENDAR -->
        <div class="col-md-4">
           <div class="panel b">
              <div class="panel-body text-center">
                 <a href="{% url 'tenant_reception_calendar_master' %}" class="link-unstyled text-pink">
                    <em class="fa fa-5x fa-calendar mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'Calendar' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %}&nbsp;&rarr;</small>
                 </a>
              </div>
           </div>
        </div>
        <!-- end CALENDAR -->
        <!-- OTHER -->
        <div class="col-md-4">
           <div class="panel b">
              <div class="panel-body text-center">
                 <a href="#" class="link-unstyled text-dark">
                    <em class="fa fa-5x fa-lightbulb-o mb-lg"></em>
                    <br>
                    <span class="h4">{% trans 'Other' %}</span>
                    <br>
                    <small class="text-muted">{% trans 'View all' %}&nbsp;&rarr;</small>
                 </a>
              </div>
           </div>
        </div>
        <!-- end OTHER -->
    </div>
    <!-- end ROW -->
</div>
<!-- end PAGE CONTENT -->
{% endblock content %}
