{% load i18n %}
<script>
    function print_error_handler(error_json_result) {
        var string = JSON.stringify( error_json_result );
        console.log(string);
        alert(string);
    }

    function post_comment_handler() {
        $('#id_comment_btn').prop("disabled", true);
        $('#id_comment').prop("disabled", true);
        tenant_task_post_comment(
            {{ task.id }},
            $("#id_comment").val(),
            function(json_result) {
                location.reload(true); //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
            },
            function(error_json_result) {
                $('#id_comment_btn').prop("disabled", false);
                $('#id_comment').prop("disabled", true);
                print_error_handler(error_json_result);
            }
        ); // end POST COMMENT
    }

    $(document).ready(function () {
        // IMPORTANT: This code must exist to have modals load up
        //            properly in our application.
        $('#searchResourcesModal').appendTo("body")

        // Display hide or show Complete/Incomplete buttons depending on the state.
        {% if task.status == constants.CLOSED_TASK_STATUS %}
            $("#id_incomplete_btn").show();
            $("#id_complete_btn").hide();
        {% endif %}
        {% if task.status == constants.OPEN_TASK_STATUS %}
            $("#id_incomplete_btn").hide();
            $("#id_complete_btn").show();
        {% endif %}

        // Turn off UI.
        $('#id_add_file_div').hide();

        // Required code to initialize the WYSIWYG editor.
        $('#editor').wysiwyg();
        $('#editor').cleanHtml();

        // Due date.
        $('#datetimepicker2').datetimepicker({
         defaultDate: '{{ task.due|date:"m/d/Y" }}',
          icons: {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down',
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-crosshairs',
              clear: 'fa fa-trash'
            }
        }); // end DATETIMEPICKER

        $("#id_comment").keypress(function(e) {  // POST COMMENT KEYPRESS HANDLER
            if (e.which == 13) {
                post_comment_handler();
            }
        });  // end POST COMMENT KEYPRESS HANDLER

        $( "#id_comment_btn" ).click(function(e) {  // CLICK POST COMMENT BUTTON HANDLER
            post_comment_handler();
        }); // end CLICK POST COMMENT BUTTON HANDLER
    }); // end READY

    // DATA TABLE
    (function(window, document, $, undefined){

      $(function(){

        //
        // Zero configuration
        //

        $('#datatable1').dataTable({
            'paging':   true,  // Table pagination
            'ordering': true,  // Column ordering
            'info':     true,  // Bottom left status text
            // Text translation options
            // Note the required keywords between underscores (e.g _MENU_)
            oLanguage: {
                sSearch:      'Search all columns:',
                sLengthMenu:  '_MENU_ records per page',
                info:         'Showing page _PAGE_ of _PAGES_',
                zeroRecords:  'Nothing found - sorry',
                infoEmpty:    'No records available',
                infoFiltered: '(filtered from _MAX_ total records)'
            }
        });
      });

    })(window, document, window.jQuery);
    // end DATA TABLE

    function deselect_resource(resource_id) {
        $('#id_resources_table tr[id='+resource_id+']').remove(); // Removes the row at the id.
    }

    function select_resource(resource_id) {
        get_tenant_inforesource(
            resource_id,
            function(resource) {
                console.log(resource);

                // Create our resource icon.
                var icon = "<em class=\"fa fa-fw " + resource['category_icon'] + " mr\">";

                // Create our resource category name.
                var category_name = resource['category_name'];

                // Create our resource name.
                var name = resource['name'];

                // Create our remove button.
                var js = "deselect_resource("+resource_id+");";
                var deselect_btn = "";
                deselect_btn += "<button onclick=\"" + js + "\" type=\"button\" class=\"btn btn-labeled btn-danger\">";
                deselect_btn += "<em class=\"fa fa-fw fa-minus mr\"></em>{% trans 'Deselect' %}";
                deselect_btn += "</button>";

                // Create our HTML row.
                var html_row = "<tr id=\"" + resource_id + "\">";
                html_row += "<td>"+icon+"</td>";
                html_row += "<td>"+category_name+"</td>";
                html_row += "<td>"+name+"</td>";
                html_row += "<td>" + deselect_btn + "</td>";
                html_row += "</tr>";

                // ADD HTML ROW TO OUR PAGE.
                $("#id_resources_table > tbody").append(html_row);

                // Hide this modal.
                $('#searchResourcesModal').modal('toggle');
            },
            function(json_error_result) {

            }
        ); // end GET RESOURCE.
    }

    /**
     *  Function will asynchronously upload the file.
     */
    function ajax_upload_file() {
        if ($('#id_file').val() == "") {
            alert(_("Please select a file to upload"));
            // $.notify("Please select an image to upload", "danger");
            return false;
        }

        // Extract the information.
        var file = document.getElementById('id_file').files[0];
        var upload_id = $('#id_hidden_upload_id').val();
        console.log("upload_id: "+upload_id);

        // Insert or Update.
        set_tenant_fileupload(upload_id, file, function(file_upload) {

            // UPDATE THE UI.
            $('#id_add_file_div').hide() // Close the uploading div.
            $('#id_add_file_btn').prop('disabled', false); // enable the add button.

            get_tenant_task(
                {{ task.id }},
                function(task) {
                    task['uploads'].push(file_upload['id']); // Add our file upload.
                    set_tenant_tasks(
                        task,
                        function(json_result) {
                            location.reload(true); // Reload the page.
                        },
                        function(error_json_result) {
                            print_error_handler(error_json_result);
                        }
                    ); // end Set Task.
                },
                function(error_json_result) {
                    print_error_handler(error_json_result);
                }
            ); // end Get Task
        }); // end UPLOAD
    }

    function ajax_task(success_callback, failure_callback) {
        // Get our variables.
        var name = $('#id_name').val();
        var description = $('#id_description').val();

        // Defensive Code.
        if (name <= 0) {
            failure_callback("{% trans 'Please enter the task name.' %}");
            return;
        }
        if (description <= 0) {
            failure_callback("{% trans 'Please enter a description.' %}");
            return;
        }

        var is_due = $('input[id=is_due]').is(':checked');

        // Extract the string.
        var raw_text_date = $('#id_due').val() ;

        // Convert the string to a javascript "Date" object.
        var unprotected_date = new Date(raw_text_date);

        //BUGFIX: It appears when we converted our date, we lost a day.
        //        Therefore, add a single day to our converted date.
        unprotected_date.setDate(unprotected_date.getDate() + 1);

        // Format our "Date" object to a format django "DatetimeField"
        // to support.
        var django_due_date = date_to_django_datetime(unprotected_date);

        if ( django_due_date.indexOf('NaN') !== -1 ) {
            if (is_due) {
                failure_callback("{% trans 'Please enter a due date.' %}");
                return;
            }
        }

        get_tenant_task(
            {{ task.id }},
            function(task) {
                // Update "name".
                task['name'] = name;

                // Update "description".
                task['description'] = description;

                // Update "due" date.
                if (is_due) {
                    task['is_due'] = true;
                    task['due'] = django_due_date;
                } else {
                   task['is_due'] = false;
                   task['due'] = '';
                }

               // Update "opening" or "tags".
                var assignees = $('#select2-1').val()
                if (task['type_of'] == {{ constants.TASK_BY_CUSTOM_TYPE }}) {
                    if (assignees) {
                        task['opening'] = assignees;
                    }
                }
                if (task['type_of'] == {{ constants.TASK_BY_TAG_TYPE }}) {
                    if (assignees) {
                        task['tags'] = assignees;
                    }
                }

                // Iterate through the table array and add our resource.
                task['resources'] = [];
                $('#id_resources_table tr').each(function () {
                    if (this.id > 0) {
                        var resource_id = parseInt(this.id);
                        task['resources'].push(resource_id)
                    }
                });

                // Save.
                set_tenant_tasks(
                    task,
                    function(json_result) {
                        tenant_task_log_event(
                            {{ task.id }},
                            'Updated task.',
                            function(json_result) {
                                success_callback(json_result);
                            },
                            function(error_json_result) {
                                failure_callback(error_json_result);
                            }
                        ); // end Change Date

                    },
                    function(error_json_result) {
                        failure_callback(error_json_result);
                    }
                ); // end Set Task.
            },
            function(error_json_result) {
                failure_callback(error_json_result);
            }
        ); // end Get Task
    }

    function ajax_complete_task() {
        $('#id_complete_btn').prop("disabled", true);
        tenant_task_complete(
            {{ task.id }},
            function(json_result) {
                window.location = "{% url 'tenant_task_master_open' %}";
            },
            function(error_json_result) {
                $('#id_complete_btn').prop("disabled", false);
                print_error_handler(error_json_result);
            }
        ); // end COMPLETE TASK
    }

    function ajax_incomplete_task() {
        $('#id_incomplete_btn').prop("disabled", true);
        tenant_task_incomplete(
            {{ task.id }},
            function(json_result) {
                window.location = "{% url 'tenant_task_master_open' %}";
            },
            function(error_json_result) {
                $('#id_incomplete_btn').prop("disabled", false);
                print_error_handler(error_json_result);
            }
        ); // end INCOMPLETE TASK
    }

    function ajax_back() {
        $('#id_cancel_btn').prop("disabled", true);
        window.location = "{% url 'tenant_task_master_open' %}";
    }

    function ajax_update() {
        $('#id_continue_btn').prop("disabled", true);
        ajax_task(
            function(success_result) {
                window.location = "{% url 'tenant_task_master_open' %}";
            },
            function(failure_result) {
                $('#id_continue_btn').prop("disabled", false);
                print_error_handler(failure_result);
            }
        ); // end FUNC
    }
</script>
