{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress thumbnail foundation_tenant_tags %}
{% block content %}

<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_task/details/edit/js.html' with task=task %}
{% endcompress %}
<!-- end PAGE JS -->

<!-- PAGE HTML -->
<div class="content-wrapper">
   <!-- TITLE -->
   <h3>
       {% trans 'Task Details' %}
       <!-- BREADCRUMBS -->
       <ol class="breadcrumb">
           <li><a href="{% url 'tenant_dashboard' %}">{% trans 'Home' %}</a></li>
           <li><a href="{% url 'tenant_task_master_open' %}">{% trans 'Tasks' %}</a></li>
           <li class="active">{% trans 'Edit' %}</li>
       </ol>
       <!-- end BREADCRUMBS -->
   </h3>
   <!-- end TITLE -->

   <!-- CONTENT -->
   <div class="table-grid table-grid-desktop">
       <!-- DETAILS -->
       <div class="panel panel-default">
          <!-- <div class="panel-heading">Form elements</div> -->
          <div class="panel-body">
             <form method="get" action="/" class="form-horizontal">
                <fieldset>
                   <legend>{% trans 'Details' %}</legend>
                   <!-- NAME -->
                   <div class="form-group">
                      <label class="col-sm-2 control-label">{% trans 'Name' %}</label>

                      <div class="col-sm-10">
                         <input type="text" class="form-control form-control" id="id_name" value="{{ task.name }}" />
                      </div>

                   </div>
                    <!-- end NAME -->

                     <br /><br />

                     <!-- DUE DATE -->
                     <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans 'Due Date &amp; Time' %}</label>

                        <div class="col-sm-10">
                            <div id="datetimepicker2" class="input-group date">
                                <input type="text" class="form-control" id="id_due" value="{{ task.due|date:"m/d/Y" }}" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                           </div>
                        </div>

                     </div>
                      <!-- end DUE DATE -->

                      <br /><br />

                      <!-- DESCRIPTION -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Description' %}</label>

                         <div class="col-sm-10">
                            <textarea id="id_description" class="form-control" name="textarea" rows="10" placeholder="{% trans 'Please write some details about this event.' %}">{{ task.description }}</textarea>
                         </div>

                      </div>
                      <!-- end DESCRIPTION -->

                      <br /><br />

                      <!-- ASSIGNEES -->
                      {% if task.type_of == constants.TASK_BY_CUSTOM_TYPE %}
                      <!-- BY CUSTOM -->

                      <!-- OPENING -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Open' %}</label>
                         <div class="col-sm-10">
                             <input disabled="true" type="text" class="form-control input-sm" value="{% for member in task.opening.all %}{{ member.name }}{% if not forloop.last %},{% endif %}{% endfor %}" />
                         </div>
                      </div>
                      <!-- end OPENING -->

                      <br /><br />

                      <!-- CLOSURE -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Closed' %}</label>
                         <div class="col-sm-10">
                             <input disabled="true" type="text" class="form-control input-sm" value="{% for member in task.closures.all %}{{ member.name }}{% if not forloop.last %},{% endif %}{% endfor %}" />
                         </div>
                      </div>
                      <!-- end CLOSURE -->

                      <!-- end BY CUSTOM -->
                      {% else %}

                      <!-- BY TAG -->
                      <div class="form-group">
                         <label class="col-sm-2 control-label">{% trans 'Assignees by Tags' %}</label>

                         <div class="col-sm-10">
                             <select id="select2-1" multiple="multiple" class="form-control">
                                 {% for tag in tags %}
                                     <option value="{{ tag.id }}" {% if tag in task.tags.all %}selected="selected"{% endif %}>{{ tag.name }}</option>
                                 {% endfor %}
                             </select>
                         </div>

                      </div>
                      <!-- end BY TAG -->
                      {% endif %}
                      <!-- end ASSIGNEES -->
                </fieldset>

                <!-- SUBMISSION -->
                <div class="pull-left">
                    <button onclick="ajax_back();" type="button" class="btn btn-default btn-lg" id="id_cancel_btn">{% trans 'Back' %}</button>
                </div>
                <div class="pull-right">
                    <button onclick="ajax_update();" type="button" class="btn btn-primary btn-lg" id="id_continue_btn">{% trans 'Update' %}</button>
                    <button onclick="ajax_incomplete_task();" type="button" class="btn btn-warning btn-lg" id="id_incomplete_btn">{% trans 'Re-Open Task' %}</button>
                    <button onclick="ajax_complete_task();" type="button" class="btn btn-success btn-lg" id="id_complete_btn">{% trans 'Close Task' %}</button>
                </div>
                <!-- end SUBMISSION -->
            </form>
        </div>
    </div>
    <!-- end DETAILS -->

    <!-- UPLOAD PANEL-->
    {% include 'tenant_task/details/edit/upload_panel.html' with task=task constants=constants %}
    <!-- end UPLOAD PANEL -->

    <!-- TEAM MESSAGES -->
    <div class="panel b">
        <div class="panel-heading">
            <div class="pull-right label label-info">{{ task.comment_posts.count }}</div>
            <div class="panel-title">Team messages</div>
        </div>
        <!-- START list group-->
        <div data-height="180" data-scrollable="" class="list-group">
            <!-- START list group item-->
            {% for comment_post in task.comment_posts.all %}
            <a href="#messages" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        {% thumbnail comment_post.me.image.imagefile "64x64" format='JPEG' background="#ffffff" as im %}
                            <img src="{{ im.url }}" alt="{% trans 'Image' %}" width="{{ im.width }}" height="{{ im.height }}" class="media-box-object img-circle thumb32" />
                        {% empty %}
                            <img src="{% static 'app/img/dummy64x64.png' %}" alt="{% trans 'Image' %}" width="{{ im.width }}" height="{{ im.height }}" class="media-box-object img-circle thumb32" />
                        {% endthumbnail %}
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="pull-right">{{ comment_post.created|pretty_formatted_date }}</small>
                        <strong class="media-box-heading text-primary"><span class="text-left"></span>{{ comment_post.me.name|escape|safe }}</strong>
                        <p class="mb-sm">
                            <small>{{ comment_post.description|escape|safe }}</small>
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
            <!-- END list group item-->

        </div>
        <!-- END list group-->
        <!-- START panel footer-->
        <div class="panel-footer clearfix">
            <div class="input-group">
                <input id="id_comment" type="text" placeholder="{% trans 'Type message ..' %}" class="form-control input-sm" />
                <span class="input-group-btn">
                <button id="id_comment_btn" onclick="" type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-mail-reply"></i>
                </button>
                </span>
            </div>
        </div>
        <!-- END panel-footer-->
    </div>
    <!-- end TEAM MESSAGES -->

    <!-- TASK LOG -->
    <div class="panel b">
        <div class="panel-heading">
            <div class="panel-title">Task History</div>
        </div>
        <!-- START list group-->
        <div data-height="180" data-scrollable="" class="list-group">

            {% for log_event in task.log_events.all %}
            <a href="#" class="list-group-item">
                <div class="media-box">
                    <p class="mb-sm">
                        <small class="pull-right">{{ log_event.created|pretty_formatted_date }}</small>
                        <small>{{ log_event.text }}</small>
                    </p>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
    <!-- end TASK LOG -->

  </div>
  <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
