{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'foundation_public/autocomplete_js.html' %}
        {% include 'tenant_profile/profile_settings_js.html' %}
    {% endcompress %}

<!-- Page content-->
<div class="content-wrapper">
    <div class="container-md">
        <div class="row">
            <div class="col-md-3">
                <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Personal Settings' %}</div>
                    <div class="list-group">
                        <a href="#tabSetting1" data-toggle="tab" class="list-group-item">{% trans 'Profile' %}</a>
                        <a href="#tabSetting2" data-toggle="tab" class="list-group-item">{% trans 'Address' %}</a>
                        <a href="#tabSetting3" data-toggle="tab" class="list-group-item">{% trans 'Password' %}</a>
                        <a href="#tabSetting4" data-toggle="tab" class="list-group-item">{% trans 'Notifications' %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content p0 b0">
                    <div id="tabSetting1" class="tab-pane active">
                        <div class="panel b">
                            <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Profile' %}</div>
                            <div class="panel-body">
                                <!-- PROFILE -->
                                <form action="">
                                    <div class="form-group">
                                        <label>{% trans 'Picture' %}</label>
                                        <div class="clearfix"></div>

                                        <!-- Upload ID -->
                                        <input type="hidden" id="id_hidden_upload_id" value="{{ request.tenant_me.image.id }}"/>
                                        <input type="hidden" id="id_hidden_url" value="{{ request.tenant_me.image.imagefile.url }}"/>
                                        <!-- /.Upload ID -->

                                        <!-- Image Placeholder -->
                                        <img id="id_image_placeholder"
                                            src="{{ request.tenant_me.image.imagefile.url }}"
                                          style="height:200px;width:200px;"
                                            alt="{{ request.tenant_me.name }} {% trans 'Picture' %}"
                                          class="img-thumbnail center-block mb0 add-cover-image"
                                           name="product-image" />
                                        <!-- /.Image Placeholder -->

                                        <br/>

                                        <!-- Image Upload Button -->
                                        <label class="form-control btn btn-success mt10 curp" >
                                            <em class="fa fa-upload"></em>&nbsp;&nbsp; {% trans 'Upload Picture...' %}
                                            <input id="id_image"
                                             onchange="ajax_upload_image();"
                                                 type="file"
                                                class="form-control mb10 hide"
                                                 name="product-image" />
                                        </label>
                                        <!-- /.Image Upload Button -->

                                        <br/>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'Bio' %}</label>
                                        <textarea id="id_description" rows="3" class="form-control">{{ request.tenant_me.description|escape|safe }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'URL' %}</label>
                                        <input id="id_url" type="text" class="form-control" value="{{ request.tenant_me.url }}">
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'Telephone*' %}</label>
                                        <input id="id_name" type="text" class="form-control" value="{{ request.tenant_me.telephone|escape|safe }}" />
                                    </div>
                                    <button id="id_profile_btn"
                                       onclick="ajax_profile();"
                                          type="button"
                                         class="btn btn-info">{% trans 'Update settings' %}</button>
                                    <p>
                                        <small class="text-muted">{% trans '* Your telephone and address are private, and can only be viewed by your host organization and advisors.' %}</small>
                                    </p>
                                </form>
                                <!-- end PROFILE -->
                            </div>
                        </div>
                    </div>
                    <div id="tabSetting2" class="tab-pane">
                        <div class="panel b">
                            <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Address' %}</div>
                            <div class="panel-body">
                                <!-- ADDRESS -->
                                <form action="">
                                    <div class="form-group">
                                        <label>{% trans 'Country*' %}</label>
                                        <input id="id_address_country" type="text" class="form-control" value="{{ request.tenant_me.address.address_country }}" />
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'State/Province*' %}</label>
                                        <input id="id_address_region" type="text" class="form-control" value="{{ request.tenant_me.address.address_region }}" />
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'City*' %}</label>
                                        <input id="id_address_locality" type="text" class="form-control" value="{{ request.tenant_me.address.address_locality }}" />
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'Postal/Zip*' %}</label>
                                        <input id="id_postal_code" type="text" class="form-control" value="{{ request.tenant_me.address.postal_code }}" />
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'Postal Office Box Number' %}</label>
                                        <input id="id_post_office_box_number" type="text" class="form-control" value="{{ request.tenant_me.address.post_office_box_number }}" />
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'Street Address*' %}</label>
                                        <input id="id_street_address" type="text" class="form-control" value="{{ request.tenant_me.address.street_address }}" />
                                    </div>
                                    <button id="id_location_btn"
                                       onclick="ajax_location();"
                                          type="button"
                                         class="btn btn-info">{% trans 'Update Address' %}</button>
                                    <p>
                                        <small class="text-muted">{% trans '* Your telephone and address are private, and can only be viewed by your host organization and advisors.' %}</small>
                                    </p>
                                </form>
                                <!-- end PASSWORD -->
                            </div>
                        </div>
                    </div>
                    <div id="tabSetting3" class="tab-pane">
                        <div class="panel b">
                            <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Password' %}</div>
                            <div class="panel-body">
                                <!-- PASSWORD -->
                                <form action="">
                                    {% comment %}
                                    <div class="form-group">
                                        <label>{% trans 'Current password' %}</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    {% endcomment %}
                                    <div class="form-group">
                                        <label>{% trans 'New password' %}</label>
                                        <input id="id_password" type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{% trans 'Confirm new password' %}</label>
                                        <input id="id_password_repeated" type="password" class="form-control">
                                    </div>
                                    <button id="id_password_btn"
                                       onclick="ajax_password();"
                                          type="button"
                                         class="btn btn-info">{% trans 'Update password' %}</button>
                                    <p>
                                        {% comment %}
                                        <small class="text-muted">{% trans '* Integer fermentum accumsan metus, id sagittis ipsum molestie vitae' %}</small>
                                        {% endcomment %}
                                    </p>
                                </form>
                                <!-- end PASSWORD -->
                            </div>
                        </div>
                    </div>
                    <div id="tabSetting4" class="tab-pane">
                        <!-- NOTIFICATION -->
                        <form action="">
                            <div class="panel b">
                                <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Notifications' %}</div>
                                <div class="panel-body bb">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input disabled id="id_disable_all_notifications" class="mis-comm" type="checkbox" value="" onchange="notification_disabled()">
                                                <strong>{% trans 'Disable email notifications' %}</strong>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        <strong>{% trans 'Interaction' %}</strong>
                                    </p>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input id="id_notify_when_new_tasks"
                                                     type="checkbox"
                                                    value="" {% if request.tenant_me.notify_when_new_tasks %}checked{% endif %} />
                                                {% trans 'Alert me when I receive a new task' %}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input id="id_notify_when_new_messages"
                                                     type="checkbox"
                                                    value="" {% if request.tenant_me.notify_when_new_messages %}checked{% endif %} />
                                                {% trans 'Alert me when I receive a new message' %}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input id="id_notify_when_due_tasks"
                                                     type="checkbox"
                                                    value="" {% if request.tenant_me.notify_when_due_tasks %}checked{% endif %} />
                                                {% trans 'Alert me when I have an item due within 2 days' %}
                                            </label>
                                        </div>
                                    </div>
                                    <button id="id_notification_btn"
                                       onclick="ajax_notification();"
                                          type="button"
                                         class="btn btn-info">{% trans 'Update notifications' %}</button>
                                    <p>
                                        {% comment %}
                                        <small class="text-muted">{% trans 'Mauris sodales accumsan erat, ut dapibus erat faucibus vitae.' %}</small>
                                        {% endcomment %}
                                    </p>
                                </div>
                            </div>
                        </form>
                        <!-- end NOTIFICATION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %}
<!-- MODAL -->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 id="myModalLabel" class="modal-title">Modal title</h4>
         </div>

         <div class="modal-body">...</div>
         <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div>

      </div>
   </div>
</div>
<!-- end MODAL -->
{% endcomment %}

{% endblock content %}
