{% load i18n %}
<script>
    $(document).ready(function () {
        // Nothing.
    }); // end Ready

    function disable_btn() {
        // Profile
        $('#id_profile_btn').val("{% trans 'Please Wait...' %}");
        $('#id_profile_btn').prop("disabled", true);

        // Address.
        $('#id_location_btn').val("{% trans 'Please Wait...' %}");
        $('#id_location_btn').prop("disabled", true);

        // Password.
        $('#id_password_btn').val("{% trans 'Please Wait...' %}");
        $('#id_password_btn').prop("disabled", true);

        // Notification
        $('#id_notification_btn').val("{% trans 'Please Wait...' %}");
        $('#id_notification_btn').prop("disabled", true);
    }

    function enable_btn() {
        // Profile.
        $('#id_profile_btn').prop("disabled", false);
        $('#id_profile_btn').val("{% trans 'Update' %}");

        // Address.
        $('#id_location_btn').prop("disabled", false);
        $('#id_location_btn').val("{% trans 'Update' %}");

        // Password.
        $('#id_password_btn').prop("disabled", false);
        $('#id_password_btn').val("{% trans 'Update' %}");

        // Notification.
        $('#id_notification_btn').prop("disabled", false);
        $('#id_notification_btn').val("{% trans 'Update' %}");
    }

    /**
     *  Function will asynchronously upload the cover image.
     */
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
            alert(_("Please select an image to upload"));
            // $.notify("Please select an image to upload", "danger");
            return false;
        }

        // Extract the information.
        var image = document.getElementById('id_image').files[0];
        var upload_id = $('#id_hidden_upload_id').val();

        // Insert or Update.
        set_public_imageupload(upload_id, image, function(json_result) {
            $('#id_hidden_url').attr('src', json_result['imagefile']);
            $('#id_hidden_upload_id').val(json_result['id']);
            $('#id_image_placeholder').attr('src', json_result['imagefile']);
        });
    }

    function ajax_profile() {
        disable_btn(); // Disable the button so no multiple presses happen.

        // Fetch the inputted URLs.
        var website_url = $('#id_url').val();
        if (website_url.indexOf("http") < 0) {
            website_url = 'http://' + website_url;
        }
        if (website_url.length < 8) {
            website_url = "";
        }

        get_tenant_me(  // Fetch our Me.
            {{ request.tenant_me.owner.id }},
            function(me) {
                var image = parseInt( $('#id_hidden_upload_id').val() ); // Update our organization.
                if (image > 0) {
                   me['image'] = image;
                }
                me['telephone'] = $('#id_telephone').val();
                me['description'] = $('#id_description').val();
                me['url'] = website_url;
                set_tenant_me(  // Save our Me
                    me,
                    function(json_result) {
                        enable_btn();
                        console.log(json_result);
                        window.location = "";
                    },
                    function(json_error_result) {
                        enable_btn();
                        console.log(json_error_result);
                        alert(json_error_result);
                    }
                ); // end Get Me
            },
            function(error_result) {
                enable_btn();
                console.log(error_result);
                alert(json_error_result);
            }
        );  // end Set Me
    }

    function ajax_location() {
        get_tenant_postaladdress(
            {{ request.tenant_me.address.id }},
            function(postaladdress) {

                postaladdress['address_country'] = $('#id_address_country').val()
                postaladdress['address_region'] = $('#id_address_region').val()
                postaladdress['address_locality'] = $('#id_address_locality').val()
                postaladdress['postal_code'] = $('#id_postal_code').val()
                postaladdress['post_office_box_number'] = $('#id_post_office_box_number').val()
                postaladdress['street_address'] = $('#id_street_address').val()

                set_tenant_postaladdress(
                    postaladdress,
                    function(result) {
                        console.log(result);
                        enable_btn();
                        window.location = "";
                    },
                    function(error_result) {
                        console.log(error_result);
                        enable_btn();
                        // Convert the error json into string.
                        var string = JSON.stringify( error_result );
                        alert("Unknown Error: "+string);
                    }
                ); // end Set Tenant Postal Address

            },
            function(error_result) {
                console.log(error_result);
                enable_btn();
                // Convert the error json into string.
                var string = JSON.stringify( error_result );
                alert("Unknown Error: "+string);
            }
        ); // end Get Public Postal
    }

    function ajax_password() {
        disable_btn(); // Disable the button so no multiple presses happen.

        var password = $('#id_password').val();

        // Defensive Code: Password handling.
        if ( $('#id_password').val() == "" ){
            enable_btn();
            alert("Missing password");
            return;
        }
        if ( $('#id_password_repeated').val() == "" ){
            enable_btn();
            alert("Missing repeat password");
            return;
        }
        if ( $('#id_password').val() != $('#id_password_repeated').val() ){
            enable_btn();
            alert("password does not match");
            return;
        }

        change_password(
            {{ request.user.id }},
            "{{ request.token }}",
            password,
            function(success_result) {
                console.log(success_result);
                enable_btn();
                alert("Password has been changed! Please login using it now.");
                window.location = "";
            },
            function(error_result) {
                console.log(error_result);
                enable_btn();
                // Convert the error json into string.
                var string = JSON.stringify( error_result );
                alert("Unknown Error: "+string);
            }
        );
    }

    function notification_disabled() {
        // $('#myModal').modal({
        //      closeExisting: false
        // });
    }

    function ajax_notification() {
        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_me(  // Fetch our Me.
            {{ request.tenant_me.owner.id }},
            function(me) {
                me['notify_when_new_tasks'] = $('#id_notify_when_new_tasks').is(':checked');
                me['notify_when_new_messages'] = $('#id_notify_when_new_messages').is(':checked');
                me['notify_when_due_tasks'] = $('#id_notify_when_due_tasks').is(':checked');

                set_tenant_me(  // Save our Me
                    me,
                    function(json_result) {
                        enable_btn();
                        console.log(json_result);
                        window.location = "";
                    },
                    function(json_error_result) {
                        enable_btn();
                        console.log(json_error_result);
                        alert(json_error_result);
                    }
                ); // end Get Me
            },
            function(error_result) {
                enable_btn();
                console.log(error_result);
                alert(json_error_result);
            }
        );  // end Set Me
    }
</script>
