{% load i18n %}
<script>
    /**
     *  Function registers the organization user.
     */
    function ajax_register() {
        // Defensive Code: Name handling.
        if( $('#id_first_name').val() == "" ){
            alert("Missing First Name");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please enter your first name." %}');
            return;
        }
        if( $('#id_last_name').val() == "" ){
            alert("Missing Last Name");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please enter your last name." %}');
            return;
        }

        // Defensive Code: The following code will ensure the proper
        //                 validation occured on the inputted entries.
        if ($('#id_email').val() == '') {
            alert("Missing Email");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please enter a email address." %}');
            return;
        }
        if ( !is_email_valid( $('#id_email').val() ) ) {
            alert("Email not valid.");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please enter a valid email address." %}');
            return;
        }

        // Defensive Code: Password handling.
        if ( $('#id_password').val() == "" ){
            alert("Missing password");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please enter a password." %}');
            return;
        }
        if ( $('#id_password2').val() == "" ){
            alert("Missing repeat password");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please confirm your password." %}');
            return;
        }
        if ( $('#id_password').val() != $('#id_password2').val() ){
            alert("password does not match");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Passwords do not match." %}');
            return;
        }

        // Defensive Code: Ensure that the user agrees to the terms before proceeding.
        //var is_tsa_checked = $('#id_register_tos2').is(':checked');
        //if (is_tsa_checked == false) {
            //$('.alert-danger').text('{% trans "Please agree to the service agreement to continue." %}');
            //$('.alert-danger').show();
            //return;
        //}

        ajax_new_user(
            function(json_result) {
                // Redirect to the page where the user sends a activation email.
                window.location = "{% url 'org_owner_activation_required' %}";
            },
            function(error_json_result) {
                // Convert the error json into string.
                var string = JSON.stringify( error_json_result );
                console.log(string);
            }
        ); // end New User.
    }

    /**
     *  Function extracts the Username, Email, Password, First & Last Names and
     *  calls the registration API to get our user registered.
     */
    function ajax_new_user(success_callback, error_callback) {
        var username = $('#id_email').val();
        var email = $('#id_email').val();
        var password = $('#id_password').val();
        var first_name = $('#id_first_name').val();
        var last_name = $('#id_last_name').val();

        registration(
            username, email, password, first_name, last_name,
            function(json_result) {
                console.log("ajax_new_user: SUCCESS");
                success_callback(json_result);
            },
            function(error_json) {
                console.log("ajax_new_user: ERROR");
                error_callback(error_json);
            }
        ); // End Registration
    }
</script>
