{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });
    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').attr("disabled", "disabled");
    }

    function enable_btn() {
        $('#id_continue_btn').removeAttr("disabled");
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_round_one_step_five' %}";
    }

    function ajax_save_and_continue() {
        window.location = "{% url 'tenant_intake_entr_round_two_step_one' %}";
    }

</script>
