{% load staticfiles i18n %}
<script>
    $(document).ready(function () {
        $("#id_country").change(function () {
            var end = this.value;
            var country_id = $('#id_country').val();
            var criteria = Array();
            criteria.push({
                'country': parseInt(country_id),
            });
            filter_publicprovinceoptions(
                criteria,
                function(json_result) {
                    $('#id_region').prop("disabled", false);
                    html = "<option value=\"0\">Please select a province.</option>";
                    $(json_result).each(function(iter,val2){
                        $(val2['results']).each(function(index, column){
                            html += "<option value=\"" + column['id']+ "\">" + column['name'] + "</option>";
                        });
                    }); // end Iterate Provinces
                    $('#id_region').html('');       // Clear selection
                    $(html).appendTo('#id_region'); // Load new selection
                }
            ); // end Filter Provinces
        }); // end Change Country

        $("#id_region").change(function () {
            var end = this.value;
            var criteria = Array();
            criteria.push({
                'province': parseInt($('#id_region').val()),
            });
            filter_publiccityoptions(
                criteria,
                function(json_result) {
                    $('#id_locality').prop("disabled", false);
                    html = "";
                    $(json_result).each(function(iter, results){
                        if (results['count'] == 0) {
                            // Generate a option to restrict.
                            html += "<option value=\"0\">Coming soon.</option>";

                            // Lock submit button.
                            //$('#id_register_btn').prop("disabled", true);
                        } else {
                            // Generate options.
                            html = "<option value=\"0\">Please select a city.</option>";
                            $(results['results']).each(function(index, column){
                                html += "<option value=\"" + column['id']+ "\">" + column['name'] + "</option>";
                            });

                            // Unlock submit button.
                            //$('#id_register_btn').prop("disabled", false);
                        }
                    }); // end Iterate Provinces
                    $('#id_locality').html('');       // Clear selection
                    $(html).appendTo('#id_locality'); // Load new selection
                }
            ); // end Filter City
        }); // end Change Province
    }); // end Document.

    /**
     *  Function creates an Postal Address.
     */
    function api_postal_address(success_callback, error_callback) {
        var data = {
            // 'name': $('#id_name').val() + ' HQ Address',
            // 'country': $('#id_country').val(),
            // 'locality': $('#id_locality').val(),
            // 'region': $('#id_region').val(),
            // 'post_office_box_number': $('#id_post_office_box_number').val(),
            // 'postal_code': $('#id_postal_code').val(),
            // 'street_address': $('#id_street_address').val(),
            // 'owner': {{ request.user.id }},
        };

        if ( $('#id_hidden_postaladdress').val() ) {
            // data['id'] = $('#id_hidden_postaladdress').val();
        }

        get_public_postaladdress(
            {{ organization.address.id }},
            function() {
                set_public_postaladdress(
                    data,
                    function(json_result) {
                        success_callback(json_result); // Call back the function.
                    },
                    function(error_json_result) {
                        error_callback(error_json_result); // Return JSON
                    }
                ); // end SET PUBLIC POSTAL ADDRESS
            },
            function() {
                error_callback(error_json_result); // Return JSON
            }
        ); // GET PUBLIC POSTAL ADDRESS
    }

    function disable_btn() {
        $('#id_save_org_btn').prop("disabled", true);
        $('#id_save_org_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_save_org_btn').prop("disabled", false);
        $('#id_save_org_btn').val("{% trans 'Finalize' %}");
    }

    function api_organization(success_callback, error_callback) {
        get_public_organization(
            {{ organization.id }},
            function(organization) {

                set_public_organization(
                    organization,
                    function(error) {
                        enable_btn();
                        console.log(error);
                    },
                    function(json_result) {
                        enable_btn();
                        console.log(json_result);
                        window.location = "{% url 'foundation_auth_config_org_step_two' %}";
                    },
                    function(error_result) {
                        enable_btn();
                        var string = JSON.stringify( error_result );
                        console.log(error_result);
                        alert(string);
                    }
                ); // end Set TenantMe
            },
            function(error_result) {
                enable_btn();
                var string = JSON.stringify( error_result );
                console.log(error_result);
                alert(string);
            }
        ); // end Get TenantMe
    }

    /**
     *  Function will run the application logic.
     */
    function ajax_save_org() {
        // Defensive Code: Protect against empty string.
        if( $('#id_street_address').val() <= 0 ){
            alert("{% trans 'Missing street address.' %}");
            return;
        }
        if( $('#id_postal_code').val() <= 0 ){
            alert("{% trans 'Missing postal code.' %}");
            return;
        }

        disable_btn();

        api_postal_address(
            function(postal_address) {
                api_organization(
                    function() {
                        window.location = "{% url 'public_admin_organization_create_2' organization.id %}";
                    },
                    function() {
                        console.log("Failed Set Postal Address");
                        enable_btn(); // Allow the user to press the button again.
                        var string = JSON.stringify( pa_error_result );
                        alert(string);
                    }
                ); // end Organiztion
            },
            function(pa_error_result) {
                console.log("Failed Set Postal Address");
                enable_btn(); // Allow the user to press the button again.
                var string = JSON.stringify( pa_error_result );
                if (string.indexOf('Province/State does not exist') > -1) {
                    alert("{% trans 'Province/State does not exist for specified Country.' %}");
                } else {
                    alert(string);
                }
            }
        ); // end Postal Address
    }
</script>
