{% load i18n %}
<script type="text/javascript">
    function ajax_update() {
        $('#id_submit_btn').prop("disabled", true);
        get_tenant_note(
            {{ form.instance.id }},
            function(note) {
                note['name'] = $.trim($('#id_name').val());
                note['description'] = $.trim($('#id_description').val());
                set_tenant_note(
                    note,
                    function(json_result) {
                        // Return to the note's list page.
                        window.location = "{% url 'tenant_note_master' me.id %}";
                    },
                    function(error_json_result) {
                        $('#id_submit_btn').prop("disabled", false);
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end Set Note
            },
            function(error_json_result) {
                $('#id_submit_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Get Note
    }
</script>
