{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress foundation_tenant_tags %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_reception/resource/master/js.html' %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'public_index' %}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception' %}">{% trans 'Reception' %}</a>
        </li>
        <li class="active">{% trans 'Resources' %}</li>
    </ol>
    <!-- end BREADCRUMBS -->
    <div class="container-fluid">
        <!-- START DATATABLE 1 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% trans 'Tasks' %}
                    </div>
                    <div class="panel-body">
                        <!-- TABLE -->
                        <table id="datatable1" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width:1%">{% trans 'Type' %}</th>
                                    <th style="width:20%">{% trans 'Name' %}</th>
                                    <!-- <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th class="sort-numeric">Engine version</th>
                                    <th class="sort-alpha">CSS grade</th> -->
                                    <th style="width:10%">{% trans 'Options' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resource in resources.all %}
                                    <tr class="gradeA">
                                        <td>
                                            {% if resource.type_of == constants.INFO_RESOURCE_INTERAL_URL_TYPE %}
                                                <em class="fa fa-fw fa-link mr"></em>
                                            {% elif resource.type_of == constants.INFO_RESOURCE_EXTERNAL_URL_TYPE %}
                                                <em class="fa fa-fw fa-external-link mr"></em>
                                            {% elif resource.type_of == constants.INFO_RESOURCE_EMBEDDED_YOUTUBE_VIDEO_TYPE %}
                                                <em class="fa fa-fw fa-youtube mr"></em>
                                            {% elif resource.type_of == constants.INFO_RESOURCE_INTERNAL_VIDEO_TYPE %}
                                                <em class="fa fa-fw fa-video-camera mr"></em>
                                            {% elif resource.type_of == constants.INFO_RESOURCE_INTERNAL_FILE_TYPE %}
                                                <em class="fa fa-fw fa-download mr"></em>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ resource.name }}
                                        </td>
                                        <td>
                                            <a href="{% url 'tenant_reception_resource_details' resource.id %}">
                                                <button type="button" class="btn btn-labeled btn-info">{% trans 'View' %}</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- end TABLE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END DATATABLE 1 -->
    </div>
</div>
<!-- end PAGE CONTENT -->
{% endblock content %}
