{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // Pass
    });

    function ajax_do_chain(callback) {
        // Detect checked value.
        var form = $('#questionForm');
        var textfield_one = form.find('#id_textfield_one').val();
        var boolfield = form.find('#id_boolfield').is(":checked")
        var textfield_two = form.find('#id_textfield_two').val();

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'textfield_one': textfield_one,
                    'boolfield': boolfield,
                    'textfield_two': textfield_two
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Detect checked value.
        var form = $('#questionForm');
        var textfield_one = form.find('#id_textfield_one').val();
        var boolfield = form.find('#id_boolfield').is(":checked")
        var textfield_two = form.find('#id_textfield_two').val();

        // Either load up an error telling the user to pick an option
        // or load up the next page.
        if (textfield_one == "") {
            alert("{% trans 'Please fill in' %} \"{{ question.content.label_one }}\"");
            return;
        }
        if (boolfield == true) {
            if (textfield_two == "") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.label_two }}\"");
                return;
            }
        }

        ajax_do_chain(function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title }}
    </legend>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="panel-body">
                <!-- ROW 1 -->
                <div class="table-responsive">
                    <!-- TABLE -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ question.content.row_1.obj_1.header.col1 }}</th>
                                <th>{{ question.content.row_1.obj_1.header.col2 }}</th>
                                <th>{{ question.content.row_1.obj_1.header.col3 }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end TABLE -->
                </div>
                <!-- ROW 1 -->
                <br />
                <fieldset>
                    <!-- ROW 2 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ question.content.row_2.obj_1.text }}</label>
                        <div class="col-sm-10">
                            <input id="id_textfield_one" type="text" class="form-control" placeholder="{{ question.content.row_2.obj_2.placeholder }}" value="{{ picked.textfield_one }}" />
                        </div>
                    </div>
                    <!-- end ROW 2 -->
                    <br />
                    <!-- ROW 3 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ question.content.row_3.obj_1.text }}</label>
                        <div class="col-sm-10">
                            <!-- OPTIONS -->
                            <select id="id_select_opt1" class="form-control">
                                {% for item in question.options.opt1 %}
                                    <option value="{{ item.value }}">{{ item.text }}</option>
                                {% endfor %}
                            </select>
                            <!-- end OPTIONS -->
                            <!-- OTHER -->
                            <br />
                            <input id="id_other" type="text" class="form-control" placeholder="" value="" />
                            <!-- end OTHER -->
                        </div>
                    </div>
                    <!-- end ROW 3 -->
                    <br />
                    <!-- ROW 4 -->
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-lg">{{ question.content.row_4.obj_1.text }}</button>
                    </div>
                    <!-- end ROW 4 -->
                </fieldset>
            </div>
        </div>
    </div>
</fieldset>
<!-- end HTML -->
