{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {

        // Detect User clicking on one of the Radio buttons.
        $("input[name=optionsRadios]").click(function(){
            // Get the option selected.
            var value = this.value;

            // Fetch our pre-created (or previously-saved) "QuestionAnswer"
            // from our Database and convert it to JSON object.
            get_tenant_questionanswer(
                {{ answer.id }},
                function(question_answer) {

                    // Set the JSON object with our picked value and stringify it.
                    question_answer['content'] = JSON.stringify({
                        'var_1': parseInt(value)
                    });

                    // Save our "QuestionAnswer" model object.
                    set_tenant_questionanswer(
                        question_answer,
                        function(json_result) {
                            console.log(json_result); // Do nothing besides report to conosle.
                        },
                        function(error_json_result) {
                            var string = JSON.stringify( error_json_result );
                            console.log(string);
                            alert(string);
                        }
                    ); // end SET ANSWER
                },
                function(error_json_result) {
                    var string = JSON.stringify( error_json_result );
                    console.log(string);
                    alert(string);
                }
            ); // end GET ANSWER
        }); // end RADIO CLICK DETECTION HANDLER
    }); // end DOCUMENT START

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Detect checked value.
        var form = $('#questionForm');
        var value = form.find('input[name=optionsRadios]:checked').val();

        // Either load up an error telling the user to pick an option
        // or load up the next page.
        if (typeof value === "undefined") {
            alert("{% trans 'Please select an option.' %}");
        } else {
            window.location = next_url;
        }
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title }}
    </legend>
    <div class="form-group">
        <label class="col-sm-2 control-label"><!--{% trans 'Does this sound like you?' %}--></label>
        <div class="col-sm-10">
            {% for option in question.options %}
            <div class="radio">
                <label>
                    <input id="optionsRadios{{ option.value }}" {% if picked.var_1 == option.value %}checked="checked"{% endif %}
                         type="radio"
                         name="optionsRadios"
                        value="{{ option.value }}" />{{ option.text|escape|safe }}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</fieldset>
<!-- end HTML -->
