{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    var row_index = {{ picked_count }};

    $(document).ready(function () {
        // Show "Other" field if the "Other" option was selected.
        $(document).on('change','#id_input_1',function(){
            var input_2 = $('#id_input_1').val();
            if (input_2 == "{{ question.options.opt1_other }}") {
                $('#id_input_1_other_div').show();
            } else {
                $('#id_input_1_other_div').hide();
            }
        });

        // Show "Other" field if the "Other" option was selected.
        $(document).on('change','#id_input_2',function(){
            var input_3 = $('#id_input_2').val();
            if (input_3 == "{{ question.options.opt2_other }}") {
                $('#id_input_2_other_div').show();
            } else {
                $('#id_input_2_other_div').hide();
            }
        });

        // Show "Other" field if the "Other" option was selected.
        $(document).on('change','#id_input_3',function(){
            var input_4 = $('#id_input_3').val();
            if (input_4 == "{{ question.options.opt3_other }}") {
                $('#id_input_3_other_div').show();
            } else {
                $('#id_input_3_other_div').hide();
            }
        });

        // Show "Other" field if the "Other" option was selected.
        $(document).on('change','#id_input_4',function(){
            var input_4 = $('#id_input_4').val();
            if (input_4 == "{{ question.options.opt4_other }}") {
                $('#id_input_4_other_div').show();
            } else {
                $('#id_input_4_other_div').hide();
            }
        });
    });

    function is_int(x) {
        var y = parseInt(x, 10);
        return !isNaN(y) && x == y && x.toString() == y.toString();
    }

    function ajax_do_chain(new_arr, callback) {
        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify(new_arr);

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    function delete_row(id) {
        $('#'+id).remove();
    }

    function add_row() {
        // GET VALUES
        var form = $('#questionForm');
        var input_1 = form.find('#id_input_1').val();
        var input_1_other = form.find('#id_input_1_other').val();
        var input_2 = form.find('#id_input_2').val();
        var input_2_other = form.find('#id_input_2_other').val();
        var input_3 = form.find('#id_input_3').val();
        var input_3_other = form.find('#id_input_3_other').val();
        var input_4 = form.find('#id_input_4').val();
        var input_4_other = form.find('#id_input_4_other').val();
        var input_5 = form.find('#id_input_5').val();
        var input_6 = form.find('#id_input_6').val();
        var input_7 = form.find('#id_input_7').val();

        // Either load up an error telling the user to pick an option
        // or load up the next page.
        // --- COL 1 ---
        if (input_1 == "{{ question.options.opt1_other }}") {
            if (input_1_other.length < 1) {
                alert("{% trans 'Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_1 == "{{ question.options.opt1_select }}") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_9 }}\"");
                return;
            }
        }

        // --- COL 2 ---
        if (input_2 == "{{ question.options.opt2_other }}") {
            if (input_2_other.length < 1) {
                alert("{% trans 'Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_2 == "{{ question.options.opt2_select }}") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_10 }}\"");
                return;
            }
        }

        // --- COL 3 ---
        if (input_3 == "{{ question.options.opt3_other }}") {
            if (input_3_other.length < 1) {
                alert("{% trans 'Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_3 == "{{ question.options.opt3_select }}") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_11 }}\"");
                return;
            }
        }

        // --- COL 4 ---
        if (input_4 == "{{ question.options.opt4_other }}") {
            if (input_4_other.length < 1) {
                alert("{% trans 'Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_4 == "{{ question.options.opt4_select }}") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_12 }}\"");
                return;
            }
        }

        // --- COL 5 ---
        {% if question.validation.var5_type == "textfield" %}
        // IF WE ARE PROCESSING A "TEXTFIELD" THEN APPLY THE APPROPRIATE VALIDATION.
        if (input_5.length < {{ question.validation.var5_min_length }}) {
            alert("{{ question.validation.var5_min_length_error_message }}");
            return;
        }
        if (input_5.length > {{ question.validation.var5_max_length }}) {
            alert("{{ question.validation.var5_max_length_error_message }}");
            return;
        }
        {% elif question.validation.var5_type == "integerfield"  %}
        // ELSE WE ARE PROCESSING "INTEGERFIELD".
        if (is_int(input_5) == false) {
            alert("{% trans 'Please enter integer answer for' %} {{ question.content.stub_13 }}.");
            return;
        }
        if (input_5 < {{ question.validation.var5_min_num }}) {
            alert("{{ question.validation.var5_min_num_error_message }}");
            return;
        }
        if (input_5 > {{ question.validation.var5_max_num }}) {
            alert("{{ question.validation.var5_max_num_error_message }}");
            return;
        }
        {% endif %}

        // --- COL 6 ---
        {% if question.validation.var6_type == "textfield" %}
        // IF WE ARE PROCESSING A "TEXTFIELD" THEN APPLY THE APPROPRIATE VALIDATION.
        if (input_6.length < {{ question.validation.var6_min_length }}) {
            alert("{{ question.validation.var6_min_length_error_message }}");
            return;
        }
        if (input_6.length > {{ question.validation.var6_max_length }}) {
            alert("{{ question.validation.var6_max_length_error_message }}");
            return;
        }
        {% elif question.validation.var6_type == "integerfield"  %}
        // ELSE WE ARE PROCESSING "INTEGERFIELD".
        if (is_int(input_6) == false) {
            alert("{% trans 'Please enter integer answer for' %} {{ question.content.stub_15 }}.");
            return;
        }
        if (input_6 < {{ question.validation.var6_min_num }}) {
            alert("{{ question.validation.var6_min_num_error_message }}");
            return;
        }
        if (input_6 > {{ question.validation.var6_max_num }}) {
            alert("{{ question.validation.var6_max_num_error_message }}");
            return;
        }
        {% endif %}

        // --- COL 7 ---
        {% if question.validation.var7_type == "textfield" %}
        // IF WE ARE PROCESSING A "TEXTFIELD" THEN APPLY THE APPROPRIATE VALIDATION.
        if (input_7.length < {{ question.validation.var7_min_length }}) {
            alert("{{ question.validation.var7_min_length_error_message }}");
            return;
        }
        if (input_7.length > {{ question.validation.var7_max_length }}) {
            alert("{{ question.validation.var7_max_length_error_message }}");
            return;
        }
        {% elif question.validation.var7_type == "integerfield"  %}
        // ELSE WE ARE PROCESSING "INTEGERFIELD".
        if (is_int(input_7) == false) {
            alert("{% trans 'Please enter integer answer for' %} {{ question.content.stub_17 }}.");
            return;
        }
        if (input_7 < {{ question.validation.var7_min_num }}) {
            alert("{{ question.validation.var7_min_num_error_message }}");
            return;
        }
        if (input_7 > {{ question.validation.var7_max_num }}) {
            alert("{{ question.validation.var7_max_num_error_message }}");
            return;
        }
        {% endif %}

        // DEBUGGING PURPOSES ONLY.
        console.log("{{ question.content.stub_9 }}: " + input_1);
        console.log("{{ question.content.stub_9 }} Other: " + input_1_other);
        console.log("{{ question.content.stub_10 }}: " + input_2);
        console.log("{{ question.content.stub_10 }} Other: " + input_2_other);
        console.log("{{ question.content.stub_11 }}: " + input_3);
        console.log("{{ question.content.stub_11 }} Other: " + input_3_other);
        console.log("{{ question.content.stub_12 }}: " + input_4);
        console.log("{{ question.content.stub_13 }}: " + input_5);
        console.log("{{ question.content.stub_15 }}: " + input_6);
        console.log("{{ question.content.stub_17 }}: " + input_7);

        // CREATE HTML ROW.
        // --- START ROW ---
        var html_row = "<tr id=\""+row_index+"\">";

        // --- COL 1 ---
        if (input_1 == "{{ question.options.opt1_other }}") {
            html_row += "<td>"+input_1_other+"</td>";
        } else {
            html_row += "<td>"+input_1+"</td>";
        }

        // --- COL 2 ---
        if (input_2 == "{{ question.options.opt2_other }}") {
            html_row += "<td>"+input_2_other+"</td>";
        } else {
            html_row += "<td>"+input_2+"</td>";
        }

        // --- COL 3 ---
        if (input_3 == "{{ question.options.opt3_other }}") {
            html_row += "<td>"+input_3_other+"</td>";
        } else {
            html_row += "<td>"+input_3+"</td>";
        }

        // --- COL 4 ---
        if (input_4 == "{{ question.options.opt4_other }}") {
            html_row += "<td>"+input_4_other+"</td>";
        } else {
            html_row += "<td>"+input_4+"</td>";
        }

        // --- COL 5 ---
        html_row += "<td>"+input_5+"</td>";

        // --- COL 6 ---
        html_row += "<td>"+input_6+"</td>";

        // --- COL 7 ---
        html_row += "<td>"+input_7+"</td>";

        // --- COL 8 ---
        html_row += "<td>";
        var onclick_js = "delete_row("+row_index+")";
        html_row += "<button type=\"button\" class=\"mb-sm btn btn-danger\" onclick=\""+onclick_js+"\">{% trans 'Delete' %}</button>";
        html_row += "</td>";
        html_row += "</tr>";

        // ADD HTML ROW TO OUR PAGE.
        $("#id_table > tbody").append(html_row);

        // CLEAR FIELDS.
        $('#id_input_1').val("{{ question.options.opt1_select }}");
        $('#id_input_1_other').val("");
        $('#id_input_1_other_div').hide();
        $('#id_input_2').val("{{ question.options.opt2_select }}");
        $('#id_input_2_other').val("");
        $('#id_input_2_other_div').hide();
        $('#id_input_3').val("{{ question.options.opt3_select }}");
        $('#id_input_3_other').val("");
        $('#id_input_3_other_div').hide();
        {% if question.options.opt4_select %}
            $('#id_input_4').val("{{ question.options.opt4_select }}");
        {% endif %}
        $('#id_input_4_other').val("");
        $('#id_input_4_other_div').hide();
        $('#id_input_5').val("");
        $('#id_input_6').val("");
        $('#id_input_7').val("");
        row_index += 1;
    }

    function get_table_data() {
        var data = [];
        $('#id_table').find('tr').each(function (rowIndex, r) {
            var cols = [];
            $(this).find('th,td').each(function (colIndex, c) {
                cols.push(c.textContent);
            });
            data.push(cols);
        });
        return data;
    }

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Fetch the table array.
        var arr = get_table_data();

        // Defensive Code: Check to see if any rows exist?
        var count = arr.length;
        if ((count - 1) < {{ question.validation.arr_min_count }}) {
            alert("{{ question.validation.arr_min_count_error_message|escape|safe }}");
            return;
        }

        if ((count - 1) > {{ question.validation.arr_max_count }}) {
            alert("{{ question.validation.arr_max_count_error_message|escape|safe }}");
            return;
        }

        // Variable used to generate our new array.
        var new_arr = [];

        // Iterate through the table and generate our new array.
        for(var i=1; i < count; i++) {
            var row = arr[i];
            var col1 = row[0];
            var col2 = row[1];
            var col3 = row[2];
            var col4 = row[3];
            var col5 = row[4];
            var col6 = row[5];
            var col7 = row[6];
            new_arr.push({
                "var_1": i,
                "var_2": col1,
                "var_3": col2,
                "var_4": col3,
                "var_5": col4,
                "var_6": col5,
                "var_7": col6,
                "var_8": col7
            });
        }

        // DEBUGGING PURPOSES ONLY.
        console.log(new_arr);

        // SAVE OUR RESULTS.
        ajax_do_chain(
            new_arr,
            function(json_result) {
                // LOAD UP THE NEXT SLIDE/QUESTION.
                window.location = next_url;
            }
        );
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="panel-body">
                <!-- ROW 1 -->
                <div class="table-responsive">
                    <!-- TABLE -->
                    <table class="table table-striped" id="id_table">
                        <thead>
                            <tr>
                                <th>{{ question.content.stub_1 }}</th>
                                <th>{{ question.content.stub_2 }}</th>
                                <th>{{ question.content.stub_3 }}</th>
                                <th>{{ question.content.stub_4 }}</th>
                                <th>{{ question.content.stub_5 }}</th>
                                <th>{{ question.content.stub_6 }}</th>
                                <th>{{ question.content.stub_7 }}</th>
                                <th>{{ question.content.stub_8 }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- CONTENT -->
                            {% for pick in picked %}
                                <tr id="{{ pick.var_1 }}">
                                    <td>{{ pick.var_2 }}</td>
                                    <td>{{ pick.var_3 }}</td>
                                    <td>{{ pick.var_4 }}</td>
                                    <td>{{ pick.var_5 }}</td>
                                    <td>{{ pick.var_6 }}</td>
                                    <td>{{ pick.var_7 }}</td>
                                    <td>{{ pick.var_8 }}</td>
                                    <td>
                                        <button type="button" class="mb-sm btn btn-danger" onclick="delete_row({{ pick.var_1 }});">{% trans 'Delete' %}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- end CONTENT -->
                        </tbody>
                    </table>
                    <!-- end TABLE -->
                </div>
                <!-- ROW 1 -->

                <br />

                <fieldset>

                    <!-- ROW 2 -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ question.content.stub_9 }}</label>
                        <div class="col-sm-5">
                            <!-- OPTIONS -->
                            <select id="id_input_1" class="form-control input-lg">
                                <!-- STATIC OPTION -->
                                {% if question.options.opt1_select %}
                                    <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                                {% endif %}
                                <!-- STATIC end OPTION -->
                                <!-- DYNAMIC OPTON -->
                                {% for item in question.options.opt1 %}
                                    <option value="{{ item.value }}">{{ item.text }}</option>
                                {% endfor %}
                                <!-- end DYNAMIC OPTON -->
                            </select>
                            <!-- end OPTIONS -->
                        </div>
                    </div>
                    <!-- end ROW 2 -->

                    <br />

                    <!-- ROW 2 | HIDDEN -->
                    <div class="form-group" style="display: none;" id="id_input_1_other_div">
                        <label class="col-sm-4 control-label">{% trans 'Other' %}</label>
                        <div class="col-sm-5">
                            <!-- OTHER -->
                            <input id="id_input_1_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please specify here...' %}" value="" />
                            <!-- end OTHER -->
                        </div>
                        <br />
                    </div>
                    <!-- end ROW 2 | HIDDEN -->

                    <br />

                    <!-- ROW 3 -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ question.content.stub_10 }}</label>
                        <div class="col-sm-5">
                            <!-- OPTIONS -->
                            <select id="id_input_2" class="form-control input-lg">
                                <!-- SELECT OPTION -->
                                {% if question.options.opt2_select %}
                                    <option value="{{ question.options.opt2_select }}">{{ question.options.opt2_select }}</option>
                                {% endif %}
                                <!-- end SELECT OPTION -->
                                <!-- DYNAMIC OPTIONS -->
                                {% for item in question.options.opt2 %}
                                    <option value="{{ item.value }}">{{ item.text }}</option>
                                {% endfor %}
                                <!-- end DYNAMIC OPTIONS -->
                            </select>
                            <!-- end OPTIONS -->
                        </div>
                    </div>
                    <!-- end ROW 3 -->

                    <br />

                    <!-- ROW 3 | HIDDEN -->
                    <div class="form-group" style="display: none;" id="id_input_2_other_div">
                        <label class="col-sm-4 control-label">{% trans 'Other' %}</label>
                        <div class="col-sm-5">
                            <!-- OTHER -->
                            <input id="id_input_2_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please specify here...' %}" value="" />
                            <!-- end OTHER -->
                        </div>
                        <br />
                    </div>
                    <!-- end ROW 3 | HIDDEN -->

                    <br />

                    <!-- ROW 4 -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ question.content.stub_11 }}</label>
                        <div class="col-sm-5">
                            <!-- OPTIONS -->
                            <select id="id_input_3" class="form-control input-lg">
                                <!-- SELECT OPTION -->
                                {% if question.options.opt2_select %}
                                    <option value="{{ question.options.opt2_select }}">{{ question.options.opt3_select }}</option>
                                {% endif %}
                                <!-- end SELECT OPTION -->
                                <!-- DYNAMIC OPTIONS -->
                                {% for item in question.options.opt3 %}
                                    <option value="{{ item.value }}">{{ item.text }}</option>
                                {% endfor %}
                                <!-- end DYNAMIC OPTIONS -->
                            </select>
                            <!-- end OPTIONS -->
                        </div>
                    </div>
                    <!-- end ROW 4 -->

                    <br />

                    <!-- ROW 4 | HIDDEN -->
                    <div class="form-group" style="display: none;" id="id_input_3_other_div">
                        <label class="col-sm-4 control-label">{% trans 'Other' %}</label>
                        <div class="col-sm-5">
                            <!-- OTHER -->
                            <input id="id_input_3_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please specify here...' %}" value="" />
                            <!-- end OTHER -->
                        </div>
                        <br />
                    </div>
                    <!-- end ROW 4 | HIDDEN -->

                    <br />

                    <!-- ROW 5 -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ question.content.stub_12 }}</label>
                        <div class="col-sm-5">
                            <!-- OPTIONS -->
                            <select id="id_input_4" class="form-control input-lg">
                                <!-- SELECT OPTION -->
                                {% if question.options.opt4_select %}
                                    <option value="{{ question.options.opt4_select }}">{{ question.options.opt4_select }}</option>
                                {% endif %}
                                <!-- end SELECT OPTION -->
                                <!-- DYNAMIC OPTIONS -->
                                {% for item in question.options.opt4 %}
                                    <option value="{{ item.value }}">{{ item.text }}</option>
                                {% endfor %}
                                <!-- end DYNAMIC OPTIONS -->
                            </select>
                            <!-- end OPTIONS -->
                        </div>
                    </div>
                    <!-- end ROW 5 -->

                    <br />

                    <!-- ROW 5 | HIDDEN -->
                    <div class="form-group" style="display: none;" id="id_input_4_other_div">
                        <label class="col-sm-4 control-label">{% trans 'Other' %}</label>
                        <div class="col-sm-5">
                            <!-- OTHER -->
                            <input id="id_input_4_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please specify here...' %}" value="" />
                            <!-- end OTHER -->
                        </div>
                        <br />
                    </div>
                    <!-- end ROW 5 | HIDDEN -->

                    <br />

                    <!-- ROW 6 -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ question.content.stub_13 }}</label>
                        <div class="col-sm-5">
                            <input id="id_input_5" type="text" class="form-control input-lg" placeholder="{{ question.content.stub_14 }}" value="{{ picked.input_1 }}" />
                        </div>
                    </div>
                    <!-- end ROW 6 -->

                    <br />

                    <!-- ROW 7 -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ question.content.stub_15 }}</label>
                        <div class="col-sm-5">
                            <input id="id_input_6" type="text" class="form-control input-lg" placeholder="{{ question.content.stub_16 }}" value="{{ picked.input_1 }}" />
                        </div>
                    </div>
                    <!-- end ROW 7 -->

                    <br />

                    <!-- ROW 8 -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ question.content.stub_17 }}</label>
                        <div class="col-sm-5">
                            <input id="id_input_7" type="text" class="form-control input-lg" placeholder="{{ question.content.stub_18 }}" value="{{ picked.input_1 }}" />
                        </div>
                    </div>
                    <!-- end ROW 8 -->

                    <br />

                    <!-- ROW 9 -->
                    <div class="pull-right" onclick="add_row();">
                        <button type="button" class="btn btn-success btn-lg">{{ question.content.stub_19 }}</button>
                    </div>
                    <!-- end ROW 9 -->
                </fieldset>
            </div>
        </div>
    </div>
</fieldset>
<!-- end HTML -->
