{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        //  Check for same option selected in all 3 boxes and disable same options.
        $(".check_options").each(function () {
            var $self = $(this);
            $self.data("previous_value", $self.val());
        });
        
        $(".check_options").on("change", function () {
            var $self = $(this);
            var prev_value = $self.data("previous_value");
            var cur_value = $self.val();
            
            $(".check_options").not($self).find("option").filter(function () {
                return $(this).val() == prev_value;
            }).prop("disabled", false);
            
            if (cur_value != "") {
                $(".check_options").not($self).find("option").filter(function () {
                    return $(this).val() == cur_value;
                }).prop("disabled", true);
                
                $self.data("previous_value", cur_value);
            }
        });

        //
        //  Detect input changes for "id_input_1" field.
        //
        $(document).on('change','#id_input_1',function(){
            var input_1 = $('#id_input_1').val();
            if (input_1 == "{{ question.options.opt1_other }}") {
                $('#id_input_1_other').show();
            } else {
                $('#id_input_1_other').hide();
                $('#id_input_1_other').val("");
            }
        });

        //
        //  Detect input changes for "id_input_2" field.
        //
        $(document).on('change','#id_input_2',function(){
            var input_2 = $('#id_input_2').val();
            if (input_2 == "{{ question.options.opt1_other }}") {
                $('#id_input_2_other').show();
            } else {
                $('#id_input_2_other').hide();
                $('#id_input_2_other').val("");
            }
        });

        //
        //  Detect input changes for "id_input_3" field.
        //
        $(document).on('change','#id_input_3',function(){
            var input_2 = $('#id_input_3').val();
            if (input_2 == "{{ question.options.opt1_other }}") {
                $('#id_input_3_other').show();
            } else {
                $('#id_input_3_other').hide();
                $('#id_input_3_other').val("");
            }
        });
    });

    function ajax_do_chain(callback) {
        // GET DATA INPUTS
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        var input_2 = $('#id_input_2').val();
        var input_2_other = $('#id_input_2_other').val();
        var input_3 = $('#id_input_3').val();
        var input_3_other = $('#id_input_3_other').val();

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': input_1,
                    'var_1_other': input_1_other,
                    'var_2': input_2,
                    'var_2_other': input_2_other,
                    'var_3': input_3,
                    'var_3_other': input_3_other
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // GET DATA INPUTS
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        var input_2 = $('#id_input_2').val();
        var input_2_other = $('#id_input_2_other').val();
        var input_3 = $('#id_input_3').val();
        var input_3_other = $('#id_input_3_other').val();

        // VALIDATE INPUTS
        if (input_1 == "{{ question.options.opt1_other }}") {
            if (input_1_other == "") {
                alert("{% trans 'Row #1 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_1 == "{{ question.options.opt1_select }}") {
                alert("{% trans 'Row #1 - Please fill in' %} \"{{ question.content.stub_1 }}\"");
                return;
            }
        }

        if (input_2 == "{{ question.options.opt1_other }}") {
            if (input_2_other == "") {
                alert("{% trans 'Row #2 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_2 == "{{ question.options.opt1_select }}") {
                alert("{% trans 'Row #2 - Please fill in' %} \"{{ question.content.stub_2 }}\"");
                return;
            }
        }

        if (input_3 == "{{ question.options.opt1_other }}") {
            if (input_3_other == "") {
                alert("{% trans 'Row #3 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_3 == "{{ question.options.opt1_select }}") {
                alert("{% trans 'Row #3 - Please fill in' %} \"{{ question.content.stub_3 }}\"");
                return;
            }
        }

        // SAVE DATA.
        ajax_do_chain(function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <!-- ROW 1 -->
    <div class="form-group">
        {% if question.content.stub_1 %}
        <label class="col-sm-3 control-label">{{ question.content.stub_1 }}</label>
        <div class="col-sm-6 col-centered">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_1" class="form-control input-lg check_options">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_1 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_1_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please write something ...' %}" value="{{ picked.var_1_other }}" {% if picked.var_1_other == None or picked.var_1_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 1 -->

    <br />

    <!-- ROW 2 -->
    <div class="form-group">
        {% if question.content.stub_2 %}
        <label class="col-sm-3 control-label">{{ question.content.stub_2 }}</label>
        <div class="col-sm-6 col-centered">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_2" class="form-control input-lg check_options">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_2 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_2_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please write something ...' %}" value="{{ picked.var_2_other }}" {% if picked.var_2_other == None or picked.var_2_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 2 -->

    <br />

    <!-- ROW 3 -->
    <div class="form-group">
        {% if question.content.stub_3 %}
        <label class="col-sm-3 control-label">{{ question.content.stub_3 }}</label>
        <div class="col-sm-6 col-centered">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_3" class="form-control input-lg check_options">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_3 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_3_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please write something ...' %}" value="{{ picked.var_3_other }}" {% if picked.var_3_other == None or picked.var_3_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 3 -->

    <br />
</fieldset>
<!-- end HTML -->
