{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // Do nothing

    }); // end DOCUMENT START

    function is_int(x) {
        var y = parseInt(x, 10);
        return !isNaN(y) && x == y && x.toString() == y.toString();
    }

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // FETCH OUR RESULTS.
        var input_1 = $('#id_input_1').val();

        // VALIDATION
        {% if question.validation.type == "textfield" %}
        // IF WE ARE PROCESSING A "TEXTFIELD" THEN APPLY THE APPROPRIATE VALIDATION.
        if (input_1.length < {{ question.validation.min_length }}) {
            alert("{{ question.validation.min_length_error_message }}");
            return;
        }
        if (input_1.length > {{ question.validation.max_length }}) {
            alert("{{ question.validation.max_length_error_message }}");
            return;
        }
        {% elif question.validation.type == "integerfield"  %}
        // ELSE WE ARE PROCESSING "INTEGERFIELD".
        if (is_int(input_1) == false) {
            alert("{% trans 'Please enter only whole numbers, no dollars signs, commas, letters, or other special characters.' %}");
            return;
        }
        if (input_1 < {{ question.validation.min_num }}) {
            alert("{{ question.validation.min_num_error_message }}");
            return;
        }
        if (input_1 > {{ question.validation.max_num }}) {
            alert("{{ question.validation.max_num_error_message }}");
            return;
        }
        {% endif %}

        ajax_do_chain(input_1, function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }

    function ajax_do_chain(input_1, callback) {
        // Debugging purposes.
        console.log(input_1);

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': input_1,
                    'var_1_other': ''
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>

    <!-- ROW 2 | OTHER -->
    <div class="form-group" id="id_input_1_div">
    {% if question.content.stub_1 %}
        <label class="col-sm-4 control-label">{{ question.content.stub_1 }}</label>
        <div class="col-sm-5 col-centered">
    {% else %}
        <div class="col-sm-6 col-centered">
    {% endif %}
            <input id="id_input_1" type="{% if question.validation.type == "textfield" %}text{% elif question.validation.type == "integerfield"  %}number{% endif %}" class="form-control input-lg" placeholder="{{ question.content.stub_2|escape|safe }}" value="{{ picked.var_1 }}" />
        </div>
    </div>
    <!-- end ROW 2 | OTHER -->

    <br />
</fieldset>
<!-- end HTML -->
