{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        //
        //  Detect input changes for "id_input_1" field.
        //
        $(document).on('change','#id_input_1',function(){
            var input_1 = $('#id_input_1').val();
            if (input_1 == "{{ OTHER_TEXT }}") {
                $('#id_input_1_other').show();
            } else {
                $('#id_input_1_other').hide();
                $('#id_input_1_other').val("");
            }
        });
    });

    function ajax_do_chain(callback) {
        // Detect checked value.
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': input_1,
                    'var_1_other': input_1_other
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        if (input_1 == "{{ OTHER_TEXT }}") {
            if (input_1_other == "") {
                alert("{% trans 'Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_1 == "select") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_1 }}\"");
                return;
            }
        }

        ajax_do_chain(function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title }}
    </legend>
    <div class="form-group">
        <label class="col-sm-2 control-label"><!--{% trans 'Does this sound like you?' %}--></label>
        <div class="col-sm-10">
            <fieldset>
                <!-- ROW 1 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ question.content.stub_1 }}</label>
                    <div class="col-sm-10">
                        <!-- OPTIONS -->
                        <select id="id_input_1" class="form-control">
                            <option value="">{% trans 'select' %}</option>
                            {% for item in question.options.opt1 %}
                                <option value="{{ item }}" {% if item == picked.var_1 %}selected="selected"{% endif %}>{{ item }}</option>
                            {% endfor %}
                        </select>
                        <!-- end OPTIONS -->
                        <!-- OTHER -->
                        <br />
                        <input id="id_input_1_other" type="text" class="form-control" placeholder="" value="{{ picked.var_1_other }}" {% if picked.var_1_other == None or picked.var_1_other == ""  %}style="display: none;"{% endif %} />
                        <!-- end OTHER -->
                    </div>
                </div>
                <!-- end ROW 1 -->
            </fieldset>
        </div>
    </div>
</fieldset>
<!-- end HTML -->
