{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        //
        //  Detect input changes for "id_input_1" field.
        //
        $(document).on('change','#id_input_1',function(){
            var input_1 = $('#id_input_1').val();
            if (input_1 == "{{ question.options.opt1_other }}") {
                $('#id_input_1_other').show();
            } else {
                $('#id_input_1_other').hide();
                $('#id_input_1_other').val("");
            }
        });

        //
        //  Detect input changes for "id_input_2" field.
        //
        $(document).on('change','#id_input_2',function(){
            var input_2 = $('#id_input_2').val();
            if (input_2 == "{{ question.options.opt1_other }}") {
                $('#id_input_2_other').show();
            } else {
                $('#id_input_2_other').hide();
                $('#id_input_2_other').val("");
            }
        });

        //
        //  Detect input changes for "id_input_3" field.
        //
        $(document).on('change','#id_input_3',function(){
            var input_2 = $('#id_input_3').val();
            if (input_2 == "{{ question.options.opt1_other }}") {
                $('#id_input_3_other').show();
            } else {
                $('#id_input_3_other').hide();
                $('#id_input_3_other').val("");
            }
        });

        //
        //  Detect input changes for "id_input_4" field.
        //
        $(document).on('change','#id_input_4',function(){
            var input_2 = $('#id_input_4').val();
            if (input_2 == "{{ question.options.opt1_other }}") {
                $('#id_input_4_other').show();
            } else {
                $('#id_input_4_other').hide();
                $('#id_input_4_other').val("");
            }
        });

        //
        //  Detect input changes for "id_input_5" field.
        //
        $(document).on('change','#id_input_5',function(){
            var input_2 = $('#id_input_5').val();
            if (input_2 == "{{ question.options.opt1_other }}") {
                $('#id_input_5_other').show();
            } else {
                $('#id_input_5_other').hide();
                $('#id_input_5_other').val("");
            }
        });
    });

    function ajax_do_chain(callback) {
        // GET DATA INPUTS
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        var input_2 = $('#id_input_2').val();
        var input_2_other = $('#id_input_2_other').val();
        var input_3 = $('#id_input_3').val();
        var input_3_other = $('#id_input_3_other').val();
        var input_4 = $('#id_input_4').val();
        var input_4_other = $('#id_input_4_other').val();
        var input_5 = $('#id_input_5').val();
        var input_5_other = $('#id_input_5_other').val();

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': input_1,
                    'var_1_other': input_1_other,
                    'var_2': input_2,
                    'var_2_other': input_2_other,
                    'var_3': input_3,
                    'var_3_other': input_3_other,
                    'var_4': input_4,
                    'var_4_other': input_4_other,
                    'var_5': input_5,
                    'var_5_other': input_5_other
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // GET DATA INPUTS
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        var input_2 = $('#id_input_2').val();
        var input_2_other = $('#id_input_2_other').val();
        var input_3 = $('#id_input_3').val();
        var input_3_other = $('#id_input_3_other').val();
        var input_4 = $('#id_input_4').val();
        var input_4_other = $('#id_input_4_other').val();
        var input_5 = $('#id_input_5').val();
        var input_5_other = $('#id_input_5_other').val();

        // VALIDATE INPUTS
        if (input_1 == "{{ question.options.opt1_other }}") {
            if (input_1_other == "") {
                alert("{% trans 'Row #1 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_1 == "{ question.options.opt1_select }}") {
                alert("{% trans 'Row #1 - Please fill in' %} \"{{ question.content.stub_1 }}\"");
                return;
            }
        }

        if (input_2 == "{{ question.options.opt1_other }}") {
            if (input_2_other == "") {
                alert("{% trans 'Row #2 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_2 == "{ question.options.opt1_select }}") {
                alert("{% trans 'Row #2 - Please fill in' %} \"{{ question.content.stub_2 }}\"");
                return;
            }
        }

        if (input_3 == "{{ question.options.opt1_other }}") {
            if (input_3_other == "") {
                alert("{% trans 'Row #3 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_3 == "{ question.options.opt1_select }}") {
                alert("{% trans 'Row #3 - Please fill in' %} \"{{ question.content.stub_3 }}\"");
                return;
            }
        }

        if (input_4 == "{{ question.options.opt1_other }}") {
            if (input_4_other == "") {
                alert("{% trans 'Row #4 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_4 == "{{ question.options.opt1_select }}") {
                alert("{% trans 'Row #4 - Please fill in' %} \"{{ question.content.stub_4 }}\"");
                return;
            }
        }

        if (input_5 == "{{ question.options.opt1_other }}") {
            if (input_5_other == "") {
                alert("{% trans 'Row #5 - Please fill in' %} \"Other\"");
                return;
            }
        } else {
            if (input_5 == "{{ question.options.opt1_select }}") {
                alert("{% trans 'Row #5 - Please fill in' %} \"{{ question.content.stub_5 }}\"");
                return;
            }
        }

        // SAVE DATA.
        ajax_do_chain(function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title }}
    </legend>
    <!-- ROW 1 -->
    <div class="form-group">
        {% if question.content.stub_1 %}
        <label class="col-sm-2 control-label">{{ question.content.stub_1 }}</label>
        <div class="col-sm-10">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_1" class="form-control">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_1 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_1_other" type="text" class="form-control" placeholder="" value="{{ picked.var_1_other }}" {% if picked.var_1_other == None or picked.var_1_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 1 -->

    <br />

    <!-- ROW 2 -->
    <div class="form-group">
        {% if question.content.stub_2 %}
        <label class="col-sm-2 control-label">{{ question.content.stub_2 }}</label>
        <div class="col-sm-10">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_2" class="form-control">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_2 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_2_other" type="text" class="form-control" placeholder="" value="{{ picked.var_2_other }}" {% if picked.var_2_other == None or picked.var_2_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 2 -->

    <br />

    <!-- ROW 3 -->
    <div class="form-group">
        {% if question.content.stub_3 %}
        <label class="col-sm-2 control-label">{{ question.content.stub_3 }}</label>
        <div class="col-sm-10">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_3" class="form-control">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_3 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_3_other" type="text" class="form-control" placeholder="" value="{{ picked.var_3_other }}" {% if picked.var_3_other == None or picked.var_3_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 3 -->

    <br />

    <!-- ROW 4 -->
    <div class="form-group">
        {% if question.content.stub_4 %}
        <label class="col-sm-2 control-label">{{ question.content.stub_4 }}</label>
        <div class="col-sm-10">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_4" class="form-control">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_4 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_4_other" type="text" class="form-control" placeholder="" value="{{ picked.var_4_other }}" {% if picked.var_4_other == None or picked.var_4_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 4 -->

    <br />

    <!-- ROW 5 -->
    <div class="form-group">
        {% if question.content.stub_5 %}
        <label class="col-sm-2 control-label">{{ question.content.stub_5 }}</label>
        <div class="col-sm-10">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_5" class="form-control">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_5 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_5_other" type="text" class="form-control" placeholder="" value="{{ picked.var_5_other }}" {% if picked.var_5_other == None or picked.var_5_other == ""  %}style="display: none;"{% endif %} />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 5 -->
</fieldset>
<!-- end HTML -->
