{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // FILL IN.
    }); // end DOCUMENT START

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        window.location = next_url;
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <div class="col-sm-10 col-centered">
            <!-- FILL IN -->

            <h1>Start-up Costs</h1>
            <p>Assets Owned: ${{ picked.asset_y1_costs_total|floatformat:"0" }}</p>
            <br>

            <h1>Cash Required</h1>
            <p>Assets to Purchase: ${{ picked.equipment_y1_costs|floatformat:"0" }}</p>
            <p>Inventory: ${{ picked.startup_inventory_req|floatformat:"0" }}</p>
            <p>Salary: ${{ picked.ent_cash_startup_req|floatformat:"0" }}</p>
            <br>

            <h1>Total Start-up Costs</h1>
            <p>${{ picked.cash_required|floatformat:"0" }}</p>
            <br>

            <h1>Funds Available</h1>
            <p>Savings: ${{ picked.short_term_assets_y1|floatformat:"0" }}</p>
            <p>Short Torm Liabilties: ${{ picked.short_term_liabilities_y1|floatformat:"0" }}</p>
            <p>Long Torm Liabilties: ${{ picked.long_term_liabilities_y1|floatformat:"0" }}</p>
            <br>

            <h1>Total Funds Available</h1>
            <p>${{ picked.funds_available|floatformat:"0" }}</p>
            <br>

            <h1>Start-up Deficit/Surplus</h1>
            <p>${{ picked.net_startup_deficit_surplus|floatformat:"0" }}</p>
            <br>
        </div>
    </div>
</fieldset>
<!-- end HTML -->
