{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // FILL IN.
    }); // end DOCUMENT START

    /**
     *  Function will generate the saved data table.
     */
    function get_table_data() {
        var arr = [];
        for (var i = 1; i <= {{ q1_answer_len }}; i++) {
            var row = {};

            // --- ID ---
            row['id'] = i;

            // --- TITLE ---
            var title_id = '#id_market'+i+'_title';
            var title = $(title_id).text();
            row['title'] = title;

            // --- YEAR 1 ---
            var yr1_id = '#id_market'+i+'_yr1';
            var yr1 = $(yr1_id).val();
            row['yr1'] = parseFloat(yr1);

            // --- YEAR 2 ---
            var yr2_id = '#id_market'+i+'_yr2';
            var yr2 = $(yr2_id).val();
            row['yr2'] = parseFloat(yr2);

            // --- YEAR 3 ---
            var yr3_id = '#id_market'+i+'_yr3';
            var yr3 = $(yr3_id).val();
            row['yr3'] = parseFloat(yr3);

            // --- Append ---
            arr.push(row);
        }
        return arr;
    }

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Fetch the table array.
        var arr = get_table_data();

        // Defensive Code: Check to see if any rows exist?
        var count = arr.length;
        if (count == 1) {
            alert("Please add an owner before continuing.");
            return;
        }

        // DEBUGGING PURPOSES ONLY.
        console.log(arr);

        // SAVE OUR RESULTS.
        ajax_do_chain(
            arr,
            function(json_result) {
                // LOAD UP THE NEXT SLIDE/QUESTION.
                window.location = next_url;
            }
        );
    }

    /**
     *  Function will save the data.
     */
    function ajax_do_chain(new_arr, callback) {
        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify(new_arr);

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <div class="form-group">
        <div class="col-sm-12">
            <legend>
                {{ node.order_num }}. {{ question.title|escape|safe }}
            </legend>
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="id_table">
                    <thead>
                        <tr>
                            <th>{{ question.content.stub_1 }}</th>
                            <th>{{ question.content.stub_2 }}</th>
                            <th>{{ question.content.stub_3 }}</th>
                            <th>{{ question.content.stub_4 }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer_market in q1_answer %}
                        <tr id="id_market{{ customer_market.var_1 }}">
                            <td id="id_market{{ customer_market.var_1 }}_title">{{ customer_market.var_2 }} | {{ customer_market.var_3 }} | {{ customer_market.var_4 }}</td>
                            <td>
                                <input id="id_market{{ customer_market.var_1 }}_yr1"
                                     type="number"
                                    class="form-control"
                              placeholder="{{ question.content.stub_5 }}"
                                    value="{{ picked.c1_yr1_percent }}" />
                            </td>
                            <td>
                                <input id="id_market{{ customer_market.var_1 }}_yr2"
                                     type="number"
                                    class="form-control"
                              placeholder="{{ question.content.stub_6 }}"
                                    value="{{ picked.c1_yr2_percent }}" />
                            </td>
                            <td>
                                <input id="id_market{{ customer_market.var_1 }}_yr3"
                                     type="number"
                                    class="form-control"
                              placeholder="{{ question.content.stub_7 }}"
                                    value="{{ picked.c1_yr3_percent }}" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END table-responsive-->
        </div>
    </div>
</fieldset>
<!-- end HTML -->
