{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // FILL IN.
    }); // end DOCUMENT START

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Get inputs to valid.
        var input_1 = $('#id_input_1').val();

        // Validation
        if (input_1 == "{{ question.options.opt1_select }}") {
            alert("{% trans 'Please pick a choice.' %}");
            return;
        }

        // Update our model.
        ajax_do_chain(input_1, function(json_result) {
            window.location = next_url;
        });
    }

    function ajax_do_chain(input_1, callback) {
        // Variable uses to track pre-purchase total.
        var total_material_prepurchase_yr1 = 0;

        // --- MONTH 1 ---
        if (input_1 >= 1) {
            var m1 = parseFloat({{ dependent_picked.total_month_1 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_1_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 2 ---
        if (input_1 >= 2) {
            var m1 = parseFloat({{ dependent_picked.total_month_2 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_2_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 3 ---
        if (input_1 >= 3) {
            var m1 = parseFloat({{ dependent_picked.total_month_3 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_3_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 4 ---
        if (input_1 >= 4) {
            var m1 = parseFloat({{ dependent_picked.total_month_4 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_4_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 5 ---
        if (input_1 >= 5) {
            var m1 = parseFloat({{ dependent_picked.total_month_5 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_5_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 6 ---
        if (input_1 >= 6) {
            var m1 = parseFloat({{ dependent_picked.total_month_6 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_6_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 7 ---
        if (input_1 >= 7) {
            var m1 = parseFloat({{ dependent_picked.total_month_7 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_7_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 8 ---
        if (input_1 >= 8) {
            var m1 = parseFloat({{ dependent_picked.total_month_8 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_8_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 9 ---
        if (input_1 >= 9) {
            var m1 = parseFloat({{ dependent_picked.total_month_9 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_9_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 10 ---
        if (input_1 >= 10) {
            var m1 = parseFloat({{ dependent_picked.total_month_10 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_10_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 11 ---
        if (input_1 >= 11) {
            var m1 = parseFloat({{ dependent_picked.total_month_11 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_11_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // --- MONTH 11 ---
        if (input_1 >= 12) {
            var m1 = parseFloat({{ dependent_picked.total_month_12 }});
            var m1_other = parseFloat({{ dependent_picked.total_month_12_other }});
            if (isNaN(m1_other)) {
                total_material_prepurchase_yr1 += m1;
            } else {
                total_material_prepurchase_yr1 += m1_other;
            }
        }

        // Debugging purposes.
        console.log(total_material_prepurchase_yr1);

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': parseInt(input_1),
                    'var_2': total_material_prepurchase_yr1
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <!-- ROW 1 -->
    <div class="form-group">
        {% if question.content.stub_1 %}
        <label class="col-sm-4 control-label">{{ question.content.stub_1 }}</label>
        <div class="col-sm-4">
        {% else %}
        <div class="col-sm-3 col-centered">
        {% endif %}
            <!-- OPTIONS -->
            <select id="id_input_1" class="form-control input-lg">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item.value }}" {% if item.value == picked.var_1 %}selected="selected"{% endif %}>{{ item.text }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_1_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please write your answer here...' %}" value="{{ picked.var_1_other }}" {% if picked.var_1_other == None or picked.var_1_other == ""  %}style="display: none;"{% endif %} maxlength="{{ question.validation.opt1_other_max_length }}" />
            <!-- end OTHER -->
        </div>
    </div>
    <!-- end ROW 1 -->
</fieldset>
<!-- end HTML -->
