{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    // Generate all the options to be selected for "id_input_2" input field.
    // These options are dependent on "id_input_1" intput field.
    var input_2_options = {
        {% for parent_item in question.options.opt2 %}
            "{{ parent_item.parent }}": [
                {% for item in parent_item.choices %}
                    "{{ item }}"
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    $(document).ready(function () {
        //
        // Detect changes with "id_input_1" input field.
        //
        $(document).on('change','#id_input_1',function(){
            // Fetch choices made and validate with the available options.
            var parent = $('#id_input_1').val();

            // Make GUI available.
            $('#id_input_2_div').show();
            $('#id_input_2_other_div').hide();
            $('#id_input_2_other').val("");

            // Generate the selectfield.
            $("#id_input_2").html("");
            var options = input_2_options[parent];
            for (var i = 0; i < options.length; i++) {
                // Append the element
                $('#id_input_2').append($('<option>', {
                    value: options[i],
                    text: options[i]
                }));
            }

            // Display OTHER gui.
            if (parent == "{{ OTHER_TEXT }}") {
                $('#id_input_1_other_div').show();
            }
        });

        //
        // Detect changes with "id_input_1" input field.
        //
        $(document).on('change','#id_input_2',function(){
            // Fetch choices made and validate with the available options.
            var input_2 = $('#id_input_2').val();

            // Display OTHER gui.
            if (input_2 == "{{ OTHER_TEXT }}") {
                $('#id_input_2_other_div').show();
            }
        });

    });

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // GET INPUTS
        //---------------
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        var input_2 = $('#id_input_2').val();
        var input_2_other = $('#id_input_2_other').val();

        // VALIDATION
        //---------------
        // ROW 1
        if (input_1 == "{{ OTHER_TEXT }}") {
            if (input_1_other == "") {
                alert("{% trans 'Please fill in \"Other\".' %}");
                return;
            }
        } else {
            if (input_1 == "") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_1 }}\"");
                return;
            }
        }

        // ROW 2
        if (input_2 == "{{ OTHER_TEXT }}") {
            if (input_2_other == "") {
                alert("{% trans 'Please fill in \"Other\".' %}");
                return;
            }
        } else {
            if (input_2 == "") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_2 }}\"");
                return;
            }
        }

        // UPDATE YOUR MODEL.
        //---------------
        ajax_do_chain(function(json_result) {
            window.location = next_url;
        });
    }

    function ajax_do_chain(callback) {
        // Get inputs to valid.
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        var input_2 = $('#id_input_2').val();
        var input_2_other = $('#id_input_2_other').val();

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': input_1,
                    'var_1_other': input_1_other,
                    'var_2': input_2,
                    'var_2_other': input_2_other
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <!-- ROW 1 -->
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ question.content.stub_1 }}</label>
        <div class="col-sm-10">
            <!-- OPTIONS -->
            <select id="id_input_1" class="form-control">
                <option value="">---</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item }}" {% if item == picked.var_1 %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
        </div>
    </div>
    <!-- end ROW 1 -->

   <br />

    <!-- ROW 1 | OTHER -->
    <div class="form-group" id="id_input_1_other_div" {% if not picked.var_1_other %}style="display: none;"{% endif %}>
        <label class="col-sm-2 control-label">{% trans 'Other' %}</label>
        <div class="col-sm-10">
            <input id="id_input_1_other" type="text" class="form-control" placeholder="" value="{{ picked.var_1_other }}" />
        </div>
    </div>
    <!-- end ROW 1 | OTHER -->

    <br />

    <!-- ROW 2 -->
    <div class="form-group" id="id_input_2_div" {% if not picked.var_2 %}style="display: none;"{% endif %}>
        <label class="col-sm-2 control-label">{{ question.content.stub_2 }}</label>
        <div class="col-sm-10">
            <!-- SELECTIONFIELD -->
            <select id="id_input_2" class="form-control">
                <!-- OPTION -->
                <option value="" selected="selected">---</option>
                <!-- end OPTION -->
                <!-- OPTION -->
                {% if picked.var_1 and picked.var_2 %}
                    <!-- ITEMS -->
                    {% for item in question.options.opt2 %}
                        {% if item.parent == picked.var_1 %}
                            <!-- CHOICES -->
                            {% for choice in item.choices %}
                                <option value="{{ choice }}" {% if choice == picked.var_2 %}selected="selected"{% endif %}>{{ choice }}</option>
                            {% endfor %}
                            <!-- end CHOICES-->
                        {% endif %}
                    {% endfor %}
                    <!-- end ITEMS -->
                {% endif %}
                <!-- end OPTION -->
            </select>
            <!-- end SELECTIONFIELD -->
        </div>
    </div>
    <!-- end ROW 2 -->

    <br />

    <!-- ROW 2 | OTHER -->
    <div class="form-group" id="id_input_2_other_div" {% if not picked.var_2_other %}style="display: none;"{% endif %}>
        <label class="col-sm-2 control-label">{% trans 'Other' %}</label>
        <div class="col-sm-10">
            <input id="id_input_2_other" type="text" class="form-control" placeholder="" value="{{ picked.var_2_other }}" />
        </div>
    </div>
    <!-- end ROW 2 | OTHER  -->

</fieldset>
<!-- end HTML -->
