{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        //
        // Detect changes with "id_input_1" input field.
        //
        $(document).on('change','#id_input_1',function(){
            // CASE 1 OF 2:
            // Show or hide the "id_input_1_other_div" code depending on whether
            // the user selected "{{ OTHER_TEXT }}" or not.
            var input_1 = $('#id_input_1').val();
            if (input_1 == "{{ OTHER_TEXT }}") {
                $('#id_input_1_other_div').show();
            } else {
                $('#id_input_1_other_div').hide();
                $('#id_input_1_other').val("");
            } // end CASE 1
         });
    }); // end DOCUMENT START

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Get inputs to valid.
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        // var input_2 = $('#id_input_2').val();
        // var input_2_other = $('#id_input_2_other').val();

        // Perform validation.
        if (input_1 == "{{ OTHER_TEXT }}") {
            if (input_1_other == "") {
                alert("{% trans 'Please fill in question' %}");
                return;
            }
        } else {
            if (input_1 == "") {
                alert("{% trans 'Please fill in question' %}");
                return;
            }
        }

        // // Update our model.
        ajax_do_chain(function(json_result) {
            window.location = next_url;
        });
    }

    function ajax_do_chain(callback) {
        // Get inputs to valid.
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();

        // Minor fix.
        if (typeof input_1 === "undefined") {
            input_1 = "";
        }

        // Prevent loading "Other" if not picked.
        if (input_1 != "{{ OTHER_TEXT }}") {
            input_1_other = "";
        }

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_0': "{{ previous_picked.var_1 }}",
                    'var_1': input_1,
                    'var_1_other': input_1_other,
                    // 'var_2': input_2,
                    // 'var_2_other': input_2_other
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <label class="col-sm-2 control-label"><!--{% trans 'Does this sound like you?' %}--></label>
        <div class="col-sm-10">
            {% comment %}
            ITERATE THROUGH ALL THE OPTIONS AND SEE WHICH ONE MATCHES THE
            PREVIOUSLY SUBMITTED ANSWER AND RENDER THE GUI ACCORDINGLY.
            {% endcomment %}

            <!-- ITERATE MEGA OPTIONS -->
            {% for mega_option in question.options %}

            <!-- SELECT MEGA OPTION -->
            {% if previous_picked.var_1 == mega_option.name %}

            <!-- TEXTFIELD -->
            {% if mega_option.type == "textfield" %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ mega_option.name }}</label>
                <div class="col-sm-10">
                    <input id="id_input_1" type="text" class="form-control" placeholder="{{ mega_option.placeholder }}" value="{% if picked.var_0 == mega_option.name %}{{ picked.var_1 }}{% endif %}" />
                    <!-- <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                </div>
            </div>
            {% endif %}
            <!-- end TEXTFIELD -->

            <!-- SELECTIONFIELD -->
            {% if mega_option.type == "selectionfield" %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ mega_option.name }}</label>
                <div class="col-sm-10">
                    <!-- OPTIONS -->
                    <select id="id_input_1" class="form-control">
                        {% for choice in mega_option.choices %}
                            <option value="{{ choice }}" {% if picked.var_1 == choice %}selected="selected"{% endif %}>{{ choice }}</option>
                        {% endfor %}
                    </select>
                    <!-- end OPTIONS -->
                    <!-- OTHER -->
                    <div id="id_input_1_other_div" {% if not picked.var_1_other %}style="display: none;"{% endif %}>
                        <br />
                        <input id="id_input_1_other" type="text" class="form-control" placeholder="" value="{% if picked.var_0 == mega_option.name %}{{ picked.var_1_other }}{% endif %}" />
                    </div>
                    <!-- end OTHER -->
                </div>
            </div>
            {% endif %}
            <!-- end SELECTIONFIELD -->

            <!-- BLANKFIELD -->
            {% if mega_option.type == "blankfield" %}
            <div class="form-group">
                <label class="col-sm-12">{{ mega_option.stub }}</label>
            </div>
            {% endif %}
            <!-- end BLANKFIELD -->

            {% endif %}
            <!-- end SELECT MEGA OPTION -->

            {% endfor %}
            <!-- end ITERATE MEGA OPTIONS -->
        </div>
    </div>
</fieldset>
<!-- end HTML -->
