{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // Pass
    });

    function ajax_do_chain(callback) {
        // Detect checked value.
        var form = $('#questionForm');
        var textfield_one = form.find('#id_textfield_one').val();
        var boolfield = form.find('#id_boolfield').is(":checked")
        var textfield_two = form.find('#id_textfield_two').val();

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': textfield_one,
                    'var_2': boolfield,
                    'var_3': textfield_two
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Detect checked value.
        var form = $('#questionForm');
        var textfield_one = form.find('#id_textfield_one').val();
        var boolfield = form.find('#id_boolfield').is(":checked")
        var textfield_two = form.find('#id_textfield_two').val();

        // Either load up an error telling the user to pick an option
        // or load up the next page.
        if (textfield_one == "") {
            alert("{% trans 'Please fill in' %} \"{{ question.content.stub_1 }}\"");
            return;
        }
        if (boolfield == true) {
            if (textfield_two == "") {
                alert("{% trans 'Please fill in' %} \"{{ question.content.stub_2 }}\"");
                return;
            }
        }

        ajax_do_chain(function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <label class="col-sm-2 control-label"><!--{% trans 'Does this sound like you?' %}--></label>
        <div class="col-sm-10">
            <fieldset>
                <!-- ROW 1 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ question.content.stub_1 }}</label>
                    <div class="col-sm-10">
                        <input id="id_textfield_one" type="text" class="form-control" placeholder="{{ question.content.stub_2 }}" value="{{ picked.var_1 }}" />
                    </div>
                </div>
                <!-- end ROW 1 -->
                <br />
                <!-- ROW 2 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ question.content.stub_3 }}</label>
                    <div class="col-sm-10">
                        <label class="checkbox checkbox-inline">
                            <input id="id_boolfield" type="checkbox" value="option1" {% if picked.var_2 %}checked="checked"{% endif %} />
                            {{ question.content.stub_4 }}
                        </label>
                        <input id="id_textfield_two" type="text" class="form-control" placeholder="{{ question.content.stub_5 }}" value="{{ picked.var_3 }}" />
                    </div>
                </div>
                <!-- end ROW 2 -->
            </fieldset>
        </div>
    </div>
</fieldset>
<!-- end HTML -->
