{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // Do nothing

    }); // end DOCUMENT START

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // FETCH OUR RESULTS.
        var input_1 = $('#id_input_1').val();
        var input_2 = $('#id_input_2').val();
        var input_3 = $('#id_input_3').val();

        // VALIDATION
        {% if question.validation.first_required %}
        if (input_1.length < {{ question.validation.min_length }}) {
            alert("Row #1 - {{ question.validation.min_length_error_message }}");
            return;
        }
        if (input_1.length > {{ question.validation.max_length }}) {
            alert("Row #1 - {{ question.validation.max_length_error_message }}");
            return;
        }
        {% endif %}

        {% if question.validation.second_required %}
        if (input_2.length < {{ question.validation.min_length }}) {
            alert("Row #2 - {{ question.validation.min_length_error_message }}");
            return;
        }
        if (input_2.length > {{ question.validation.max_length }}) {
            alert("Row #2 - {{ question.validation.max_length_error_message }}");
            return;
        }
        {% endif %}

        {% if question.validation.third_required %}
        if (input_3.length < {{ question.validation.min_length }}) {
            alert("Row #3 - {{ question.validation.min_length_error_message }}");
            return;
        }
        if (input_3.length > {{ question.validation.max_length }}) {
            alert("Row #3 - {{ question.validation.max_length_error_message }}");
            return;
        }
        {% endif %}

        ajax_do_chain(input_1, input_2, input_3, function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }

    function ajax_do_chain(input_1, input_2, input_3, callback) {
        // Debugging purposes.
        console.log(input_1);
        console.log(input_2);
        console.log(input_3);

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': input_1,
                    'var_2': input_2,
                    'var_3': input_3
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>

    <!-- ROW 1 -->
    <div class="form-group" id="id_input_1_div">
    {% if question.content.stub_1 %}
        <label class="col-sm-3 control-label">{{ question.content.stub_1 }}</label>
        <div class="col-sm-6 col-centered">
    {% else %}
        <div class="col-sm-6 col-centered">
    {% endif %}
            <input id="id_input_1" type="text" class="form-control input-lg" placeholder="{% trans 'Please write here...' %}" value="{{ picked.var_1 }}" />
        </div>
    </div>
    <!-- end ROW 1 -->

    <br />

    <!-- ROW 2 -->
    <div class="form-group" id="id_input_2_div">
    {% if question.content.stub_2 %}
        <label class="col-sm-3 control-label">{{ question.content.stub_2 }}</label>
        <div class="col-sm-6 col-centered">
    {% else %}
        <div class="col-sm-6 col-centered">
    {% endif %}
            <input id="id_input_2" type="text" class="form-control input-lg" placeholder="{% trans 'Please write here...' %}" value="{{ picked.var_2 }}" />
        </div>
    </div>
    <!-- end ROW 1 -->

    <br />

    <!-- ROW 2 -->
    <div class="form-group" id="id_input_3_div">
    {% if question.content.stub_3 %}
        <label class="col-sm-3 control-label">{{ question.content.stub_3 }}</label>
        <div class="col-sm-6 col-centered">
    {% else %}
        <div class="col-sm-6 col-centered">
    {% endif %}
            <input id="id_input_3" type="text" class="form-control input-lg" placeholder="{% trans 'Please write here...' %}" value="{{ picked.var_3 }}" />
        </div>
    </div>
    <!-- end ROW 1 -->

    <br />
</fieldset>
<!-- end HTML -->
