{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // FILL IN.
    }); // end DOCUMENT START

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        window.location = next_url;
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <label class="col-sm-2 control-label"><!--{% trans 'Does this sound like you?' %}--></label>
        <div class="col-sm-12">

            <h1>Start-Up Surplus/Deficit</h1>
            <p>{{ picked.net_startup_deficit_surplus }}</p>
            <br/>

            <h1>Revenue</h1>
            <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>{% trans '' %}</th>
                        <th>{% trans 'Month 1' %}</th>
                        <th>{% trans 'Month 2' %}</th>
                        <th>{% trans 'Month 3' %}</th>
                        <th>{% trans 'Month 4' %}</th>
                        <th>{% trans 'Month 5' %}</th>
                        <th>{% trans 'Month 6' %}</th>
                        <th>{% trans 'Month 7' %}</th>
                        <th>{% trans 'Month 8' %}</th>
                        <th>{% trans 'Month 9' %}</th>
                        <th>{% trans 'Month 10' %}</th>
                        <th>{% trans 'Month 11' %}</th>
                        <th>{% trans 'Month 12' %}</th>
                        <th><b>{% trans 'TOTAL' %}</b></th>
                     </tr>
                  </thead>
                  <tbody>
                      <tr>
                         <td>{% trans 'Total Sales' %}</td>
                         <td>
                             {{ picked.total_sales_m1 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m2 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m3 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m4 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m5 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m6 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m7 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m8 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m9 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m10 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m11 }}
                         </td>
                         <td>
                             {{ picked.total_sales_m12 }}
                         </td>
                         <td>
                             {{ picked.total_sales_y1 }}
                         </td>

                      </tr>
                      <tr>
                         <td>{% trans 'Cost of Goods Sold' %}</td>
                         <td>
                             {{ picked.total_cogs_m1 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m2 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m3 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m4 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m5 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m6 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m7 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m8 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m9 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m10 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m11 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_m12 }}
                         </td>
                         <td>
                             {{ picked.total_cogs_y1 }}
                         </td>

                      </tr>
                      <tr>
                         <td>{% trans 'Profit Margin' %}</td>
                         <td>
                             {{ picked.gross_profit_m1 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m2 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m3 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m4 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m5 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m6 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m7 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m8 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m9 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m10 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m11 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_m12 }}
                         </td>
                         <td>
                             {{ picked.gross_profit_yr1 }}
                         </td>

                      </tr>
                  </tbody>
               </table>
            </div>

            <br />

            <h1>General & Admin Expenses</h1>
            <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>{% trans '' %}</th>
                        <th>{% trans 'Month 1' %}</th>
                        <th>{% trans 'Month 2' %}</th>
                        <th>{% trans 'Month 3' %}</th>
                        <th>{% trans 'Month 4' %}</th>
                        <th>{% trans 'Month 5' %}</th>
                        <th>{% trans 'Month 6' %}</th>
                        <th>{% trans 'Month 7' %}</th>
                        <th>{% trans 'Month 8' %}</th>
                        <th>{% trans 'Month 9' %}</th>
                        <th>{% trans 'Month 10' %}</th>
                        <th>{% trans 'Month 11' %}</th>
                        <th>{% trans 'Month 12' %}</th>
                        <th><b>{% trans 'TOTAL' %}</b></th>
                     </tr>
                  </thead>
                  <tbody>
                      <tr>
                         <td>{% trans 'Location Costs' %}</td>
                         <td>
                             {{ picked.location_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.location_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.location_costs_yr1 }}
                         </td>
                      </tr>
                      <tr>
                         <td>{% trans 'Insurance' %}</td>
                         <td>
                             {{ picked.insurance_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.insurance_costs_yr1 }}
                         </td>
                      </tr>
                      <tr>
                         <td>{% trans 'Admin/Support' %}</td>
                         <td>
                             {{ picked.admin_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.admin_costs_yr1 }}
                         </td>
                      </tr>
                      <tr>
                         <td>{% trans 'Licenses and Permits' %}</td>
                         <td>
                             {{ picked.license_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.license_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.license_costs_yr1 }}
                         </td>
                      </tr>
                      <tr>
                         <td>{% trans 'Marketing' %}</td>
                         <td>
                             {{ picked.marketing_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.marketing_costs_yr1 }}
                         </td>
                      </tr>
                      <!-- TODO: Sales Expenses	pk125	sales_expense_m12 - sales_expense_y1_total -->
                      <tr>
                         <td>{% trans 'Bank Fees' %}</td>
                         <td>
                             {{ picked.bank_fees_m1 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m2 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m3 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m4 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m5 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m6 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m7 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m8 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m9 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m10 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m11 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_m12 }}
                         </td>
                         <td>
                             {{ picked.bank_fees_yr1 }}
                         </td>
                      </tr>
                      <!-- TODO: Salaries salary_cost_m1 -->
                      <tr>
                         <td>{% trans 'Communication Costs' %}</td>
                         <td>
                             {{ picked.comm_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.comm_costs_yr1 }}
                         </td>
                      </tr>
                       <!-- TODO: Subscriptions pk122 sub_costs_m1 -->
                      <tr>
                         <td>{% trans 'Equipment Leases' %}</td>
                         <td>
                             {{ picked.maintain_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.lease_costs_yr1 }}
                         </td>
                      </tr>
                      <tr>
                         <td>{% trans 'Maintenance and Repairs' %}</td>
                         <td>
                             {{ picked.maintain_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.maintain_costs_yr1 }}
                         </td>
                      </tr>
                      <!-- General Supplies -->
                      <!-- Professional Fees -->
                      <tr>
                         <td>{% trans 'Membership Fees' %}</td>
                         <td>
                             {{ picked.mem_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.mem_costs_yr1 }}
                         </td>
                      </tr>
                      <tr>
                         <td>{% trans 'Other' %}</td>
                         <td>
                             {{ picked.other_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.other_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.other_costs_yr1 }}
                         </td>
                      </tr>
                      <tr>
                         <td>{% trans 'Misc.' %}</td>
                         <td>
                             {{ picked.misc_costs_m1 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m2 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m3 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m4 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m5 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m6 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m7 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m8 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m9 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m10 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m11 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_m12 }}
                         </td>
                         <td>
                             {{ picked.misc_costs_yr1 }}
                         </td>
                      </tr>
                  </tbody>
               </table>
            </div>

        </div>
    </div>
</fieldset>
<!-- end HTML -->
