{% load staticfiles i18n compress foundation_public_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        //
        //  Detect input changes for "id_input_1" field.
        //
        $(document).on('change','#id_input_1',function(){
            var input_1 = $('#id_input_1').val();
            if (input_1 == "{{ question.options.opt1_other }}") {
                $('#id_input_1_other').show();
            } else {
                $('#id_input_1_other').hide();
                $('#id_input_1_other').val("");
            }
        });
    });

    function ajax_do_chain(callback) {
        // Detect checked value.
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();

        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify({
                    'var_1': input_1,
                    'var_1_other': input_1_other
                });

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        var input_1 = $('#id_input_1').val();
        var input_1_other = $('#id_input_1_other').val();
        if (input_1 == "{{ question.options.opt1_other }}") {
            if (input_1_other.length < {{ question.validation.opt1_other_min_length }}) {
                alert("{{ question.validation.opt1_other_min_length_error_message }}");
                return;
            }
        } else {
            if (input_1 == "{{ question.options.opt1_select }}") {
                alert("{% trans 'Please fill pick a choice.' %}");
                return;
            }
        }

        ajax_do_chain(function(json_result) {  // Update our model.
            window.location = next_url;
        });
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <div class="col-sm-6 col-centered">
            <p>{{ question.content.stub_1|escape|safe }} <b>{{ offer_category|escape|safe }}</b>:</p>
            <ul>
                {% if offer_1 %}
                <li>{{ offer_1 }}</li>
                {% endif %}

                {% if offer_2 %}
                <li>{{ offer_2 }}</li>
                {% endif %}

                {% if offer_3 %}
                <li>{{ offer_3 }}</li>
                {% endif %}
            </ul>
            <br />
            <p>{{ question.content.stub_2|escape|safe }}:</p>
            <br />

            <!-- OPTIONS -->
            <select id="id_input_1" class="form-control input-lg">
                <option value="{{ question.options.opt1_select }}">{{ question.options.opt1_select }}</option>
                {% for item in question.options.opt1 %}
                    <option value="{{ item.value }}" {% if item.value == picked.var_1 %}selected="selected"{% endif %}>{{ item.text }}</option>
                {% endfor %}
            </select>
            <!-- end OPTIONS -->
            <!-- OTHER -->
            <br />
            <input id="id_input_1_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please write your answer here...' %}" value="{{ picked.var_1_other }}" {% if picked.var_1_other == None or picked.var_1_other == ""  %}style="display: none;"{% endif %} maxlength="{{ question.validation.opt1_other_max_length }}" />
            <!-- end OTHER -->
        </div>
    </div>
</fieldset>
<!-- end HTML -->
