{% load staticfiles i18n compress foundation_public_tags %}
{% load humanize %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        // FILL IN.
    }); // end DOCUMENT START

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        window.location = next_url;
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <div class="col-sm-10 col-centered">
            <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th></th>
                        <th>{% trans 'Year 1' %}</th>
                        <th>{% trans 'Year 2' %}</th>
                        <th>{% trans 'Year 3' %}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>{% trans 'Revenue' %}</td>
                        <td>$&nbsp;{{ scenario.revenue.yr1|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.revenue.yr2|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.revenue.yr3|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'COGS' %}</td>
                        <td>$&nbsp;{{ scenario.cogs.yr1|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.cogs.yr2|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.cogs.yr3|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Gross Profit' %}</td>
                        <td>$&nbsp;{{ scenario.gross_profit.yr1|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.gross_profit.yr2|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.gross_profit.yr3|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Gross Margin Percent' %}</td>
                        <td>{{ scenario.gross_margin_percent.yr1|floatformat }}&nbsp;%</td>
                        <td>{{ scenario.gross_margin_percent.yr2|floatformat }}&nbsp;%</td>
                        <td>{{ scenario.gross_margin_percent.yr3|floatformat }}&nbsp;%</td>
                     </tr>
                     <tr>
                        <td><strong>{% trans 'Net Profit' %}</strong></td>
                        <td><strong>$&nbsp;{{ scenario.net_profit.yr1|floatformat:"0"|intcomma }}</strong></td>
                        <td><strong>$&nbsp;{{ scenario.net_profit.yr2|floatformat:"0"|intcomma }}</strong></td>
                        <td><strong>$&nbsp;{{ scenario.net_profit.yr3|floatformat:"0"|intcomma }}</strong></td>
                     </tr>
                     <tr>
                        <td>{% trans 'Net Profit Percent' %}</td>
                        <td>{{ scenario.net_profit_percent.yr1|floatformat }}&nbsp;%</td>
                        <td>{{ scenario.net_profit_percent.yr2|floatformat }}&nbsp;%</td>
                        <td>{{ scenario.net_profit_percent.yr3|floatformat }}&nbsp;%</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Total Sales' %}</td>
                        <td>$&nbsp;{{ scenario.total_sales.yr1|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_sales.yr2|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_sales.yr3|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Labour' %}</td>
                        <td>$&nbsp;{{ scenario.labour.yr1|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.labour.yr2|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.labour.yr3|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Materials' %}</td>
                        <td>$&nbsp;{{ scenario.materials.yr1|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.materials.yr2|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.materials.yr3|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Overhead' %}</td>
                        <td>$&nbsp;{{ scenario.overhead.yr1|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.overhead.yr2|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.overhead.yr3|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Total Variable Costs' %}</td>
                        <td>$&nbsp;{{ scenario.total_variable_costs.yr1|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_variable_costs.yr2|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_variable_costs.yr3|floatformat:"0"|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Total Variable Costs Excluding COGS' %}</td>
                        <td>$&nbsp;{{ scenario.total_variable_costs_excluding_cogs.yr1|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_variable_costs_excluding_cogs.yr2|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_variable_costs_excluding_cogs.yr3|floatformat:"0"|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'Total Fixed Costs' %}</td>
                        <td>$&nbsp;{{ scenario.total_fixed.yr1|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_fixed.yr2|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.total_fixed.yr3|floatformat:"0"|intcomma }}</td>
                     </tr>
                     <tr>
                        <td>{% trans 'General &amp; Admin Expenses' %}</td>
                        <td>$&nbsp;{{ scenario.general_and_marketing_expenses.yr1|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.general_and_marketing_expenses.yr2|floatformat:"0"|intcomma }}</td>
                        <td>$&nbsp;{{ scenario.general_and_marketing_expenses.yr3|floatformat:"0"|intcomma }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <br />
            <br />
        </div>
        </div>
    </div>
</fieldset>
<!-- end HTML -->
