{% load staticfiles i18n compress foundation_public_tags tenant_workspace_tags %}
<!-- JS -->
{% compress js inline %}
<script>
    $(document).ready(function () {
        $('#lowProfitModal').appendTo("body"); // BUGFIX: This code makes modals work.

        //------------------------//
        // MATERIALS TEXT CHANGE  //
        //------------------------//
        $('#id_materials_yr1').bind('input',function(){
            calculate_yr1();
        });
        $('#id_materials_yr2').bind('input',function(){
            calculate_yr2();
        });
        $('#id_materials_yr3').bind('input',function(){
            calculate_yr3();
        });

        //------------------------//
        // LABOUR TEXT CHANGE  //
        //------------------------//
        $('#id_labour_yr1').bind('input',function(){
            calculate_yr1();
        });
        $('#id_labour_yr2').bind('input',function(){
            calculate_yr2();
        });
        $('#id_labour_yr3').bind('input',function(){
            calculate_yr3();
        });

        //------------------------//
        // OVERHEAD TEXT CHANGE  //
        //-----------------------//
        $('#id_overhead_yr1').bind('input',function(){
            calculate_yr1();
        });
        $('#id_overhead_yr2').bind('input',function(){
            calculate_yr2();
        });
        $('#id_overhead_yr3').bind('input',function(){
            calculate_yr3();
        });

        //-----------------------------//
        // SALES PER UNIT TEXT CHANGE  //
        //-----------------------------//
        $('#id_sales_per_unit_yr1').bind('input',function(){
            calculate_yr1();
        });
        $('#id_sales_per_unit_yr2').bind('input',function(){
            calculate_yr2();
        });
        $('#id_sales_per_unit_yr3').bind('input',function(){
            calculate_yr3();
        });
    }); // end DOCUMENT START

    //--------------------------------//
    // CALCULATE ALL THE ROWS AT ONCE //
    //--------------------------------//
    function calculate_yr1() {
        calculate_cogs('#id_materials_yr1', '#id_labour_yr1', '#id_overhead_yr1', '#id_total_cogs_yr1');
        calculate_profit_percent('#id_total_cogs_yr1', '#id_sales_per_unit_yr1', '#id_profit_percent_yr1');
        calculate_profit_amount('#id_total_cogs_yr1', '#id_sales_per_unit_yr1', '#id_profit_amount_yr1');
    }

    function calculate_yr2() {
        calculate_cogs('#id_materials_yr2', '#id_labour_yr2', '#id_overhead_yr2', '#id_total_cogs_yr2');
        calculate_profit_percent('#id_total_cogs_yr2', '#id_sales_per_unit_yr2', '#id_profit_percent_yr2');
        calculate_profit_amount('#id_total_cogs_yr2', '#id_sales_per_unit_yr2', '#id_profit_amount_yr2');
    }

    function calculate_yr3() {
        calculate_cogs('#id_materials_yr3', '#id_labour_yr3', '#id_overhead_yr3', '#id_total_cogs_yr3');
        calculate_profit_percent('#id_total_cogs_yr3', '#id_sales_per_unit_yr3', '#id_profit_percent_yr3');
        calculate_profit_amount('#id_total_cogs_yr3', '#id_sales_per_unit_yr3', '#id_profit_amount_yr3');
    }

    //----------------------------//
    // CALCULATE INDIVIDUAL ITEMS //
    //----------------------------//

    /**
     *  Function will take all the year-N inputs and calculate the TOTAL COGS
     *  if all the values where valid integers. If not valid then a NaN will be
     *  generated. The key idea is the developer passes in the ID of the inputs
     *  and this function will reference them and make the UI change accordingly.
     */
    function calculate_cogs(materials_id, labour_id, overhead_id, cogs_id) {
        // The sum total of the materials, labour and overhead.
        var total = 0;

        // Fetch the User inputs.
        var materials = parseFloat($(materials_id).val());
        var labour = parseFloat($(labour_id).val());
        var overhead = parseFloat($(overhead_id).val());

        // Calculate the sum (if not NaN).
        total += materials;
        total += labour;
        total += overhead;

        // Update the UI
        $(cogs_id).val(total);
    }

    /**
     *  Function will compute the profit percent.
     */
    function calculate_profit_percent(cogs_id, sales_id, profit_percent_id) {
        // The sum total of the materials, labour and overhead.
        var total = 0;

        // Fetch the User inputs.
        var cogs = parseFloat($(cogs_id).val());
        var sales_per_unit = parseFloat($(sales_id).val());

        // Calculate the amount (if not NaN).
        total = ( sales_per_unit - cogs ) / sales_per_unit * 100;

        // Update the UI
        $(profit_percent_id).val(total);
    }

    /**
     *  Function will compute the profit amount.
     */
    function calculate_profit_amount(cogs_id, sales_id, profit_amount_id) {
        // The sum total of the materials, labour and overhead.
        var total = 0;

        // Fetch the User inputs.
        var cogs = parseFloat($(cogs_id).val());
        var sales_per_unit = parseFloat($(sales_id).val());

        // Calculate the amount (if not NaN).
        total = sales_per_unit - cogs;

        // Update the UI
        $(profit_amount_id).val(total);
    }

    //-------------------//
    // VALIDATE AND SAVE //
    //-------------------//

    /**
     *  Function will load up the next URL after checking to see if the
     *  option was selected for this question.
     */
    function question_answer_protected_next(next_url) {
        // Function will look at the profit percents for all three years
        // and check for any profit below 15% percent; afterwords, either
        // proceed to the next screen or load up a modal.
        var profit_percent_yr1 = parseFloat($('#id_profit_percent_yr1').val());
        var profit_percent_yr2 = parseFloat($('#id_profit_percent_yr2').val());
        var profit_percent_yr3 = parseFloat($('#id_profit_percent_yr3').val());
        if (isNaN(profit_percent_yr1)) {
            alert("{% trans 'Please fill in year 1 of sales per unit' %}");
            return;
        }
        if (isNaN(profit_percent_yr3)) {
            alert("{% trans 'Please fill in year 2 of sales per unit' %}");
            return;
        }
        if (isNaN(profit_percent_yr3)) {
            alert("{% trans 'Please fill in year 3 of sales per unit' %}");
            return;
        }
        if (profit_percent_yr1 <= 15) {
            $('#lowProfitModal').modal('toggle');
            $('#lowProfitModal').modal('show');
            return;
        }
        if (profit_percent_yr2 <= 15) {
            $('#lowProfitModal').modal('toggle');
            $('#lowProfitModal').modal('show');
            return;
        }
        if (profit_percent_yr3 <= 15) {
            $('#lowProfitModal').modal('toggle');
            $('#lowProfitModal').modal('show');
            return;
        }

        // SAVE RESULTS TO OUR DATABASE IF ALL PROFITS ARE ABOUT 15%.
        protected_next(next_url) ;
    }

    /**
     *  Function will validate the data, save the data and load up the next screen.
     */
    function protected_next(next_url) {
        // Fetch our inputs and validate them.
        //----------------------------------------
        var materials_yr1 = parseFloat($('#id_materials_yr1').val());
        var materials_yr2 = parseFloat($('#id_materials_yr2').val());
        var materials_yr3 = parseFloat($('#id_materials_yr3').val());
        var labour_yr1 = parseFloat($('#id_labour_yr1').val());
        var labour_yr2 = parseFloat($('#id_labour_yr2').val());
        var labour_yr3 = parseFloat($('#id_labour_yr3').val());
        var overhead_yr1 = parseFloat($('#id_overhead_yr1').val());
        var overhead_yr2 = parseFloat($('#id_overhead_yr2').val());
        var overhead_yr3 = parseFloat($('#id_overhead_yr3').val());
        var total_cogs_yr1 = parseFloat($('#id_total_cogs_yr1').val());
        var total_cogs_yr2 = parseFloat($('#id_total_cogs_yr2').val());
        var total_cogs_yr3 = parseFloat($('#id_total_cogs_yr3').val());
        var sales_per_unit_yr1 = parseFloat($('#id_sales_per_unit_yr1').val());
        var sales_per_unit_yr2 = parseFloat($('#id_sales_per_unit_yr2').val());
        var sales_per_unit_yr3 = parseFloat($('#id_sales_per_unit_yr3').val());
        var profit_percent_yr1 = parseFloat($('#id_profit_percent_yr1').val());
        var profit_percent_yr2 = parseFloat($('#id_profit_percent_yr2').val());
        var profit_percent_yr3 = parseFloat($('#id_profit_percent_yr3').val());
        var profit_amount_yr1 = parseFloat($('#id_profit_amount_yr1').val());
        var profit_amount_yr2 = parseFloat($('#id_profit_amount_yr2').val());
        var profit_amount_yr3 = parseFloat($('#id_profit_amount_yr3').val());

        // VALIDATION.
        //----------------------------------------
        // MATERIALS
        if (isNaN(materials_yr1)) {
            alert("{% trans 'Please fill in year 1 of materials' %}");
            return;
        }
        if (isNaN(materials_yr2)) {
            alert("{% trans 'Please fill in year 2 of materials' %}");
            return;
        }
        if (isNaN(materials_yr3)) {
            alert("{% trans 'Please fill in year 3 of materials' %}");
            return;
        }

        // LABOUR
        if (isNaN(labour_yr1)) {
            alert("{% trans 'Please fill in year 1 of labour' %}");
            return;
        }
        if (isNaN(labour_yr2)) {
            alert("{% trans 'Please fill in year 2 of labour' %}");
            return;
        }
        if (isNaN(labour_yr3)) {
            alert("{% trans 'Please fill in year 3 of labour' %}");
            return;
        }

        // OVERHEAD
        if (isNaN(overhead_yr1)) {
            alert("{% trans 'Please fill in year 1 of overhead' %}");
            return;
        }
        if (isNaN(overhead_yr2)) {
            alert("{% trans 'Please fill in year 2 of overhead' %}");
            return;
        }
        if (isNaN(overhead_yr3)) {
            alert("{% trans 'Please fill in year 3 of overhead' %}");
            return;
        }

        // SALES PER UNIT
        if (isNaN(sales_per_unit_yr1)) {
            alert("{% trans 'Please fill in year 1 of sales per unit' %}");
            return;
        }
        if (isNaN(sales_per_unit_yr2)) {
            alert("{% trans 'Please fill in year 2 of sales per unit' %}");
            return;
        }
        if (isNaN(sales_per_unit_yr3)) {
            alert("{% trans 'Please fill in year 3 of sales per unit' %}");
            return;
        }

        // CREATE OUR UPDATE URL.
        //----------------------------------------
        var arr = {
            'materials_yr1': materials_yr1,
            'materials_yr2': materials_yr2,
            'materials_yr3': materials_yr3,
            'labour_yr1': labour_yr1,
            'labour_yr2': labour_yr2,
            'labour_yr3': labour_yr3,
            'overhead_yr1': overhead_yr1,
            'overhead_yr2': overhead_yr2,
            'overhead_yr3': overhead_yr3,
            'total_cogs_yr1': total_cogs_yr1,
            'total_cogs_yr2': total_cogs_yr2,
            'total_cogs_yr3': total_cogs_yr3,
            'sales_per_unit_yr1': sales_per_unit_yr1,
            'sales_per_unit_yr2': sales_per_unit_yr2,
            'sales_per_unit_yr3': sales_per_unit_yr3,
            'profit_percent_yr1': profit_percent_yr1,
            'profit_percent_yr2': profit_percent_yr2,
            'profit_percent_yr3': profit_percent_yr3,
            'profit_amount_yr1': profit_amount_yr1,
            'profit_amount_yr2': profit_amount_yr2,
            'profit_amount_yr3': profit_amount_yr3,
        };

        // Save to our database.
        //----------------------------------------
        ajax_do_chain(
            arr,
            function(json_result) {
                // LOAD UP THE NEXT SLIDE/QUESTION.
                window.location = next_url;
            }
        );
    }

    function ajax_do_chain(new_arr, callback) {
        // Fetch our pre-created (or previously-saved) "QuestionAnswer"
        // from our Database and convert it to JSON object.
        get_tenant_questionanswer(
            {{ answer.id }},
            function(question_answer) {

                // Set the JSON object with our picked value and stringify it.
                question_answer['content'] = JSON.stringify(new_arr);

                // Save our "QuestionAnswer" model object.
                set_tenant_questionanswer(
                    question_answer,
                    function(json_result) {
                        callback(json_result);
                    },
                    function(error_json_result) {
                        var string = JSON.stringify( error_json_result );
                        console.log(string);
                        alert(string);
                    }
                ); // end SET ANSWER
            },
            function(error_json_result) {
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end GET ANSWER
    };

    function go_next(next_url) {
        window.location = next_url;
    }
</script>
{% endcompress %}
<!-- end JS -->
<!-- HTML -->
<fieldset>
    <legend>
        {{ node.order_num }}. {{ question.title|escape|safe }}
    </legend>
    <div class="form-group">
        <div class="col-sm-12">
            <!-- BIZMULA COGS TABLE -->
            <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>{% trans 'Item' %}</th>
                        <th>{% trans 'Year 1' %}</th>
                        <th>{% trans 'Year 2' %}</th>
                        <th>{% trans 'Year 3' %}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <!-- MATERIALS -->
                     <tr>
                        <td>{% trans 'Materials' %}</td>
                        <td>
                            <input id="id_materials_yr1" type="number" class="form-control" placeholder="-" value="{{ picked.materials_yr1 }}">
                        </td>
                        <td>
                            <input id="id_materials_yr2" type="number" class="form-control" placeholder="-" value="{{ picked.materials_yr2 }}">
                        </td>
                        <td>
                            <input id="id_materials_yr3" type="number" class="form-control" placeholder="-" value="{{ picked.materials_yr3 }}">
                        </td>
                     </tr>

                     <!-- LABOUR -->
                     <tr>
                        <td>{% trans 'Labour' %}</td>
                        <td>
                            <input id="id_labour_yr1" type="number" class="form-control" placeholder="-" value="{{ picked.labour_yr1 }}">
                        </td>
                        <td>
                            <input id="id_labour_yr2" type="number" class="form-control" placeholder="-" value="{{ picked.labour_yr2 }}">
                        </td>
                        <td>
                            <input id="id_labour_yr3" type="number" class="form-control" placeholder="-" value="{{ picked.labour_yr3 }}">
                        </td>
                     </tr>

                     <!-- OVERHEAD -->
                     <tr>
                        <td>{% trans 'Overhead' %}</td>
                        <td>
                            <input id="id_overhead_yr1" type="number" class="form-control" placeholder="-" value="{{ picked.overhead_yr1 }}">
                        </td>
                        <td>
                            <input id="id_overhead_yr2" type="number" class="form-control" placeholder="-" value="{{ picked.overhead_yr2 }}">
                        </td>
                        <td>
                            <input id="id_overhead_yr3" type="number" class="form-control" placeholder="-" value="{{ picked.overhead_yr3 }}">
                        </td>
                     </tr>

                     <!-- TOTAL COGS -->
                     <tr>
                        <td>{% trans 'TOTAL COGS' %}</td>
                        <td>
                            <input id="id_total_cogs_yr1" type="number" class="form-control" placeholder="-" value="{{ picked.total_cogs_yr1 }}" readonly=true>
                        </td>
                        <td>
                            <input id="id_total_cogs_yr2" type="number" class="form-control" placeholder="-" value="{{ picked.total_cogs_yr2 }}" readonly=true>
                        </td>
                        <td>
                            <input id="id_total_cogs_yr3" type="number" class="form-control" placeholder="-" value="{{ picked.total_cogs_yr3 }}" readonly=true>
                        </td>
                     </tr>

                     <!-- SALES PRICE PER UNIT -->
                     <tr>
                        <td>{% trans 'Sales price per unit' %}</td>
                        <td>
                            <input id="id_sales_per_unit_yr1" type="number" class="form-control" placeholder="-" value="{{ picked.sales_per_unit_yr1 }}">
                        </td>
                        <td>
                            <input id="id_sales_per_unit_yr2" type="number" class="form-control" placeholder="-" value="{{ picked.sales_per_unit_yr2 }}">
                        </td>
                        <td>
                            <input id="id_sales_per_unit_yr3" type="number" class="form-control" placeholder="-" value="{{ picked.sales_per_unit_yr3 }}">
                        </td>
                     </tr>

                     <!-- PROFIT % -->
                     <tr>
                        <td>{% trans 'Gross Margin/Profit Margin (%)' %}</td>
                        <td>
                            <input id="id_profit_percent_yr1" type="number" class="form-control" placeholder="-" value="{{ picked.profit_percent_yr1 }}" readonly=true>
                        </td>
                        <td>
                            <input id="id_profit_percent_yr2" type="number" class="form-control" placeholder="-" value="{{ picked.profit_percent_yr2 }}" readonly=true>
                        </td>
                        <td>
                            <input id="id_profit_percent_yr3" type="number" class="form-control" placeholder="-" value="{{ picked.profit_percent_yr3 }}" readonly=true>
                        </td>
                     </tr>

                     <!-- PROFIT $ -->
                     <tr>
                        <td>{% trans 'Gross Margin/Profit Margin ($)' %}</td>
                        <td>
                            <input id="id_profit_amount_yr1" type="number" class="form-control" placeholder="-" value="{{ picked.profit_amount_yr1 }}" readonly=true>
                        </td>
                        <td>
                            <input id="id_profit_amount_yr2" type="number" class="form-control" placeholder="-" value="{{ picked.profit_amount_yr2 }}" readonly=true>
                        </td>
                        <td>
                            <input id="id_profit_amount_yr3" type="number" class="form-control" placeholder="-" value="{{ picked.profit_amount_yr3 }}" readonly=true>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- end BIZMULA COGS TABLE -->
        </div>
    </div>
</fieldset>
<!-- MODAL -->
<div class="modal fade" id="lowProfitModal" tabindex="-1" role="dialog" aria-labelledby="lowProfitModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lowProfitModalLabel">{% trans 'Edit Workspace' %}</h4>
      </div>
      <div class="modal-body">
          <p>
              {% trans 'Your Gross Margin is lower than we would expect. If you don\'t have a lot of general expenses, or you are going to be selling a high volume of goods, then this is OK, but we would recommend that you try and aim for a gross margin greater than 15%. You can do this by either increasing your Sales price per unit, or decreasing your Materials, Labour or Overhead Costs. Do you want to go back and adjust your figures, or continue?' %}
          </p>
      </div>
      <div class="modal-footer">
        <!-- BACK BUTTON -->
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <!-- end BACK BUTTON -->
        <!-- SUBMIT BUTTON -->
        <div class="pull-right">
            <button id="id_add_btn" id="id_submit_btn" type="button" class="btn btn-sm btn-primary" onclick="protected_next('{% reverse_next_node workspace module node %}');">{% trans 'Continue' %}</button>
        </div>
        <!-- end SUBMIT BUTTON -->
      </div>
  </div>
  </div>
</div>
<!-- end HTML -->
