{% load i18n %}
<script>
    $(document).ready(function () {
        // Do nothing.
    });

    function ajax_create_resource(category_id) {
        window.location = '';
        var url = "{% url 'tenant_resource_create' 'placeholder' %}";
    }

    function ajax_delete_resource(id) {
        $("#id_delete_"+id+"_btn").prop("disabled",true);
        delete_tenant_inforesource(
            id,
            function(inforesource) {
                location.reload(true); // Refresh this page.
            },
            function(error_json_result) {
                $("#id_delete_"+id+"_btn").removeAttr("disabled");
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        );
    }
</script>
