{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/round_2/4/js.html' with intake=intake %}
    {% endcompress %}
    <div class="content-wrapper">
            <h3 class="blk-h3">{% trans 'Entrepreneur Intake Form - Round Two' %}</h3>
                    <!-- HAS BUSINESS IDEAS -->
                    <div class="form-group" id="id_has_business_idea_div">
                        <div class="col-sm-6 text-center col-centered">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input value="{{ identity.id }}"
                                    {% if intake.has_business_idea %}
                                         checked="checked"
                                    {% endif %}
                                           class="source"
                                              id="id_has_business_idea"
                                            type="checkbox" />
                                             <span class="fa fa-check"></span>
                                            {% trans 'I have a business idea.' %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- end HAS BUSINESS IDEAS -->

                    <!-- OPTIONS -->
                    <div class="form-group" id="id_how_can_we_help_div">
                        <h2 class="text-center pv">
                            <label for="signupInputText1" style="font-weight: 400;">
                                <label for="id_how_can_we_help" style="font-weight: 400;">{% trans 'What sector does your current business idea mainly fall into?' %}</label>
                            </label>
                        </h2>
                        
                        <!-- DEPTH ONE -->
                        <fieldset id="id_depth_one_fieldset">
                           <div class="form-group mb">
                               <div class="col-sm-6 col-centered">
                                <label class="control-label mb">Depth One</label>
                              
                                  <select id="id_naics_depth_one" class="form-control input-lg">
                                      {% if intake.naics_depth_one == None %}<option>----</option>{% endif %}
                                      {% for option in depth_one_results.all %}
                                          <option value="{{ option.id }}" {% if option.id == intake.naics_depth_one.id %}selected="true"{% endif %}>{{ option.name }}</option>
                                      {% endfor %}
                                  </select>
                                </div>
                           </div>
                        </fieldset>
                        <!-- end DEPTH ONE -->

                        <!-- DEPTH TWO -->
                        <fieldset id="id_depth_two_fieldset">
                           <div class="form-group mb">
                              <div class="col-sm-6 col-centered">
                              <label class="control-label mb">Depth Two</label>
                              
                                  <select id="id_naics_depth_two" class="form-control input-lg" {% if intake.naics_depth_two == None and intake.naics_depth_one == None %}disabled="true"{% endif %}>
                                      {% if naics_depth_two == None %}<option>----</option>{% endif %}
                                      {% for option in depth_two_results.all %}
                                          <option value="{{ option.id }}" {% if option == intake.naics_depth_two %}selected="true"{% endif %}>{{ option.name }}</option>
                                      {% endfor %}
                                  </select>
                               </div>
                           </div>
                        </fieldset>
                        <!-- end DEPTH TWO -->

                        <!-- DEPTH THREE -->
                        <fieldset id="id_depth_three_fieldset">
                           <div class="form-group mb">
                               <div class="col-sm-6 col-centered">
                                <label class="control-label mb">Depth Three</label>
                              
                                  <select id="id_naics_depth_three" class="form-control input-lg" {% if intake.naics_depth_three == None and intake.naics_depth_two == None %}disabled="true"{% endif %}>
                                      {% if naics_depth_three == None %}<option>----</option>{% endif %}
                                      {% for option in depth_three_results.all %}
                                          <option value="{{ option.id }}" {% if option == intake.naics_depth_three %}selected="true"{% endif %}>{{ option.name }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                           </div>
                        </fieldset>
                        <!-- end DEPTH THREE -->

                        <!-- DEPTH FOUR -->
                        <fieldset id="id_depth_four_fieldset">
                           <div class="form-group mb">
                               <div class="col-sm-6 col-centered">
                                <label class="control-label mb">Depth Four</label>
                            
                                  <select id="id_naics_depth_four" class="form-control input-lg" {% if intake.naics_depth_four == None and intake.naics_depth_three == None %}disabled="true"{% endif %}>
                                      {% if naics_depth_four == None %}<option>----</option>{% endif %}
                                      {% for option in depth_four_results.all %}
                                          <option value="{{ option.id }}" {% if option == intake.naics_depth_four %}selected="true"{% endif %}>{{ option.name }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                           </div>
                        </fieldset>
                        <!-- end DEPTH FOUR -->

                        <!-- DEPTH FIVE -->
                        <fieldset id="id_depth_five_fieldset" class="mgn-below">
                           <div class="form-group mb">
                               <div class="col-sm-6 col-centered">
                                <label class="control-label mb">Depth Five</label>
                            
                                  <select id="id_naics_depth_five" class="form-control input-lg" {% if intake.naics_depth_five == None and intake.naics_depth_four == None %}disabled="true"{% endif %}>
                                      {% if naics_depth_one == None %}<option>----</option>{% endif %}
                                      {% for option in depth_five_results.all %}
                                          <option value="{{ option.id }}" {% if option == intake.naics_depth_five %}selected="true"{% endif %}>{{ option.name }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                           </div>
                        </fieldset>
                        <!-- end DEPTH FIVE -->

                    </div>
                    <!-- end OPTIONS -->

            <div class="actions text-center clearfix">
                        <button id="id_back_btn" type="button" class="btn btn-block btn-default mt-lg mb-lg btn-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                        <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>
    </div>

{% endblock content %}
