{% load i18n %}
<div class="steps clearfix">
    <ul role="tablist">
        <li role="tab"
            class="{% if page == 1 %}first current{% else %}last done{% endif %}"
    aria-disabled="false"
    aria-selected="{% if page == 1 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-1" href="#example-vertical-h-1" aria-controls="example-vertical-p-1">
            <span class="current-info audible">{% trans 'current step' %}: </span><span class="number">1.</span> {% trans 'Location' %}
            </a>
        </li>
        <li role="tab"
            class="{% if page == 2 %}first current{% else %}last done{% endif %}"
    aria-disabled="false"
    aria-selected="{% if page == 2 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-2" href="#example-vertical-h-2" aria-controls="example-vertical-p-2">
            <span class="current-info audible">{% trans 'current step' %}: </span><span class="number">2.</span> {% trans 'Logo' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 3 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 3 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-3" href="#example-vertical-h-3" aria-controls="example-vertical-p-3">
            <span class="number">3.</span> {% trans 'Tags' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 4 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 4 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-4" href="#example-vertical-h-4" aria-controls="example-vertical-p-4">
            <span class="number">4.</span> {% trans 'Programs' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 5 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 5 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-5" href="#example-vertical-h-5" aria-controls="example-vertical-p-5">
            <span class="number">5.</span> {% trans 'Learning Preferences' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 6 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 6 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-6" href="#example-vertical-h-6" aria-controls="example-vertical-p-6">
            <span class="number">6.</span> {% trans 'Real World Challenges' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 7 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 7 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-7" href="#example-vertical-h-7" aria-controls="example-vertical-p-7">
            <span class="number">7.</span> {% trans 'Mentors and External Advisors' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 8 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 8 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-8" href="#example-vertical-h-8" aria-controls="example-vertical-p-8">
            <span class="number">8.</span> {% trans 'Perks and Rewards' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 9 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 9 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-9" href="#example-vertical-h-9" aria-controls="example-vertical-p-9">
            <span class="number">9.</span> {% trans 'Timezone' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 10 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 10 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-10" href="#example-vertical-h-10" aria-controls="example-vertical-p-10">
            <span class="number">10.</span> {% trans 'My Avatar' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 11 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 11 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-11" href="#example-vertical-h-11" aria-controls="example-vertical-p-11">
            <span class="number">11.</span> {% trans 'Metrics' %}
            </a>
        </li>
        <li role="tab"
           class="{% if page == 12 %}first current{% else %}last done{% endif %}"
   aria-disabled="false"
   aria-selected="{% if page == 12 %}true{% else %}false{% endif %}">
            <a id="example-vertical-t-12" href="#example-vertical-h-12" aria-controls="example-vertical-p-12">
            <span class="number">12.</span> {% trans 'Finish' %}
            </a>
        </li>
    </ul>
</div>
