{% load i18n %}
<script>
    function print_error_handler(error_json_result) {
        var string = JSON.stringify( error_json_result );
        console.log(string);
        alert(string);
    }

    function post_comment_handler() {
        $('#id_comment_btn').prop("disabled", true);
        $('#id_comment').prop("disabled", true);
        tenant_task_post_comment(
            {{ task.id }},
            $("#id_comment").val(),
            function(json_result) {
                location.reload(true);

                //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
            },
            function(error_json_result) {
                $('#id_comment_btn').prop("disabled", false);
                $('#id_comment').prop("disabled", true);
                print_error_handler(error_json_result);
            }
        ); // end POST COMMENT
    }

    function ajax_task_handle(column_id, column_value, event_log_text, success_callback, failure_callback) {
        get_tenant_task(
            {{ task.id }},
            function(task) {
                task[column_id] = column_value;
                set_tenant_tasks(
                    task,
                    function(json_result) {

                        tenant_task_log_event(
                            {{ task.id }},
                            event_log_text,
                            function(json_result) {
                                success_callback(json_result);
                            },
                            function(error_json_result) {
                                failure_callback(error_json_result);
                            }
                        ); // end Change Date

                    },
                    function(error_json_result) {
                        failure_callback(error_json_result);
                    }
                ); // end Set Task.
            },
            function(error_json_result) {
                failure_callback(error_json_result);
            }
        ); // end Get Task
    }

    $(document).ready(function () {
        // Required code to initialize the WYSIWYG editor.
        $('#editor').wysiwyg();
        $('#editor').cleanHtml();

        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
        })

        // Required code to initialize the datepicker.
        $( "#id_task_event_start" ).datepicker({
            dateFormat: "yy-mm-dd",
        });
        $( "#id_task_event_due" ).datepicker({
            dateFormat: "yy-mm-dd",
        });

        /**
         *  Function will automatically save the task "start_date".
         */
        $( "#id_task_event_start" ).change(function(e) {  //
            // Extract the string.
            var raw_text_date = $('#id_task_event_start').val() ;

            // Convert the string to a javascript "Date" object.
            var unprotected_date = new Date(raw_text_date);

            //BUGFIX: It appears when we converted our date, we lost a day.
            //        Therefore, add a single day to our converted date.
            unprotected_date.setDate(unprotected_date.getDate() + 1);

            // Format our "Date" object to a format django "DatetimeField"
            // to support.
            var django_date = date_to_django_datetime(unprotected_date);

            var text = "Changed start date to "+raw_text_date+" by {{ request.user.first_name }} {{ request.user.last_name }}";

            $('#id_task_event_start').prop("disabled", true);
            ajax_task_handle(
                'start',
                django_date,
                text,
                function(json_result) {
                    location.reload(true); //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
                },
                function(error_json_result) {
                    $('#id_task_event_start').prop("disabled", false);
                    print_error_handler(error_json_result);
                }
            ); // end AJAX TASK HANDLE
        }); // end START DATE HANDLER.

        /**
         *  Function will automatically save the task "due_date".
         */
        $( "#id_task_event_due" ).change(function(e) {  // DUE DATE HANDLER
            // Extract the string.
            var raw_text_date = $('#id_task_event_due').val() ;

            // Convert the string to a javascript "Date" object.
            var unprotected_date = new Date(raw_text_date);

            //BUGFIX: It appears when we converted our date, we lost a day.
            //        Therefore, add a single day to our converted date.
            unprotected_date.setDate(unprotected_date.getDate() + 1);

            // Format our "Date" object to a format django "DatetimeField"
            // to support.
            var django_date = date_to_django_datetime(unprotected_date);

            // Write the event log.
            var text = "Changed due date to "+raw_text_date+" by {{ request.user.first_name }} {{ request.user.last_name }}";

            $('#id_task_event_due').prop("disabled", true);
            ajax_task_handle(
                'due',
                django_date,
                text,
                function(json_result) {
                    location.reload(true); //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
                },
                function(error_json_result) {
                    $('#id_task_event_due').prop("disabled", false);
                    print_error_handler(error_json_result);
                }
            ); // end AJAX TASK HANDLE
        }); // end DUE DATE HANDLER


        $( "#id_assignee" ).change(function(e) {  // ASSIGNEE HANDLER
            var assignee = $('#id_assignee').val() ;
            var text = "Re-assined task by {{ request.user.first_name }} {{ request.user.last_name }}";

            $('#id_assignee').prop("disabled", true);
            ajax_task_handle(
                'assignee',
                assignee,
                text,
                function(json_result) {
                    location.reload(true); //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
                },
                function(error_json_result) {
                    $('#id_assignee').prop("disabled", false);
                    print_error_handler(error_json_result);
                }
            ); // end AJAX TASK HANDLE
        }); // end ASSIGNEE HANDLER


        $( "#select2-1" ).change(function(e) {  // TAGS HANDLER
            var tags = $('#select2-1').val() ;
            var text = "Modified tags in task by {{ request.user.first_name }} {{ request.user.last_name }}";

            $('#select2-1').prop("disabled", true);
            ajax_task_handle(
                'tags',
                tags,
                text,
                function(json_result) {
                    location.reload(true); //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
                },
                function(error_json_result) {
                    $('#select2-1').prop("disabled", false);
                    print_error_handler(error_json_result);
                }
            ); // end AJAX TASK HANDLE
        }); // end TAGS HANDLER


        $( "#id_update_btn" ).click(function(e) {  // CLICK UPDATE DESCRIPTION HANDLER
            var description = $('#editor').html();
            var text = "Modified task description by {{ request.user.first_name }} {{ request.user.last_name }}";

            $('#id_update_btn').prop("disabled", true);
            ajax_task_handle(
                'description',
                description,
                text,
                function(json_result) {
                    location.reload(true); //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
                },
                function(error_json_result) {
                    $('#id_update_btn').prop("disabled", false);
                    print_error_handler(error_json_result);
                }
            ); // end AJAX TASK HANDLE
        }); // end CLICK UPDATE DESCRIPTION HANDLER


        $("#id_comment").keypress(function(e) {  // POST COMMENT KEYPRESS HANDLER
            if (e.which == 13) {
                post_comment_handler();
            }
        });  // end POST COMMENT KEYPRESS HANDLER


        $( "#id_comment_btn" ).click(function(e) {  // CLICK POST COMMENT BUTTON HANDLER
            post_comment_handler();
        }); // end CLICK POST COMMENT BUTTON HANDLER

        // If user clicks on the title, then give them the ability to enter their value.
        $("#id_task_title_span").click(function () {
            // Replace one <span> element with <input> element.
            var placeholder = "{% trans 'type something ..' %}";
            var html = "<input id='id_task_title_input' type='text' value='' class='form-control' placeholder='"+placeholder+"' />";
            $(this).replaceWith( html );

            // Focus on the the new <input> element.
            $("#id_task_title_input").select();

            // Initialize a event handler to detect 'Enter' button pressed
            // on our newly created <input> element.
            $("#id_task_title_input").keypress(function(e) {
                if (e.which == 13) {
                    // Extract the "title", process it, and save it.
                    var title = $.trim($('#id_task_title_span').text());
                    if (title <= 0) {
                        title = $.trim($('#id_task_title_input').val());
                    }

                    // Replace <input element with <span> element.
                    var html = "<span id='id_task_title_span'>" + title + "</span>";
                    $(this).replaceWith( html );

                    // Generate event log text.
                    var text = "Modified task title by {{ request.user.first_name }} {{ request.user.last_name }}";

                    // Save our title.
                    ajax_task_handle(
                        'name',
                        title,
                        text,
                        function(json_result) {
                            location.reload(true); //TODO: Implement dynamically adding 'LogEvent' to the 'Task History'.
                        },
                        function(error_json_result) {
                            print_error_handler(error_json_result);
                        }
                    ); // end AJAX TASK HANDLE
                }
            }); // end Keypress
        }); // end Click
    }); // end Document Start

    function ajax_complete_task() {
        $('#id_complete_btn').prop("disabled", true);
        tenant_task_complete_task(
            {{ task.id }},
            function(json_result) {
                window.location = "{% url 'tenant_task_master' %}";
            },
            function(error_json_result) {
                $('#id_complete_btn').prop("disabled", false);
                print_error_handler(error_json_result);
            }
        ); // end COMPLETE TASK
    }

    function ajax_incomplete_task() {
        $('#id_incomplete_btn').prop("disabled", true);
        tenant_task_incomplete_task(
            {{ task.id }},
            function(json_result) {
                window.location = "{% url 'tenant_task_master' %}";
            },
            function(error_json_result) {
                $('#id_incomplete_btn').prop("disabled", false);
                print_error_handler(error_json_result);
            }
        ); // end INCOMPLETE TASK
    }
</script>
