{% load i18n %}
<script>
    $(document).ready(function () {
        // Thumb-up any posts who've already been liked.
        {% for post in posts.all %}
            {% for the_user in post.likers.all %}
                {% if the_user.email == request.user.email %}
                    var post_id = {{ post.id }};
                    $('#id_like_'+post_id).attr('class','');
                {% endif %}
            {% endfor %}
        {% endfor %}

        // Hide the upload UI until something has been uploaded.
        $('#id_upload_div').hide();
    }); // end Ready

    function ajax_search() {
        var keyword =  $('#id_search').val();
        window.location = "{% url 'tenant_community_search' %}?keyword="+keyword;
    }

    function disable_btn() {
        // Profile
        $('#id_post_btn').val("{% trans 'Please Wait...' %}");
        $('#id_post_btn').prop("disabled", true);
    }

    function enable_btn() {
        // Profile.
        $('#id_post_btn').prop("disabled", false);
        $('#id_post_btn').val("{% trans 'Update' %}");
    }

    function ajax_like(post_id) {
        if ($('#id_like_'+post_id).hasClass("text-muted")) { // IS DESELECTED
            like_tenant_communitypost(
                post_id,
                function(json_result) {
                    // SELECT
                    //-----------------
                    $('#id_like_'+post_id).attr('class','');

                    // INCREMENT COUNT
                    //-----------------
                    var count =  $('#id_liked_count_'+post_id).text();
                    count = count.replace('(', '');
                    count = count.replace(')', '');
                    count = parseInt(count); // Convert to integer
                    count++;
                    $('#id_liked_count_'+post_id).text('('+count+')');
                },
                function(error_result) {
                    enable_btn();
                    var string = JSON.stringify( error_json_result );
                    console.log(error_json_result);
                    alert(string);
                }
            ); // end LIKE
        } else {
            unlike_tenant_communitypost(
                post_id,
                function(json_result) {
                    // DESELECT
                    //-----------------
                    $('#id_like_'+post_id).attr('class','text-muted');

                    // DECREMENT COUNT
                    //-----------------
                    var count =  $('#id_liked_count_'+post_id).text();
                    count = count.replace('(', '');
                    count = count.replace(')', '');
                    count = parseInt(count); // Convert to integer
                    count--;
                    $('#id_liked_count_'+post_id).text('('+count+')');
                },
                function(error_result) {
                    enable_btn();
                    var string = JSON.stringify( error_json_result );
                    console.log(error_json_result);
                    alert(string);
                }
            ); // end LIKE
        }
    }

    function ajax_enable_picture_upload() {
        $('#id_upload_div').show();
    }

    function ajax_upload_image() {
        // Extract the information.
        var image = document.getElementById('id_image').files[0];
        var upload_id = $('#id_hidden_upload_id').val();

        // Insert or Update.
        set_tenant_imageupload(upload_id, image, function(json_result) {
            $('#id_hidden_url').attr('src', json_result['imagefile']);
            $('#id_hidden_upload_id').val(json_result['id']);
            $('#id_image_placeholder').attr('src', json_result['imagefile']);
        });
    }

    function ajax_post() {
        disable_btn();

        // Populate our CommunityPost.
        var communitypost = {
            'name': $('#id_post_title').val(),
            'description': $('#id_post_description').val(),
        };

        // Populate the Image if it was set.
        var image = parseInt( $('#id_hidden_upload_id').val() ); // Update our organization.
        if (image > 0) {
           communitypost['image'] = image;
        }

        // Populate the Tags if they where set.
        var tags = $('#select2-1').val()
        if (tags) {
            communitypost['tags'] = tags;
        }

        // Create our new CommunityPost.
        set_tenant_communitypost(
            communitypost,
            function(communitypost) {
                console.log(communitypost);
                enable_btn();
                location.reload(true);
            },
            function(error_result) {
                console.log(error_result);
                enable_btn();
                // Convert the error json into string.
                var string = JSON.stringify( error_result );
                alert("Unknown Error: "+string);
            }
        ); // end Set Community
    }
</script>
