{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
{% compress js inline %}
    {% include 'tenant_community/list/js.html' %}
{% endcompress %}
<!-- Page content-->
<div class="content-wrapper">
    <div class="row">
        <!-- Blog Content-->
        <div class="col-lg-9">
            <div class="row">
                <!-- Body column -->
                <div class="col-lg-12">
                    <!-- Item -->
                    {% for post in posts %}
                    <div class="col-lg-4">
                        <div class="col-masonry">
                            <div class="panel b m0">
                                <div class="panel-heading">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                            {% if post.me.image != None and post.me.image != '' %}
                                                <img src="{{ post.me.image.imagefile.url }}" alt="{% trans 'Contact' %}" class="media-object img-thumbnail img-circle thumb32" />
                                            {% else %}
                                                <img src="{% static 'app/img/dummy.png' %}" alt="{% trans 'Contact' %}" class="media-object img-thumbnail img-circle thumb32" />
                                            {% endif %}
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <h5 class="media-heading m0 text-bold">{{ post.owner.first_name }} {{ post.owner.last_name }}</h5>
                                            <small class="text-muted">{{ post.created }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {% if post.image != None and post.image != '' %}
                                    <p>
                                        <a href="#">
                                            <img src="{{ post.image.imagefile.url }}" alt="{% trans 'Contact' %}" class="img-responsive img-thumbnail" />
                                        </a>
                                    </p>
                                    {% endif %}
                                    <h4>{{ post.name }}</h4>
                                    <p>{{ post.description }}</p>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-right">
                                        <a onclick="ajax_like({{ post.id }});"
                                                id="id_like_{{ post.id }}"
                                             class="text-muted">
                                        <em class="fa fa-thumbs-o-up fa-fw"></em>
                                        <span id="id_liked_count_{{ post.id }}">({{ post.likers.count }})</span>
                                        </a>
                                    </div>
                                    <p>
                                        {% for tag in post.tags.all %}
                                            {{ tag }}{% if not forloop.last %}, {% endif %}
                                        {% empty %}
                                            &nbsp;
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-lg-4">
                    </div>
                    {% endfor %}
                    <!-- end Item -->

                </div>
                <!-- end Body column -->
            </div>
        </div>
        <!-- end Blog Content-->
        <!-- Blog Sidebar column -->
        <div class="col-lg-3">
            {% comment %}
            <!-- Ads-->
            <div class="panel panel-default">
                <div class="panel-heading">Ads</div>
                <div class="panel-body">
                    <a href="">
                    <img src="img/mockup.png" class="img-responsive img-thumbnail" />
                    </a>
                </div>
            </div>
            <!-- end Ads-->
            {% endcomment %}
            <!-- Search-->
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Search' %}</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="input-group">
                            <input id="id_search" type="text" placeholder="{% trans 'Search for...' %}" class="form-control" />
                            <span class="input-group-btn">
                            <button id="id_search_btn" onclick="ajax_search();" type="button" class="btn btn-default">
                                <em class="fa fa-search"></em>
                            </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end Search-->


            <!-- Categories-->
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Tags' %}</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'tenant_community' %}">
                                <em class="fa fa-angle-right fa-fw"></em>
                                all
                            </a>
                        </li>
                        {% for tag in tags.all %}
                            <li>
                                <a href="{% url 'tenant_community' %}?tag={{ tag.id }}">
                                    <em class="fa fa-angle-right fa-fw"></em>
                                    {% if tag.id == filter_tag_id %}
                                        <b>{{ tag.name }}</b>
                                    {% else %}
                                        {{ tag.name }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- end Categories-->

            {% comment %}
            <!-- Tag Cloud-->
            <div class="panel panel-default">
                <div class="panel-heading">Tag Cloud</div>
                <div class="panel-body">
                    <div id="jqcloud" class="center-block"></div>
                </div>
            </div>
            <!-- end Tag Cloud-->
            {% endcomment %}
            <!-- POST -->
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Post to Community' %}</div>
                <div class="panel-body">
                    <form id="id_upload_div" class="form-horizontal">
                         <!-- Upload ID -->
                         <input type="hidden" id="id_hidden_upload_id" />
                         <input type="hidden" id="id_hidden_url" />
                         <!-- end Upload ID -->

                         <!-- Image Placeholder -->
                         <img id="id_image_placeholder" src="{% static 'app/img/dummy.png' %}" alt="Contact" class="center-block img-responsive img-thumbnail thumb96" />
                         <!-- end Image Placeholder -->

                         <br />

                         <label class="form-control btn btn-success mt10 curp" >
                             <em class="fa fa-upload"></em>&nbsp;&nbsp; {% trans 'Upload Picture...' %}
                         <input id="id_image"
                          onchange="ajax_upload_image();"
                              type="file"
                             class="form-control mb10 hide"
                              name="product-image" />
                          </label>

                        <br />
                        <br />

                    </form>

                    <form class="form-horizontal">
                        <input id="id_post_title" type="text" placeholder="Title" class="form-control">
                    </form>

                    <form method="post" action="" class="mb mt">
                        <textarea id="id_post_description" rows="4" placeholder="Post a new comment.." class="form-control"></textarea>
                    </form>

                    <select id="select2-1" multiple="multiple" class="form-control">
                        {% for tag in tags.all %}
                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    </select>

                    <br />

                    <div class="clearfix">
                        <div class="pull-left">
                            <ul class="nav nav-pills">
                                {% comment %}
                                <li>
                                    <a href="#">
                                        <em class="fa fa-location-arrow"></em>
                                    </a>
                                </li>
                                {% endcomment %}
                                <li>
                                    <a onclick="ajax_enable_picture_upload();">
                                        <em class="fa fa-photo"></em>
                                    </a>
                                </li>
                                {% comment %}
                                <li>
                                    <a href="#">
                                        <em class="fa fa-video-camera"></em>
                                    </a>
                                </li>
                                {% endcomment %}
                            </ul>
                        </div>
                        <div class="pull-right">
                            <button id="id_post_btn"
                                onclick="ajax_post();" type="button" class="btn btn-success">{% trans 'Post' %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end POST -->
        </div>
        <!-- end Blog Sidebar column -->
    </div>

    <!-- PAGINATION -->
    <br />
    <div class="row">
        <div class="col-lg-12">
           <nav>
              <ul class="pager">
                 <li>
                     {% if posts.has_previous %}
                         <a href="?page={{ posts.previous_page_number }}">{% trans 'previous' %}</a>
                     {% endif %}
                 </li>
                 <li>
                     <span class="current">
                         {% trans 'Page' %} {{ posts.number }} of {{ posts.paginator.num_pages }}.
                     </span>
                 </li>
                 <li>
                     {% if posts.has_next %}
                         <a href="?page={{ posts.next_page_number }}">{% trans 'next' %}</a>
                     {% endif %}
                 </li>
              </ul>
           </nav>
        </div>
    </div>
    <!-- end PAGINATION -->
</div>
{% endblock content %}
