{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/round_1/3/js.html' %}
    {% endcompress %}
    <!-- end PAGE JS -->
    <!-- PAGE CONTENT -->
    <div class="content-wrapper">
        <h3 class="blk-h3">{% trans 'Entrepreneur Intake Form - Round One' %}</h3>
    
                        {% for field in form %}
                            {% if field.id_for_label == 'id_do_you_own_a_biz' or field.id_for_label == 'id_do_you_own_a_biz_other' %}
                                <div class="form-group" id="{{ field.id_for_label }}_div">
                                    <h2 class="text-center pv">
                                        <label for="signupInputText1" style="font-weight: 400;">{{ field.label_tag }}</label>
                                    </h2>
                                    <div class="col-sm-6 col-centered">
                                        {{ field }}
                                        {{ field.errors }}<br/>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {{ form.non_field_errors }}
                   
            <div class="actions text-center clearfix">
                    <button id="id_back_btn" type="button" class="btn btn-block btn-default btn-lg mt-lg mb-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                    <button id="id_continue_btn" type="button" class="btn btn-block btn-primary btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Next' %}</button>
            </div>
</div>
{% endblock content %}
