{% load i18n %}
<div class="panel b">
    <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Organization Settings' %}</div>
    <div class="list-group">
        <a href="{% url 'tenant_profile_setting_organization_profile' %}" class="list-group-item">{% trans 'Profile' %}</a>
        <a href="{% url 'tenant_profile_setting_organization_address' %}" class="list-group-item">{% trans 'Address' %}</a>
        <a href="{% url 'tenant_profile_setting_organization_preferences' %}" class="list-group-item">{% trans 'Preferences' %}</a>
        <a href="{% url 'tenant_profile_setting_organization_program_tags' %}" class="list-group-item">{% trans 'Program Tags' %}</a>
        <a href="{% url 'tenant_profile_setting_organization_client_tags' %}" class="list-group-item">{% trans 'Client Tags' %}</a>
        <a href="{% url 'tenant_profile_setting_organization_perks' %}" class="list-group-item">{% trans 'Perks' %}</a>
        <a href="{% url 'tenant_profile_setting_organization_affiliate_links' %}" class="list-group-item">{% trans 'Affiliate Links' %}</a>
    </div>
</div>