{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress foundation_tenant_tags thumbnail %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    <script>
    $(document).ready(function () {
        // Detect table click and the row index clicked then run the code.
        $(document).on("click", '#id_table tr', function(){
            var clicked_url = $(this).attr("id");
            window.location = clicked_url;
        });
    });
    </script>
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'public_index' %}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception' %}">{% trans 'Reception' %}</a>
        </li>
        <li class="active">{% trans 'Message' %}</li>
    </ol>
    <!-- end BREADCRUMBS -->
    <!-- CONTENT -->
    <div class="table-grid table-grid-desktop">

        <div class="col">

            <!-- START action buttons-->
            <div class="clearfix mb">
                <div style="max-width: 200px;text-align: center;margin: auto">
                    <a href="{% url 'tenant_reception_message_create' %}" class="btn btn-purple btn-sm mb-compose-button">
                        <em class="fa fa-pencil"></em>
                        <span>{% trans 'Compose' %}</span>
                    </a>
                </div>
            </div>
            <!-- END action buttons-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- p.lead.text-centerNo mails here-->
                    <table id="id_table" class="table table-hover mb-mails">
                        <tbody>
                            <!-- ngRepeat: mail in mails | filter:folder-->
                            {% for message in messages.all %}
                            <tr id="{% if message.sender == request.tenant_me %}
                                        {% url 'tenant_reception_message_detail' message.recipient.id %}
                                    {% else %}
                                        {% url 'tenant_reception_message_detail' message.sender.id %}
                                    {% endif %}">
                                {% comment %}
                                <td>
                                    <div class="checkbox c-checkbox">
                                        <label>
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                {% endcomment %}

                                <td>
                                    {% thumbnail message.sender.image.imagefile "64x64" format='JPEG' background="#ffffff" as im %}
                                        <img src="{{ im.url }}" alt="{% trans 'Mail Avatar' %}" width="{{ im.width }}" height="{{ im.height }}" class="mb-mail-avatar pull-left">
                                    {% empty %}
                                        <img src="{% static 'app/img/dummy64x64.png' %}" alt="{{ intake.me.name }} Avatar" width="{{ im.width }}" height="{{ im.height }}" class="mb-mail-avatar pull-left">
                                    {% endthumbnail %}
                                    <div class="mb-mail-date pull-right">
                                        {{ message.date_received }}
                                    </div>
                                    <div class="mb-mail-meta">
                                        <div class="pull-left">
                                            <!-- <div class="mb-mail-subject">Admin web application</div> -->
                                            <div class="mb-mail-from">
                                                {{ message.sender.owner.first_name }} {{ message.sender.owner.last_name }}
                                            </div>
                                        </div>
                                        <div class="mb-mail-preview">{{ message.description|truncatechars:64 }}</div>
                                    </div>
                                </td>

                            </tr>
                            {% empty %}
                            <tr>
                                <p>{% trans 'No messages.' %}</p>
                            </tr>
                            {% endfor %}
                            <!-- end ngRepeat: mail in mails | filter:folder-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
