{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress foundation_tenant_tags %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_reception/resource/details/js.html' %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li><a href="{% url 'tenant_reception' %}">{% trans 'Reception' %}</a></li>
        <li><a href="{% url 'tenant_reception_resource_category_master' %}">{% trans 'Resources' %}</a></li>
        <li><a href="{% url 'tenant_reception_resource_master' resource.category.id %}">{{ resource.category.name }}</a></li>
        <li class="active">{{ resource.name }}</li>
    </ol>
    <!-- end BREADCRUMBS -->
    <!-- CONTENT -->
    <div class="container-fluid">
        <!-- ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- FORM -->
                        <form method="get" action="/" class="form-horizontal">
                            <fieldset>
                                <legend>{% trans 'Details' %}</legend>
                                <!-- NAME -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Name' %}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control" id="id_name" placeholder="{% trans 'Ex.: Task' %}" value="{{ resource.name|safe }}" readonly="true" />
                                    </div>
                                </div>
                                <!-- end NAME -->
                                <br /><br />
                                <!-- DESCRIPTION -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Description' %}</label>
                                    <div class="col-sm-10">
                                        <textarea id="id_description" class="form-control" name="textarea" rows="10" placeholder="{% trans 'Please write some details about this resource.' %}" readonly="true">{{ resource.description|safe }}</textarea>
                                    </div>
                                </div>
                                <!-- end DESCRIPTION -->
                                <br /><br />

                                <!-- URL -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'URL' %}</label>
                                    <div class="col-sm-10">
                                        <!-- GROUP -->
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{ resource.url|safe }}" readonly="true" />
                                            <span class="input-group-btn">
                                                <button onclick="visit_external_url('{{ resource.url|safe }}');" type="button" class="btn btn-default">{% trans 'Go!' %}</button>
                                            </span>
                                        </div>
                                        <!-- end GROUP -->
                                    </div>
                                </div>
                                <br /><br />
                                <!-- end URL -->

                                <!-- FILE UPLOAD -->
                                {% if resource.category.id != constants.INFO_RESOURCE_CATEGORY_WEBLINK_ID %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{% trans 'File' %}</label>
                                        <div class="col-sm-10">
                                            {% if resource.upload %}
                                                <p>{% trans 'File' %}: <a href="{{ resource.upload.get_s3_url }}" target="_blank">{{ resource.upload }}</a></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br /><br />
                                {% endif %}
                                <!-- end FILE UPLOAD -->

                            </fieldset>
                            <!-- SUBMISSION -->
                            <div class="pull-right">
                                <button onclick="ajax_cancel();" type="button" class="btn btn-default btn-lg" id="id_accept_btn">{% trans 'Ok' %}</button>
                            </div>
                            <!-- end SUBMISSION -->
                        </form>
                        <!-- end FORM -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end ROW -->
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
