{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress foundation_tenant_tags %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_reception/resource/details/js.html' %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'public_index' %}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception' %}">{% trans 'Reception' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception_resource_master' %}">{% trans 'Resources' %}</a>
        </li>
        <li class="active">{{ resource.name }}</li>
    </ol>
    <!-- end BREADCRUMBS -->
    <!-- CONTENT -->
    <div class="container-fluid">
        <!-- ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- FORM -->
                        <form method="get" action="/" class="form-horizontal">
                            <fieldset>
                                <legend>{% trans 'Details' %}</legend>
                                <!-- NAME -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Name' %}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control" id="id_name" placeholder="{% trans 'Ex.: Task' %}" value="{{ resource.name|safe }}" readonly="true" />
                                    </div>
                                </div>
                                <!-- end NAME -->
                                <br /><br />
                                <!-- DESCRIPTION -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Description' %}</label>
                                    <div class="col-sm-10">
                                        <textarea id="id_description" class="form-control" name="textarea" rows="10" placeholder="{% trans 'Please write some details about this resource.' %}" readonly="true">{{ resource.description|safe }}</textarea>
                                    </div>
                                </div>
                                <!-- end DESCRIPTION -->
                                <br /><br />

                                {% comment %}
                                    INFO_RESOURCE_INTERAL_URL_TYPE = 1
                                    INFO_RESOURCE_EXTERNAL_URL_TYPE = 2
                                    INFO_RESOURCE_EMBEDDED_YOUTUBE_VIDEO_TYPE = 3
                                    INFO_RESOURCE_INTERNAL_VIDEO_TYPE = 4
                                    INFO_RESOURCE_INTERNAL_FILE_TYPE = 5
                                {% endcomment %}

                                <!-- URL -->
                                {% if resource.type_of == constants.INFO_RESOURCE_EXTERNAL_URL_TYPE or resource.type_of == constants.INFO_RESOURCE_INTERAL_URL_TYPE%}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'URL' %}</label>
                                    <div class="col-sm-10">
                                        <!-- GROUP -->
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{ resource.url|safe }}" readonly="true" />
                                            <span class="input-group-btn">
                                                {% if resource.type_of == constants.INFO_RESOURCE_INTERAL_URL_TYPE %}
                                                    <button onclick="visit_internal_url('{{ resource.url|safe }}');" type="button" class="btn btn-default">{% trans 'Go!' %}'</button>
                                                {% elif resource.type_of == constants.INFO_RESOURCE_EXTERNAL_URL_TYPE %}
                                                    <button onclick="visit_external_url('{{ resource.url|safe }}');" type="button" class="btn btn-default">{% trans 'Go!' %}'</button>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <!-- end GROUP -->
                                    </div>
                                </div>
                                <br /><br />
                                {% endif %}
                                <!-- end URL -->

                                <!-- FILE UPLOAD -->
                                {% if resource.type_of == constants.INFO_RESOURCE_INTERNAL_FILE_TYPE %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{% trans 'File' %}</label>
                                        <div class="col-sm-10">
                                            {% if resource.upload %}
                                                <p>{% trans 'File' %}: <a href="{{ resource.upload.get_s3_url }}" target="_blank">{{ resource.upload }}</a></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br /><br />
                                {% endif %}
                                <!-- end FILE UPLOAD -->
                                <!-- VIDEO UPLOAD -->
                                {% if resource.type_of == constants.INFO_RESOURCE_INTERNAL_VIDEO_TYPE %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'File' %}</label>
                                    <div class="col-sm-10">
                                        <video width="480" height="320" controls="controls">
                                            <source src="{{ resource.upload.get_s3_url }}" type="video/mp4">
                                        </video>
                                    </div>
                                    <br /><br />
                                </div>
                                {% endif %}
                                <!-- end VIDEO UPLOAD -->
                                <!-- YOUTUBE -->
                                {% if resource.type_of == constants.INFO_RESOURCE_EMBEDDED_YOUTUBE_VIDEO_TYPE %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'YouTube Video' %}</label>
                                    <div class="col-sm-10">
                                        <iframe width="560" height="315" src="{{ resource.url }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <br /><br />
                                </div>
                                {% endif %}
                                <!-- end YOUTUBE -->

                            </fieldset>
                            <!-- SUBMISSION -->
                            <div class="pull-right">
                                <button onclick="ajax_cancel();" type="button" class="btn btn-default btn-lg" id="id_accept_btn">{% trans 'Ok' %}</button>
                            </div>
                            <!-- end SUBMISSION -->
                        </form>
                        <!-- end FORM -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end ROW -->
    </div>
    <!-- end CONTENT -->
</div>
<!-- end PAGE HTML -->
{% endblock content %}
