{% load i18n %}
<script type="text/javascript">
    (function(window, document, $, undefined){

      $(function(){

        //
        // Zero configuration
        //

        $('#datatable1').dataTable({
            'paging':   true,  // Table pagination
            'ordering': true,  // Column ordering
            'info':     true,  // Bottom left status text
            // Text translation options
            // Note the required keywords between underscores (e.g _MENU_)
            oLanguage: {
                sSearch:      'Search all columns:',
                sLengthMenu:  '_MENU_ records per page',
                info:         'Showing page _PAGE_ of _PAGES_',
                zeroRecords:  'Nothing found - sorry',
                infoEmpty:    'No records available',
                infoFiltered: '(filtered from _MAX_ total records)'
            }
        });


        //
        // Filtering by Columns
        //

        var dtInstance2 = $('#datatable2').dataTable({
            'paging':   true,  // Table pagination
            'ordering': true,  // Column ordering
            'info':     true,  // Bottom left status text
            // Text translation options
            // Note the required keywords between underscores (e.g _MENU_)
            oLanguage: {
                sSearch:      'Search all columns:',
                sLengthMenu:  '_MENU_ records per page',
                info:         'Showing page _PAGE_ of _PAGES_',
                zeroRecords:  'Nothing found - sorry',
                infoEmpty:    'No records available',
                infoFiltered: '(filtered from _MAX_ total records)'
            }
        });
        var inputSearchClass = 'datatable_input_col_search';
        var columnInputs = $('tfoot .'+inputSearchClass);

        // On input keyup trigger filtering
        columnInputs
          .keyup(function () {
              dtInstance2.fnFilter(this.value, columnInputs.index(this));
          });
      });

    })(window, document, window.jQuery);

    function ajax_delete_employee(me_id) {
        $('#id_delete_'+me_id+'_btn').prop("disabled", true); // Disable button.
        delete_tenant_me(
            me_id,
            function(result) {
                location.reload(true); // Reload the page.
            },
            function(error_json_result) {
                $('#id_delete_'+me_id+'_btn').prop("disabled", false); // Disable button.
                var string = JSON.stringify( error_json_result );
                console.log(error_json_result);
                if (string.indexOf('Cannot delete upper-tier management user') > -1) {
                    alert("{% trans 'Cannot delete upper-tier management user.' %}");
                } else {
                    alert(string);
                }
            }
        );
    }

    function ajax_create_employee() {
        window.location = "{% url 'tenant_team_create' %}";
    }

    function ajax_edit_employee(me_id) {
        $('#id_edit_'+me_id+'_btn').prop("disabled", true); // Disable button.
        // Generate our new URL.
        var url = "{% url 'tenant_team_update' 'placeholder' %}";
        var details_url = url.replace("placeholder", me_id);
        window.location = details_url;
    }
</script>
