{% load i18n %}
<script>
    function ajax_api_login(username, password, success_callback, error_callback) {
        sign_in(
            username,
            password,
            function(json_result) {
                console.log("ajax_login: SUCCESS");
                console.log(json_result);
                success_callback();
            },
            function(error_json_result) {
                console.log("ajax_login: ERROR");
                console.log(error_json_result);
                // Do nothing.
            }
        ); // End Login
    }

    function ajax_login() {
        // Defensive Code: Name handling.
        if( $('#id_email').val() == "" ){
            alert("Missing Email");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please enter your first name." %}');
            return;
        }
        if( $('#id_password').val() == "" ){
            alert("Missing Password");
            //$('#login-popup').popup('open');
            //$('#id_error').html('{% trans "Please enter your last name." %}');
            return;
        }

        ajax_api_login(
            $('#id_email').val(),
            $('#id_password').val(),
            function(login_json_result) {

                console.log(login_json_result); // Debugging purposes only.
                window.location = "{% url 'public_user_launchpad' %}";

            },
            function(login_error_json_result) {

                console.log(login_error_json_result);

            }
        ); // end Login
    }
</script>
