{% load staticfiles i18n compress %}
<!-- <div class="panel-heading">Context Classes</div> -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID #</th>
                    <th>{% trans 'Document Name' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents.all %}
                    {% if document.is_ready %}
                        <tr class="success">
                    {% else %}
                        {% if document.has_pending_review %}
                            <tr class="warning">
                        {% else %}
                            <tr class="danger">
                        {% endif %}
                    {% endif %}
                    <td>{{ document.id }}</td>
                    <td>{{ document|escape|safe }}</td>
                    <td>
                        {% if document.is_ready %}
                            {% trans 'Ready' %}
                        {% else %}
                            {% if document.has_pending_review %}
                                {% trans 'Pending advisor review' %}
                            {% else %}
                                {% trans 'Needs to be done' %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>&nbsp;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
