{% load staticfiles i18n compress %}
<!-- <div class="panel-heading">Context Classes</div> -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Document Name' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'File' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents.all %}
                    {% if document.status == constants.DOCUMENT_READY_STATUS %}
                        <tr class="success">
                    {% elif document.status == constants.DOCUMENT_PENDING_REVIEW_STATUS %}
                        <tr class="warning">
                    {% elif document.status == constants.DOCUMENT_CREATED_STATUS %}
                        <tr class="danger">
                    {% endif %}
                    <td>{{ document|escape|safe }}</td>
                    <td>
                        {% if document.status == constants.DOCUMENT_READY_STATUS %}
                            {% trans 'Ready' %}
                        {% elif document.status == constants.DOCUMENT_PENDING_REVIEW_STATUS %}
                            {% trans 'Pending Review' %}
                        {% elif document.status == constants.DOCUMENT_CREATED_STATUS %}
                            {% trans 'Needs to be done' %}
                        {% endif %}
                    </td>
                    <td>
                        {% if document.docxpresso_file %}
                        <a href="{{ document.docxpresso_file.datafile.url }}">
                        <button type="button" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="fa fa-cloud-download"></i>
                            </span>{% trans 'Download' %}
                        </button>
                        </a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
