{% load i18n %}
<div class="row">
    {% for module in modules.all %}
    <div class="col-md-4">
        <div class="panel b">
            <div class="panel-body text-center">
                <a href="{% url 'tenant_workspace_module_start_master' workspace.id module.id %}" class="link-unstyled text-primary">
                <em class="fa fa-5x {{ module.icon }} mb-lg"></em>
                <br>
                <span class="h4">{{ module.title }}</span>
                <br>
                <small class="text-muted">{% trans 'Begin' %}&nbsp;&rarr;</small>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
