{% load i18n %}
<script type="text/javascript">
    $(document).ready(function () {
        // Prevent the Advisor from making any modifications on the Entrepreneur inputted data.
        $('#id_how_can_we_help').prop("disabled", true);
        $('#id_how_can_we_help_other').prop("disabled", true);
        $('#id_how_can_we_help_tag').prop("disabled", true);
        $('#id_how_did_you_hear').prop("disabled", true);
        $('#id_how_did_you_hear_other').prop("disabled", true);
        $('#id_do_you_own_a_biz').prop("disabled", true);
        $('#id_do_you_own_a_biz_other').prop("disabled", true);
        $('#id_how_to_contact').prop("disabled", true);
        $('#id_how_to_contact_telephone').prop("disabled", true);
        $('#id_how_to_contact_times').prop("disabled", true);
    });

    function ajax_reject() {
        $('#id_reject_btn').prop("disabled", true);
        var comment = $.trim($('#id_review').val());
        tenant_intake_judge(
            {{ intake.id }},
            4, // contants.REJECTED_STATUS
            comment,
            false,
            function(json_result) {
                window.location = "{% url 'tenant_intake_employee_master' %}";
            },
            function(error_json_result) {
                $('#id_how_can_we_help').prop("id_reject_btn", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Review
    }

    function ajax_accept() {
        $('#id_accept_btn').prop("disabled", true);
        var comment = $.trim($('#id_review').val());
        tenant_intake_judge(
            {{ intake.id }},
            5, // contants.APPROVED_STATUS
            comment,
            false,
            function(json_result) {
                window.location = "{% url 'tenant_intake_employee_master' %}";
            },
            function(error_json_result) {
                $('#id_accept_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Review
    }
</script>
