{% load i18n %}
<script type="text/javascript">
    $(document).ready(function () {
        // Prevent the Advisor from making any modifications on the Entrepreneur inputted data.
        $('#id_how_can_we_help').prop("disabled", true);
        $('#id_how_can_we_help_other').prop("disabled", true);
        $('#id_how_can_we_help_tag').prop("disabled", true);
        $('#id_how_did_you_hear').prop("disabled", true);
        $('#id_how_did_you_hear_other').prop("disabled", true);
        $('#id_do_you_own_a_biz').prop("disabled", true);
        $('#id_do_you_own_a_biz_other').prop("disabled", true);
        $('#id_has_telephone').prop("disabled", true);
        $('#id_telephone').prop("disabled", true);
        $('#id_telephone_time').prop("disabled", true);
        $('#id_government_benefits').prop("disabled", true);
        $('#id_government_benefits_0').prop("disabled", true);
        $('#id_government_benefits_1').prop("disabled", true);
        $('#id_government_benefits_2').prop("disabled", true);
        $('#id_government_benefits_3').prop("disabled", true);
        $('#id_government_benefits_4').prop("disabled", true);
        $('#id_government_benefits_5').prop("disabled", true);
        $('#id_government_benefits_6').prop("disabled", true);
        $('#id_other_government_benefit').prop("disabled", true);
        $('#id_identities').prop("disabled", true);
        $('#id_identities_0').prop("disabled", true);
        $('#id_identities_1').prop("disabled", true);
        $('#id_identities_2').prop("disabled", true);
        $('#id_identities_3').prop("disabled", true);
        $('#id_identities_4').prop("disabled", true);
        $('#id_identities_5').prop("disabled", true);
        $('#id_identities_6').prop("disabled", true);
        $('#id_identities_7').prop("disabled", true);
        $('#id_identities_8').prop("disabled", true);
        $('#id_identities_9').prop("disabled", true);
        $('#id_date_of_birth').prop("disabled", true);
        $('#id_naics_depth_one').prop("disabled", true);
        $('#id_naics_depth_two').prop("disabled", true);
        $('#id_naics_depth_three').prop("disabled", true);
        $('#id_naics_depth_four').prop("disabled", true);
        $('#id_naics_depth_five').prop("disabled", true);
        $('#id_has_signed_privacy_and_terms').prop("disabled", true);
        $('#id_has_signed_confidentiality_agreement').prop("disabled", true);
        $('#id_has_signed_collection_and_use_of_information').prop("disabled", true);
        $('#id_has_signed_with_name').prop("disabled", true);
        $('#id_has_signed_on_date').prop("disabled", true);

        // Hide empy fields.
        var how_can_we_help_other = $('#id_how_can_we_help_other').val();
        if (how_can_we_help_other <=0 ) {
            $('#id_how_can_we_help_other_div').hide();
        }

        var how_did_you_hear_other = $('#id_how_did_you_hear_other').val();
        if (how_did_you_hear_other <=0 ) {
            $('#id_how_did_you_hear_other_div').hide();
        }

        var do_you_own_a_biz_other = $('#id_do_you_own_a_biz_other').val();
        if (do_you_own_a_biz_other <=0 ) {
            $('#id_do_you_own_a_biz_other_div').hide();
        }

        var other_government_benefit = $('#id_other_government_benefit').val();
        if (other_government_benefit <=0 ) {
            $('#id_other_government_benefit_div').hide();
        }

        var telephone = $('#id_telephone').val();
        if (telephone <=0 ) {
            $('#id_telephone_div').hide();
            $('#id_telephone_time_div').hide();
        }
    });

    function ajax_reject() {
        var comment = $.trim($('#id_review').val());
        if (comment <=0) {
            alert("{% trans 'Please leave a comment why you rejected this User.' %}");
            return;
        }
        $('#id_reject_btn').prop("disabled", true);
        tenant_intake_judge(
            {{ intake.id }},
            4, // contants.REJECTED_STATUS
            comment,
            false,
            function(json_result) {
                window.location = "{% url 'tenant_intake_employee_master' %}";
            },
            function(error_json_result) {
                $('#id_how_can_we_help').prop("id_reject_btn", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Review
    }

    function ajax_accept() {
        $('#id_accept_btn').prop("disabled", true);
        var comment = $.trim($('#id_review').val());
        if (comment <=0) {
            alert("{% trans 'Please leave a comment why you accepted this User.' %}");
            return;
        }
        tenant_intake_judge(
            {{ intake.id }},
            5, // contants.APPROVED_STATUS
            comment,
            false,
            function(json_result) {
                window.location = "{% url 'tenant_intake_employee_master' %}";
            },
            function(error_json_result) {
                $('#id_accept_btn').prop("disabled", false);
                var string = JSON.stringify( error_json_result );
                console.log(string);
                alert(string);
            }
        ); // end Review
    }
</script>
