{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_configuration/entrepreneur/1_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'Welcome to Stage 2!' %}</h2>
    <p class="text-center pv">
        We just need a few more details to finish setting up your SMEGurus profile so you can continue developing your business idea. You can always change these later in your settings menu. Let's get started!
    </p>
    <br/>

    <a onclick="ajax_cancel_and_continue();"
            id="id_skip_btn"
         class="btn btn-block btn-primary btn-lg">{% trans 'Begin' %}</a>

{% endblock content %}
