{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_configuration/entrepreneur/1_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'Welcome to Stage 2!' %}</h2>
    <p class="text pv">
        Let's complete your profile so we can better give you the support that you need.
    </p>
    <p class="text pv">
        You will be able to add am optional profile pic to customize your experience - just make sure it is appropriate because it will be viewable by your advisor, your host organization's staff, and entrepreneurs in your class.
    </p>

    <br/>

    <a onclick="ajax_cancel_and_continue();"
            id="id_skip_btn"
         class="btn btn-block btn-primary">{% trans 'Begin' %}</a>

{% endblock content %}
