{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });
    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save & Continue' %}");
    }

    function ajax_cancel_and_continue() {
        window.location = "{% url 'foundation_auth_config_entr_step_four' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.
        
    }

</script>
