{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_configuration/entrepreneur/3_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'I identify as ...' %}</h2>

    <!-- HTML -->
    <fieldset id="questionForm">
        <!-- ROW 1 -->
        <div class="form-group">
            
            <div class="col-sm-12">

                <!-- MALE OPTION -->
                <div class="radio">
                    <label>
                        <input id="optionsRadios_male" {% if request.tenant_me.gender == constants.ME_MALE_GENDER_ID %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="{{ constants.ME_MALE_GENDER_ID }}" />
                        {% trans 'Male' %}
                    </label>
                </div>
                <!-- end MALE OPTION -->

                <!-- FEMALE OPTION -->
                <div class="radio">
                    <label>
                        <input id="optionsRadios_female" {% if request.tenant_me.gender == constants.ME_FEMALE_GENDER_ID %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="{{ constants.ME_FEMALE_GENDER_ID }}" />
                        {% trans 'Female' %}
                    </label>
                </div>
                <!-- end FEMALE OPTION -->

                <!-- ANOTHER OPTION -->
                <div class="radio">
                    <label>
                        <input id="optionsRadios_another" {% if request.tenant_me.gender == constants.ME_ANOTHER_GENDER_ID %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="{{ constants.ME_ANOTHER_GENDER_ID }}" />
                            {% trans 'Another' %}
                    </label>
                </div>
                <!-- end ANOTHER OPTION -->

                <!-- ANOTHER OPTION -->
                <div class="radio">
                    <label>
                        <input id="optionsRadios_other" {% if request.tenant_me.gender == constants.ME_OTHER_GENDER_ID %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="Other" />
                            {% trans 'Other' %}
                    </label>
                </div>
                <!-- end ANOTHER OPTION -->

            </div>
        </div>
        <!-- end ROW 1 -->

        <br />

        <!-- ROW 2 -->
        <div class="form-group" id="id_gender_other_div" {% if not picked.var_1_other %}style="display: none;"{% endif %}>
            <label class="col-sm-4 control-label" style="text-align: right;">{% trans 'Other' %}</label>
            <div class="col-sm-8">
                <input id="id_gender_other" type="text" class="form-control" placeholder="{% trans 'Please specify here...' %}" value="{{ request.tenant_me.gender_other }}" maxlength="127" />
            </div>
        </div>
        <!-- end ROW 2 -->


    </fieldset>
    <!-- end HTML -->


    <br/>

    <button onclick="ajax_save_and_continue();"
                 id="id_continue_btn"
               type="button"
              class="btn btn-block btn-primary mt-lg">{% trans 'Save &amp; Continue' %}</button>

{% endblock content %}