{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });
    }); // end Ready

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save &amp; Continue' %}");
    }

    function ajax_back() {
        window.location = "{% url 'foundation_auth_config_entr_step_three' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.

        // Iterate through all the Tags in our Organization and check to see
        // if the User clicked on any particular tags.
        var tags = [];
        {% for tag in tags.all %}
            var is_checked = $('#id_{{ tag.id }}').is(':checked');
            if (is_checked) {
                // Attach this particular Tag to the User's profile.
                tags.push({{ tag.id }});
            }
        {% endfor %}

        // Update the User profile with our new Tags.
        get_tenant_me(                  // Get User profile.
            {{ request.tenant_me.id }},
            function(me) {
                me['tags'] = tags;      // Assign tags.
                set_tenant_me(          // Save tags.
                    me,
                    function(json_result) {
                        enable_btn();
                        var string = JSON.stringify( json_result );
                        console.log(string);
                        window.location = "{% url 'foundation_auth_config_entr_step_five' %}";
                    },
                    function(error_json_result) {
                        enable_btn();
                        var string = JSON.stringify( error_json_result );
                        console.log(error_json_result);
                        alert(string);
                    }
                ); // end Set Me
            },
            function(err) {
                enable_btn();
                var string = JSON.stringify( err );
                console.log(err);
                alert(string);
            }
        ); // end Get Me
    }

</script>
