{% load i18n %}
<script>
    $(document).ready(function () {
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        });

        // Detect User clicking on one of the Radio buttons.
        $("input[name=optionsRadios]").click(function(){
            // Do nothing.
        }); // end RADIO CLICK DETECTION HANDLER
    }); // end DOCUMENT START

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true);
        $('#id_continue_btn').val("{% trans 'Please Wait...' %}");
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false);
        $('#id_continue_btn').val("{% trans 'Save & Continue' %}");
    }

    function ajax_cancel_and_continue() {
        window.location = "{% url 'foundation_auth_config_entr_step_four' %}";
    }

    function ajax_save_and_continue() {
        //disable_btn(); // Disable the button so no multiple presses happen.

        // Detect checked value.
        var input_1 = $('#id_place_of_birth').val();

        // Either load up an error telling the user to pick an option
        // or load up the next page.
        if (typeof input_1 === "undefined" || input_1 == "") {
            alert("{% trans 'Please select an option.' %}");
            return;
        }

        ajax_do_chain(input_1, function(json_result) {  // Update our model.
            window.location = "{% url 'foundation_auth_config_entr_step_six' %}";
        });
    }

    function ajax_do_chain(input_1, callback) {
        // Debugging purposes.
        console.log(input_1);

        disable_btn(); // Disable the button so no multiple presses happen.
        get_tenant_me(  // Fetch our Me.
            {{ request.tenant_me.owner.id }},
            function(me) {

                me['place_of_birth'] = input_1;

                set_tenant_me(  // Save our Me
                    me,
                    function(json_result) {
                        enable_btn();
                        console.log(json_result);
                        window.location = "{% url 'foundation_auth_config_entr_step_six' %}";
                    },
                    function(json_error_result) {
                        enable_btn();
                        console.log(json_error_result);
                        alert(json_error_result);
                    }
                ); // end Get Me
            },
            function(error_result) {
                enable_btn();
                console.log(error_result);
                alert(json_error_result);
            }
        );  // end Set Me
    }
</script>
