{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_configuration/entrepreneur/5_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'Highest level of education:' %}</h2>

    <!-- HTML -->
    <fieldset id="questionForm">
        <!-- ROW 1 -->
        <div class="form-group">
            <label class="col-sm-2 control-label"><!-- BLANK --></label>
            <div class="col-sm-10">

                <div class="fieldWrapper">
                    {% if form.place_of_birth.errors %}
                        <ol>
                        {% for error in form.place_of_birth.errors %}
                            <li><strong>{{ error|safe|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                    <label for="{{ form.place_of_birth.id_for_label }}">{{ form.place_of_birth.label }}:</label>
                    {{ form.place_of_birth }}
                </div>
                <!-- end EMAIL -->

            </div>
        </div>
        <!-- end ROW 1 -->

        <br />

    </fieldset>
    <!-- end HTML -->


    <br/>

    <button onclick="ajax_save_and_continue();"
                 id="id_continue_btn"
               type="button"
              class="btn btn-block btn-primary mt-lg">{% trans 'Save &amp; Continue' %}</button>

    <a onclick="ajax_cancel_and_continue();"
            id="id_skip_btn"
         class="btn btn-block btn-default">{% trans 'Skip (Not Recommended)' %}</a>

{% endblock content %}
