{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_configuration/entrepreneur/7_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'Are you enrolled in any other education or training programs?' %}</h2>

    <!-- HTML -->
    <fieldset id="questionForm">
        <!-- ROW 1 -->
        <div class="form-group">
            <label class="col-sm-2 control-label"><!-- BLANK --></label>
            <div class="col-sm-10">

                <!-- 1 OPTION -->
                <div class="radio">
                    <label>
                        <div>
                        <input id="optionsRadios_1" {% if request.tenant_me.education_or_training_status == 1 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="1" />
                            <p>{% trans 'Highschool' %}</p>
                        </div>
                    </label>
                </div>
                <!-- end 1 OPTION -->

                <!-- 2 OPTION -->
                <div class="radio">
                    <label>
                        <div>
                        <input id="optionsRadios_2" {% if request.tenant_me.education_or_training_status == 2 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="2" />
                            <p>{% trans 'Post-Secondary' %}</p>
                        </div>
                    </label>
                </div>
                <!-- end 2 OPTION -->

                <!-- 3 OPTION -->
                <div class="radio">
                    <label>
                        <div>
                        <input id="optionsRadios_3" {% if request.tenant_me.education_or_training_status == 3 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="3" />
                            <p>{% trans 'Private career training' %}</p>
                        </div>
                    </label>
                </div>
                <!-- end 3 OPTION -->

                <!-- 4 OPTION -->
                <div class="radio">
                    <label>
                        <div>
                        <input id="optionsRadios_4" {% if request.tenant_me.education_or_training_status == 4 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="4" />
                            <p>{% trans 'Specialized employment program' %}</p>
                        </div>
                    </label>
                </div>
                <!-- end 4 OPTION -->

                <!-- 5 OPTION -->
                <div class="radio">
                    <label>
                        <div>
                        <input id="optionsRadios_5" {% if request.tenant_me.education_or_training_status == 5 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="5" />
                            <p>{% trans 'other' %}</p>
                        </div>
                    </label>
                </div>
                <!-- end 75 OPTION -->

            </div>
        </div>
        <!-- end ROW 1 -->

        <br />

        <!-- ROW 2 -->
        <div class="form-group" id="id_education_or_training_status_other_div" {% if not picked.var_1_other %}style="display: none;"{% endif %}>
            <label class="col-sm-2 control-label">{% trans 'Other' %}</label>
            <div class="col-sm-10">
                <input id="id_education_or_training_status_other" type="text" class="form-control" placeholder="{% trans 'Please specify here...' %}" value="{{ request.tenant_me.education_or_training_status_other }}" maxlength="127" />
            </div>
        </div>
        <!-- end ROW 2 -->


    </fieldset>
    <!-- end HTML -->

    <br/>

    <button onclick="ajax_save_and_continue();"
                 id="id_continue_btn"
               type="button"
              class="btn btn-block btn-primary mt-lg">{% trans 'Save &amp; Continue' %}</button>

    <a onclick="ajax_cancel_and_continue();"
            id="id_skip_btn"
         class="btn btn-block btn-default">{% trans 'Skip (Not Recommended)' %}</a>

{% endblock content %}
