{% extends 'tenant_configuration/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_configuration/entrepreneur/9_js.html' %}
    {% endcompress %}

    <h2 class="text-center pv">{% trans 'What is your biggest challenge in becoming an entrepreneur?' %}</h2>

    <!-- HTML -->
    <fieldset id="questionForm">
        <!-- ROW 1 -->
        <div class="form-group">
            <div class="col-sm-5 col-centered">

                <!-- 1 OPTION -->
                <div class="radio c-radio">
                    <label>
                        <div>
                        <input id="optionsRadios_1" {% if request.tenant_me.challenges_becoming_entrepreneur == 1 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="1" />
                            <span class="fa fa-circle"></span>
                            {% trans 'My health' %}
                        </div>
                    </label>
                </div>
                <!-- end 1 OPTION -->

                <!-- 2 OPTION -->
                <div class="radio c-radio">
                    <label>
                        <div>
                        <input id="optionsRadios_2" {% if request.tenant_me.challenges_becoming_entrepreneur == 2 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="2" />
                            <span class="fa fa-circle"></span>
                            {% trans 'Childcare' %}
                        </div>
                    </label>
                </div>
                <!-- end 2 OPTION -->

                <!-- 3 OPTION -->
                <div class="radio c-radio">
                    <label>
                        <div>
                        <input id="optionsRadios_3" {% if request.tenant_me.challenges_becoming_entrepreneur == 3 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="3" />
                            <span class="fa fa-circle"></span>
                            {% trans 'Transportation' %}
                        </div>
                    </label>
                </div>
                <!-- end 3 OPTION -->

                <!-- 4 OPTION -->
                <div class="radio c-radio">
                    <label>
                        <div>
                        <input id="optionsRadios_4" {% if request.tenant_me.challenges_becoming_entrepreneur == 4 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="4" />
                            <span class="fa fa-circle"></span>
                            {% trans 'Lack of Family support' %}
                        </div>
                    </label>
                </div>
                <!-- end 4 OPTION -->

                <!-- 5 OPTION -->
                <div class="radio c-radio">
                    <label>
                        <div>
                        <input id="optionsRadios_5" {% if request.tenant_me.challenges_becoming_entrepreneur == 5 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="5" />
                            <span class="fa fa-circle"></span>
                            {% trans 'Language skills' %}
                        </div>
                    </label>
                </div>
                <!-- end 5 OPTION -->

                <!-- 6 OPTION -->
                <div class="radio c-radio">
                    <label>
                        <div>
                        <input id="optionsRadios_6" {% if request.tenant_me.challenges_becoming_entrepreneur == 6 %}checked="checked"{% endif %}
                             type="radio"
                             name="optionsRadios"
                            value="6" />
                            <span class="fa fa-circle"></span>
                            {% trans 'other' %}
                        </div>
                    </label>
                </div>
                <!-- end 6 OPTION -->

            </div>
        </div>
        <!-- end ROW 1 -->

        <br />

        <!-- ROW 2 -->
        <div class="form-group" id="id_challenges_becoming_entrepreneur_other_div" {{% if not request.tenant_me.challenges_becoming_entrepreneur_other %}style="display: none;"{% endif %}>
            <label class="col-sm-4 control-label" style="text-align: right;">{% trans 'Other' %}</label>
            <div class="col-sm-5">
                <input id="id_challenges_becoming_entrepreneur_other" type="text" class="form-control input-lg" placeholder="{% trans 'Please specify here...' %}" value="{{ request.tenant_me.challenges_becoming_entrepreneur_other }}" maxlength="127" />
            </div>
        </div>
        <!-- end ROW 2 -->


    </fieldset>
    <!-- end HTML -->

    <br/>

    <button onclick="ajax_save_and_continue();"
                 id="id_continue_btn"
               type="button"
              class="btn btn-block btn-primary mt-lg">{% trans 'Save &amp; Continue' %}</button>

    <a onclick="ajax_cancel_and_continue();"
            id="id_skip_btn"
         class="btn btn-block btn-default">{% trans 'Skip (Not Recommended)' %}</a>

{% endblock content %}
