{% extends 'tenant_reception/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
<!-- PAGE JS -->
{% compress js inline %}
    {% include 'tenant_reception/task/details/generic/js.html' %}
{% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE CONTENT -->
<div class="content-wrapper">
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'public_index' %}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception' %}">{% trans 'Reception' %}</a>
        </li>
        <li>
            <a href="{% url 'tenant_reception_tasks_master' %}">{% trans 'Tasks' %}</a>
        </li>
        <li class="active">{% trans 'Task #' %}{{ task.id }}</li>
    </ol>
    <!-- end BREADCRUMBS -->
</div>
<!-- end PAGE CONTENT -->
{% endblock content %}
