{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress thumbnail %}
{% block content %}
<!-- PAGE JS -->
    {% compress js inline %}
        {% include 'tenant_profile/org/settings/program_tags/js.html' %}
    {% endcompress %}
<!-- end PAGE JS -->
<!-- PAGE HTML -->
<div class="content-wrapper">
    <div class="container-md">
        <div class="row">
            <div class="col-md-3">
                {% include 'tenant_profile/org/settings/sidebar_panel.html' with page_num=3 %}
            </div>
            <div class="col-md-9">
                <div class="tab-content p0 b0">
                    <!-- TAB -->
                    <div id="tabSetting3" class="tab-pane active">
                        <div class="panel b">
                            <div class="panel-heading bg-gray-lighter text-bold">{% trans 'Program Tags' %}</div>
                            <div class="panel-body">
                                <p class="pv">Here you can view and edit your program tags.</p>
                                <form action="">
                                    <div class="form-group col-sm-6">
                                        <label>{% trans 'Tag Name' %}</label>
                                        <input id="tags" type="text" class="form-control input-lg" disabled>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>{% trans 'Edit' %}</label>
                                        <button id="edit_tags" onclick="ajax_edit_tags();" type="button" class="btn btn-link" style="font-size: 24px;">
                                            <em class="fa fa-pencil-square-o"></em>
                                        </button>
                                    </div>
    
                                    <!-- <fieldset class="blue-lbl">
                                        <input id="tags" value="{% for tag in tags %}{{ tag }}, {% endfor %}" />
                                    </fieldset> -->
                                    
                                    <button id="id_location_btn"
                                       onclick="ajax_location();"
                                          type="button"
                                         class="btn btn-info btn-lg">{% trans 'Update Program Tags' %}</button>
                                         
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end TAB -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end PAGE HTML -->
{% endblock content %}