{% load i18n %}
<script>
    $(document).ready(function () {
        // Keypress for enter.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_continue_btn").click();
            }
        }); // end Keypress
    }); // end DOCUMENT START

    function disable_btn() {
        $('#id_continue_btn').prop("disabled", true); // Disable button.
    }

    function enable_btn() {
        $('#id_continue_btn').prop("disabled", false); // Enable button.
    }

    function ajax_back() {
        window.location = "{% url 'tenant_intake_entr_round_two_step_four' %}";
    }

    function ajax_save_and_continue() {
        disable_btn(); // Disable the button so no multiple presses happen.
        complete_tenant_intake(
            {{ intake.id }},
            function(json_result){
                window.location = "{% url 'tenant_intake_finished' %}";
            },
            function(error_result) {
                enable_btn();
                console.log(error_result);
            }
        ); // end Complete Intake
    }
</script>
