{% extends 'tenant_intake/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}
    {% compress js inline %}
        {% include 'tenant_intake/entrepreneur/round_2/5/js.html' with intake=intake %}
    {% endcompress %}
    <div class="content-wrapper">

                    <fieldset class="mgn-below">
                        <h2 class="text-center pv">{% trans 'Finish' %}</h2>
                        <p class="text-center pv">{% trans 'If you are happy with your answers, please click <b>submit</b> to continue, otherwise you can hit <b>previous</b> to go back and review your work.' %}</p>
                    </fieldset>

            <!-- FORM BUTTON -->
            <div class="actions text-center clearfix">
                        <button id="id_back_btn" type="button" class="btn btn-block btn-default mb-lg btn-lg mt-lg" onclick="ajax_back();" role="menuitem">{% trans 'Previous' %}</button>
                        <button id="id_continue_btn" type="button" class="btn btn-block btn-success btn-lg" onclick="ajax_save_and_continue();" role="menuitem">{% trans 'Submit' %}</button>
            </div>
            <!-- end FORM BUTTON -->

    </div>

{% endblock content %}
