{% extends 'foundation_tenant/base.html' %}
{% load staticfiles i18n compress %}
{% block content %}

<!-- Page content-->
<div class="content-wrapper">
   <h3>{% trans 'Composer' %}</h3>
   <div class="table-grid table-grid-desktop">

       <div class="panel panel-default">
            <div style="position: relative; overflow: hidden; width: auto; height: 450px;" class="slimScrollDiv"><div style="overflow: hidden; width: auto; height: 450px;" data-height="450" data-scrollable="" class="panel-body">
                <div class="conversation-wrapper">
                    <div class="conversation-content">
                        <div class="conversation-inner">
                            <div class="conversation-item item-left clearfix">
                                <div class="conversation-user">
                                    <img src="img/user/01.jpg" alt="avatar" class="img-circle thumb64">
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        Leslie Stewart
                                    </div>
                                    <div class="time">
                                        <em>March 10, 2015 at 12:00</em>
                                    </div>
                                    <div class="text">
                                        <p>Duis ut urna diam, ac sagittis neque. Nunc vitae ipsum elit, non lacinia dui. Curabitur porttitor fermentum dapibus. Vivamus feugiat faucibus enim. Quisque vehicula rutrum justo, sed aliquam sem fringilla nec. Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-item item-right clearfix">
                                <div class="conversation-user">
                                    <img src="img/user/02.jpg" alt="avatar" class="img-circle thumb64">
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        Terrence Moreno
                                    </div>
                                    <div class="time">
                                        <em>March 25, 2015 at 19:30</em>
                                    </div>
                                    <div class="text">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed elementum lorem dolor, id fermentum metus. In massa justo, pellentesque a porttitor sit amet, imperdiet sed nisl.</p>
                                        <p>Praesent a rhoncus magna. Integer ligula mauris, iaculis pellentesque consequat non, semper sit amet velit.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="conversation-item item-left clearfix">
                                <div class="conversation-user">
                                    <img src="img/user/01.jpg" alt="avatar" class="img-circle thumb64">
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        Leslie Stewart
                                    </div>
                                    <div class="time">
                                        <em>March 10, 2015 at 12:00</em>
                                    </div>
                                    <div class="text">
                                        <p>Duis ut urna diam, ac sagittis neque. Nunc vitae ipsum elit, non lacinia dui. Curabitur porttitor fermentum dapibus. Vivamus feugiat faucibus enim. Quisque vehicula rutrum justo, sed aliquam sem fringilla nec. Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-item" style="text-align: center;margin-top: 10px;">
                                <a href="#" class="more-messages">
                                    <em class="fa fa-plus"></em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div><div style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 450px;" class="slimScrollBar"></div><div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
        </div>

   </div>
</div>
{% endblock content %}
